.price_title{color:#888;padding-right:5px;padding-left:15px;}
.price_input_radio{color:#888;}
.price_input{width:60px;}
.price_sel{width:70px;border:1px solid #cbc9c9;padding:7px 8px;float:left;overflow:hidden;height:36px;}
.price_txt{width:60px;/*height:22px;*/border:1px solid #cbc9c9;padding:7px 8px;}
.price_tr{height:42px;}
.scanType_div{text-align: left; margin-left:50px;color:#888;width:240px}