<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.portscanEntity.AppReportMapper">
	
	<resultMap type="com.cn.ctbri.portscanEntity.AppReport" id="AppReportRM">
		<id property="id" column="id" />
		<result property="taskId" column="task_id" />
		<result property="hostStatus" column="host_status" />
		<result property="portReport" column="port_report" />   
		<result property="addTime" column="add_time" />
	</resultMap>
	
	
	<select id="getAppReportById" parameterType="Integer" resultMap="AppReportRM">
		select * from app_report
		where id=#{id}
	</select>
	
</mapper>