@charset "utf-8";
/* CSS Document */
input[type="text"]::-ms-clear{
    display:none;
}
input[type="password"]::-ms-reveal{
     display:none;
 }

 .submit{
 	font-family: "微软雅黑";
 }
.core{
	width: 1110px;
	margin: 0 auto;
	padding-top: 40px;
}
.core .coreLeft{
	width: 150px;
}
.core .coreLeft h3{
	height: 60px;
	background-color: #2499fb;
	line-height: 59px;
	font-size: 16px;
	color: #fff;
	padding-left:20px; 
}
.core .coreLeft h3 i{
	width: 22px;
	height: 22px;
	display: inline-block;
	background:url(../images/personalCenter/centerico.png) no-repeat;
	vertical-align:middle;
	margin-right: 10px;
}
.core .coreLeft dl{
	border: #e5e5e5 solid 1px;
}
.core .coreLeft dl dt{
	padding-left: 20px;
	height: 50px;
	background-color: #f3f3f3;
	color: #343434;
	line-height: 50px;
	font-size: 14px;
}
.core .coreLeft dl dd{
	border-top: #e5e5e5 solid 1px;
	height: 60px;
	padding-left: 30px;
	line-height: 60px;
	border-bottom: #e5e5e5 solid 1px;
	margin-top:-1px; 

}
.core .coreLeft dl dd a{
	font-size: 14px;
	color: #343434;
}
.core .coreLeft dl dd .active{
	color: #2499fb;
}

.core .coreRight{
	margin-left: 30px;
	display: inline;
}
.core .my-order .coreList{
	margin-bottom: 30px;
	position: relative;
}
.core .my-order .coreList .con-order{
	width: 448px;
	height: 38px;
	border: #e5e5e5 solid 1px;
	display: inline-block;
	position: relative;
}
.core .my-order .coreList .con-order .text{
	border: none;
	height: 18px;
	padding: 9px 0;
	line-height: 15px;
	width: 348px;
	padding-left: 20px;
	color: #929292;
	font-size: 14px;
}
.core .my-order .coreList .con-order .sub{
	width: 78px;
	background:none;
	background-color: #f3f3f3;
	color: #343434;
	font-size: 14px;
	height: 38px;
	line-height: 38px;
	border: none;
	border-left: #e5e5e5 solid 1px;
	cursor: pointer;
	position: absolute;
	right: 0px;
	top:0px;

}
.core .my-order .coreList .contj{
	cursor: pointer;
	position: relative;
	left: 30px;
	top:8px;	
	
}
.core .my-order .coreList .contj span .nitial{
	background:url(../images/personalCenter/down.png) no-repeat;
}
.core .my-order .coreList .contj span{
	color: #343434; 
	font-size: 14px;
	
}
.core .my-order .coreList .contj span i{
	margin-left: 10px;
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;

}

.con-order p {
    color: #929292;
    position: absolute;
    top: 8px;
    font-size: 14px;
    left: 20px;
  }
.core .my-order .coreList .contj span .initial{
	background:url(../images/personalCenter/up.png) no-repeat;
	
}

.coreList .container select{
	width: 210px;
	height: 36px;
	line-height: 36px;
	border: #e5e5e5 solid 1px; 
	padding-left: 20px;
	color: #929292;
	margin-right: 30px;
	appearance:none;
  -moz-appearance:none;
  -o-appearance:none;	
  -webkit-appearance:none;
  -ms-appearance:none;
    background: url(../images/personalCenter/downl.png) no-repeat scroll 190px center transparent;
	
}
.coreList .container select{
	
}
.coreList .container .text{
	width: 188px;
	height: 16px;
	padding: 9px 0;
	font-size: 14px;
	line-height: 16px;
	border: #e5e5e5 solid 1px; 
	padding-left: 20px;
	color: #343434;
	
}
.coreList .container em{
	width: 28px;
	font-size: 14px;
	color: #343434;
	text-align: center;
	padding-top: 6px;

}

.my-orderTabBox .TabBoxtitle{
	height: 50px;
	background: #f3f3f3;
	width: 928px;
	line-height: 49px;
}
.my-orderTabBox .TabBoxtitle span{
	font-size: 14px;
	float: left;
}
.mnlist{
	margin-top: 10px;
	border:#e5e5e5 solid 1px;
}
.mnlist .tablist-head{
	height: 49px;
	background-color: #f3f3f3;
	line-height: 48px;
	padding-left: 20px;
}
.mnlist .tablist-head span{
	font-size: 14px;
	color: #343434;
}
.listul{
	position: relative;
}
.listul li{
	min-height: 98px;
	border-right: #e5e5e5 solid 1px;
}
.listul li .tl{
	margin-left: -72px;
	padding-top: 23px;
	*position: absolute;
	*top:0;
	*left: 92px;

}


.listul li .tr h2{
	height: 100px;
	line-height: 100px;
	font-size: 14px;
	color: #5d5d5d;
	text-align: left;
	*width: 208px;
	*text-align: left;

}
.listDiv{
	border-top: #e5e5e5 solid 1px;
	height: 50px;
	line-height: 50px;
	width: 208px;
}
.listul li .listDiv p{
	color: #929292;
	margin-top:44px; 
	font-size:14px; 
	text-align:center;
	
	padding-right: 20px;

}
.listul li p{
	color: #343434;
	text-align:center;
}
.listul li .stylep{
	
	margin-top:44px; 
	font-size:14px; 
	
}
.stylep b{
	height: 18px;
	width: 18px;
	
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
/*等待*/
.stylep .wait{
	background:url(../images/personalCenter/d.png) no-repeat center;
}
/*服务中*/
.stylep .ing{
	background:url(../images/personalCenter/ing.png) no-repeat center;
}
/*已结束*/
.stylep .end{
	background:url(../images/personalCenter/end.png) no-repeat center;
}
/*已结束2*/
.stylep .endend{
	background:url(../images/personalCenter/end2.png) no-repeat center;
}
.listul li em{
	color: #929292;
}
.listul li p a{
	color: #343434;
	font-size: 14px;
}
/*个人资料*/
.dataBox{
	width: 928px;
	border: #e5e5e5 solid 1px;
}
.dataBox .data{
	height: 60px;
	line-height: 58px;
	background: #f3f3f3;
}
.dataBox .data h2{
	padding-left: 40px;
	font-size: 22px;
	color: #343434;
}
.dataBox .dataList{
	padding-top: 40px;
	padding-left: 40px;
}
.dataBox .dataList li{
	margin-bottom: 20px;
}
.dataBox .dataList li .dataListR .text{
	width: 336px;
	padding: 11px 0;
	height: 18px;
	line-height: 16px;
	font-size: 14px;
	color: #343434;
	padding-left: 20px;
	border: #e5e5e5 solid 1px;
}
.dataBox .dataList label{
	width: 60px;
	font-size: 14px;
	color: #343434;
	margin-right: 20px;
	vertical-align: middle;
	position: relative;
	top:10px;
}

.dataBox .dataList li .dataListR em{
	color: #2499fb;
	font-size: 14px;
	padding-left: 20px;
	cursor: pointer;
}
select::-ms-expand { display: none; }
.dataBox .dataList li .dataListR .scelt{
	width: 360px;
    height: 44px;
    padding-left: 20px;
    border: #e5e5e5 solid 1px;
    color: #929292;
    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;

    background: url(../images/personalCenter/scb.png) no-repeat scroll 330px center transparent;

}
.dataBox .dataList li .dataListR b{
	padding-left: 20px;
	color: #929292;
	font-size: 14px;
}
.dataBox .dataList li .submit{
	width: 360px;
	height: 52px;
	line-height: 52px;
	font-size: 18px;
	color: #fff;
	background: #5aba5f;
	border: none;
	cursor: pointer;

}
.passwordform{
	width: 550px;
	margin: 0 auto;
	position: relative;
	margin-top: 30px;
}
.passwordform .step {
    
    width: 564px;
    position:Static;
    margin: 0 auto;
  
 }
 .passwordform .step_top .sl i {
    height: 10px;
    width: 10px;
    overflow: hidden;
    background: #929292;
    position: absolute;
    top: 12px;
    left: 0px;
    border-radius: 50%;
}
 .passwordform .step_top .sl {
    width: 272px;
    display: inline-block;
    border-top: 1px solid #979797;
}
 .passwordform .step_top .sr i {
    height: 10px;
    width: 10px;
    overflow: hidden;
    position: absolute;
    top: 12px;
    left: 272px;
    border-radius: 50%;
    background: #929292;
}
.passwordform .step_top .sr {
    width: 262px;
    display: inline-block;
    border-top: 1px solid #929292;
}
.passwordform .step_bottom em {
    color: #767676;
    left: -24px;
    font-size: 14px;
    position: absolute;
    top: 4px;
}
.passwordlist{
	padding-top: 102px;
}
.passwordlist li{
	margin-bottom: 20px;
}
.passwordlist li label{
	width: 114px;
	margin-right: 20px;
	color: #343434;
	font-size: 14px;
	position: relative;
	top: 10px;
}
.passwordlist li .passwordr{
	position: relative;
}
.passwordlist li .passwordr i{
	width: 18px;
	height: 18px;
	
	position: absolute;
	top:13px;
	right: 16px;
	
}

.passwordlist li .passwordr .error{
		background:url(../images/error.png) no-repeat;
}
.passwordlist li .passwordr .right{
		background:url(../images/right.png) no-repeat;
}

.passwordlist li .passwordr .text{
	width: 298px;
	height: 16px;
	line-height: 16px;
	padding: 13px 0;
	border: #e5e5e5 solid 1px;
	font-size: 14px;
	color: #343434;
	padding-left: 20px;
}
.passwordlist li .passwordr .btn{
	width: 110px;
	height: 44px;
	line-height: 44px;
	background: #2499fb;
	color: #fff;
	display:inline-block;
	font-size: 14px;
	margin-left: 20px;
}
.passwordlist li .passwordr .submit{
	font-size: 18px;
	width: 190px;
	height: 52px;
	line-height: 52px;
	color: #fff;
	background-color: #5aba5f;
	border: none;
	
}
.passwordtwo li label{
	width: 72px;
}

.passwordtwo li .passwordr .img{
	width: 110px;
	height: 42px;
	border: #e5e5e5 solid 1px;
	margin-left: 20px;
}
.complete{
	margin-top: 130px;
}
.complete h2{
	text-align: center;
	font-size: 18px;
	color: #343434;

}
.complete h2 i{
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 14px;
	background: url(../images/personalCenter/right.png);
}
#updateError{
	width: 27px;
	height: 27px;
	background: url(../images/personalCenter/warn.png);
}
.coupon h1{
	font-size: 22px;
	color: #343434;
	padding-bottom: 30px;

}
.coupon .coupontab{
	width: 925px;
	border: #e5e5e5 solid 1px;
}
.coupon .coupontab ol{
	background-color: #f3f3f3;
	height: 60px;
	padding-left: 20px;
}
.coupon .coupontab ol li{
	float: left;
	height: 51px;
	text-align: center;
	line-height: 50px;
	margin-top: 10px;
	font-size: 14px;
	color: #343434;
	position: relative;
	cursor: pointer;
	
}
.coupon .coupontab .couponlist li{
	width: 126px;
}
.coupon .coupontab ol .active{
	background-color: #fff;
	text-align: center;
	color: #2499fb;

}

.tabBox{
	padding: 20px;
}
.tabBox ul{
	width: 888px;
}
.tabBox .not-used{
	display: none;
}
.tabBox .not-used .head{
	height: 50px;
	background-color: #f3f3f3;
	line-height: 50px;
	margin-bottom: 20px;
}
.tabBox .not-used .head span{
	font-size: 14px;
	color: #343434;

}
.tabBox .not-used .list{
	height: 100px;
	background-color: #f3f3f3;
	line-height: 100px;
	margin-top: 10px;
}
.tabBox .not-used .list span{
	font-size: 14px;
	color: #343434;
	float: left;
}
.coupon .coupontab .assets li {
	/*width: 100px;*/
	padding:0 14px;
}
.coupon .coupontab .centlist li{
	
	background-image: url(../images/personalCenter/bg.png);
	background-repeat:no-repeat;
	background-position: center right;
}
.coupon .coupontab .centlist .active{
	background-image:none;
	background-repeat:no-repeat;
	background-position: center right;
	background-color: #fff;
	text-align: center;
	color: #2499fb;

}
.coupon .coupontab .centlist .bg{
	background-image: url(../images/personalCenter/bg.png);
	background-repeat:no-repeat;
	background-position: center right;
}
.coupon .coupontab .centlist .none{
	background-image:none;
}
.assetstitle .assetstitlel{
	font-size: 14px;
	color: #2499fb;
	margin-bottom: 26px;
}
.assetstitle .assetstitlel em{
	width: 18px; 
	height: 18px;
	background: url(../images/personalCenter/add.png) no-repeat left center;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.assetstitle .assetstitlr{
	width: 448px;
	border: #e5e5e5 solid 1px;
}
.assetstitle .assetstitlr .text{
	height: 18px;
	line-height: 16px;
	padding: 9px 0px 11px 16px;
	border: none;
	width: 354px;
	color: #929292;
	float: left;
}
.assetstitle .assetstitlr .btn{
	width: 78px;
	height: 38px;
	color: #343434;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
	float: left;
	cursor: pointer;
}
.coupon .tabBox .trlist{
	height: 100px;
	background-color: #e4f3ff;
	margin-bottom: 10px;
}
.coupon .tabBox .trlist span{
	display: inline-block;
	line-height: 24px;
	font-size: 14px;
	color: #343434;
}
.coupon .tabBox .trlist span a{
	font-size: 14px;
	color: #343434;
}
.coupon .tabBox .trlist span b{
	display: block;
}

/*个人中心-首页样式*/
.personalIndex >.TabBoxtitle{
	height: 60px;
}
.personalIndex >.TabBoxtitle > dl{
	padding: 0 20px;
	line-height: 60px;
	height: 60px;
	overflow: hidden;
}
.personalIndex >.TabBoxtitle dt{
	margin-right: 30px;
	font-size: 16px;
}
.personalIndex >.TabBoxtitle dd{
	margin-right: 45px;
	font-size: 14px;
}

.personalIndex .TabBoxtitle span{
	font-size: 14px;
	color: #343434;
	float:none;
}
.personalIndex >.TabBoxtitle span em{
	padding-left: 6px;
	font-size: 14px;
	color: #d00000;
}
.personalIndex >.TabBoxtitle img{
	vertical-align: middle;
	margin-right: 10px;
}
.personalIndex .neworder{
	height: 26px;
	line-height: 20px;
	margin-top: 40px;
	margin-bottom:14px;
}
.personalIndex .neworder h4{
	font-size: 20px;
	color: #343434;

}
.personalIndex .neworder .btn{
	width: 76px;
	height: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	background-color: #2499fb;
	font-size: 14px;
	position: relative;
	top:-1px;
}
.personalIndex .tabBox{
	height: 50px;
	background-color: #f3f3f3;
	width: 100%;
	margin-bottom: 10px;

}
.personalIndex .tabBox td{
	text-align: center;
}
.Commonly-used-services{
	padding-top: 40px;
}
.Commonly-used-services h2{
	font-size: 20px;
	color: #343434;
	margin-bottom: 20px;
}
.Commonly-used-services ul li{
	width: 222px;
	height: 114px;
	border: #e5e5e5 solid 1px;
	margin-right: 10px;
	overflow: hidden;
	position: relative;
}

.Commonly-used-services ul li i{
	position:absolute;
	left: 0px; 
	top:0px;
	z-index: 10;
	display: none;	
	height: 52px;
	width: 52px;
	overflow: hidden;
	background: url(../images/portal/API_Sign.png) no-repeat left center;
}
.Commonly-used-services ul li .show{
	display: inherit;
}
.Commonly-used-services ul li p{
	text-align: center;
	padding-top: 20px;	
}

.Commonly-used-services ul li h5{
	text-align: center;
	margin-top: 6px;
}
.Commonly-used-services ul li h5 a{
	font-size: 14px;
	color: #343434;
}

/*我的余额*/
.balance .coreRight{
	width: 928px;
}
.balance .banlance_head{
	position: relative;
}
.balance .gz{
	width: 208px;
	height: 244px;
	border: #f3f3f3 solid 1px;
	background-color: #fff;
	padding: 28px 22px;
	position: absolute;
	z-index: 2;
	right: 0px;
	top:34px;
	display: none;
	border-radius: 4px;
}
.balance .gz dl{
	margin-bottom: 22px;
}
.balance .gz dl dt{
	font-size: 16px;
	color: #696969;
	margin-bottom: 24px;
	font-weight: bold;
}
.balance .gz dl dd{
	font-size: 14px;
	color: #696969;
	line-height: 22px;
}
.balance .gz dl dt i{
	padding-right: 8px;
	vertical-align: middle;
}
.balance .banlance_head .c-lan .b_aic{
	font-size: 20px;
	color: #343434;
	vertical-align: middle;
	padding-right: 20px;
}
.balance .c-lan .b_aic em{
	font-size: 24px;
	color: #d00000;
	vertical-align: middle;
	position: relative;
	top:-1px;
}
.balance .b_bic{
	background-color: #fff3dc;
	width: 188px;
	height: 34px;
	line-height: 32px;
	border-radius: 20px;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #f6a525;
	cursor: pointer;
}
.balance .b_bic i{
	width: 32px;
	/*height: 32px;*/
	display: inline-block;
	padding-right: 12px;
	vertical-align: middle;
}
.balance .gz-btn{
	color: #2499fb;
	font-size: 14px;
	text-decoration: underline;

}
.take-notes h3{
	font-size: 20px;
	color: #343434;
	margin-bottom: 20px;
}
.take-notes .tabox{
	width: 100%;
	background-color: #f3f3f3;
	margin-bottom: 10px;
}
.take-notes .tabox th{
	text-align:center;
	color: #343434;
}

.take-notes .tabox td{
	text-align:center;
	color: #343434;
}
.balance .page {
	margin-top: 50px;
	padding-left: 34%;
}
.balance .page a , .balance .page .bpage{
		display: inline-block;
		vertical-align: middle;
		border:none;
}

.balance .page ul{
	vertical-align: middle;
}

.balance .page ul li{
	margin-right: 10px;
	float: left;
	vertical-align: middle;
	background-color: #f3f3f3;
	border:none;
	
}
.balance .page ul li a{
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #acb1b6;
	border:none;

}

.balance .page .lt{
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #a1a7ad;
	margin-right: 10px;
	border:none;
	font-size: 16px;
	background:url(../images/balance/l.png) #f3f3f3 no-repeat center center;
}

.balance .page .cl_active{
		background:url(../images/balance/cl.png) #2499fb no-repeat center center;
}

.balance .page .gt{
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	font-size: 16px;
	background:url(../images/balance/r.png) #f3f3f3 no-repeat center center;
	
}
.balance .page .cr_active{
		background:url(../images/balance/cr.png) #2499fb no-repeat center center;
}

.balance .pay{
	color: #acb1b6;
	position: relative;
	top:10px;
	left: 10px;
}

/*安全态势*/
.fadeBox .not-used ul{
	width: 100%;
	margin-bottom: 20px;
}
.fadeBox .not-used ul li{
 	width: 526px;
 	text-align: center;	
 	
 	
}
.fadeBox .not-used ul:nth-child(1) li{
	height: 394px;
}
.fadeBox .not-used ul li:nth-child(1){
	margin-right: 62px;
}
.coupon .fadechid ul{
	width: 100%;
	
}
.coupon .fadechid ul:nth-child(2) li{
	height: 100px;
	margin: 20px 0;
}
.coupon .fadechid ul:nth-child(2) li:nth-child(1){
	margin-right: 62px;
}
.coupon .fadechid ul:nth-child(2) li:nth-child(3){
	margin-right: 62px;
}
.coupon .fadechid ul:nth-child(2) li img{
	width: 76px;
    height: 82px;
    vertical-align: middle;
    margin-right: 30px;
}
.coupon .fadechid ul:nth-child(2) span{
	font-size: 14px;
	font-family: "微软雅黑";
	vertical-align: middle;
	margin-right: 30px;
}
.coupon .fadechid ul:nth-child(2) strong{
	font-size: 20px;
	font-family: "微软雅黑";
	vertical-align: middle;
}
.words_map{
	position: relative;
}
.words_map .lt{
	position: absolute;
	top:0px;
	left: 10px;
	
}
.words_map .lb{
	position: absolute;
	bottom:0px;
	left: 10px;
}
/*.fadeBox .tab{
	margin-top: 100px;
}*/
.fadeBox .tab .tabList > span{
	width: 120px;
    height: 40px;
    line-height: 40px;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    float: left;
    background-color: #636363;
    border-radius: 2px;
    margin-right: 40px;
    text-align: center;
}
.fadeBox .tab .tabList .active{
	
	/*待定*/
}
.fadeBox .tab .tabList .active a{
	/*待定*/
	
}
.fadeBox .tab .tabList > span a{
	color: #fff;
}
.fadeBox .mapBox{
	/*padding-top: 40px;*/
	
}
.point h5{
	color: #333;
	font-size: 24px;
	vertical-align: middle;
	position: relative;
	top:6px;
	margin-right: 20px;
}
.point .pont{
	background: -webkit-linear-gradient(left,#7ac66e,#88ba6b,#a1a367,#be8961,#d7725d,#e5665a); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right,#7ac66e,#88ba6b,#a1a367,#be8961,#d7725d,#e5665a); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right,#7ac66e,#88ba6b,#a1a367,#be8961,#d7725d,#e5665a); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right,#7ac66e,#88ba6b,#a1a367,#be8961,#d7725d,#e5665a); /* 标准的语法 */
}
.tabBox .mapBox .list{
	height: 660px !important;
	display: none;
	width: 90%;
	background: none !important;	
}
.point .pont span{
	width: 284px;
	float: left;
	height: 38px;
	line-height: 38px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	position: relative;
}
.point .pont span i{
	position: absolute;
	left: 45%;
    top: 42px;
	width: 20px;
	height: 14px;
	background: url(../images/triangle.png) no-repeat;
}
/* .point .pont span:nth-child(1){
	background-color: #b10930;
}

.point .pont span:nth-child(2){
	background-color: #ef5f1e;
}

.point .pont span:nth-child(3){
	background-color: #fcdf32;
}
.point .pont span:nth-child(4){
	background-color: #3869ca;
} */
.exhibitionBox{
	padding-top: 40px;
}
.exhibitionBox .exhibitionList{
	height: 300px;
	margin-bottom: 40px;
	background-color: #1C94C4;
}
.exhibitionBox .exhibitionList img{
	width: 100%;
	height: 100%;
}
.exhibitionBox .exhibitionList:nth-child(3){
	width: 348px;
	margin-right: 24px;
}
.exhibitionBox .exhibitionList:nth-child(4){
	width: 348px;
	margin-right: 24px;
}
.exhibitionBox .exhibitionList:nth-child(5){
	width: 348px;
}
.mapListBox .ltmit{
	height: 300px;
	width: 100%;
	margin-bottom: 40px;
	float: left;
}

.mapListBox .ltmit:nth-child(2){
	width: 32%;
	margin-right: 2%;
}
.mapListBox .ltmit:nth-child(3){
	width: 32%;
	margin-right: 2%;
}
.mapListBox .ltmit:nth-child(4){
	width: 32%;
}
.mapListBox .ltmit img{
	height: 100%;
	width: 100%;	
}
.mapListBox .ltmit:nth-child(5){
	width: 48%;
	margin-right: 2%;
}
.mapListBox .ltmit:nth-child(6){
	width: 48%;
}
.fb{
	position: relative;
}
.fb div{
	
	position: absolute;
}
