<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.CityMapper">
	<sql id="cols">id,name,districtId</sql>

	<resultMap type="com.cn.ctbri.entity.City" id="CityRM">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="districtId" column="districtId"/>
	</resultMap>
	<!-- 查询省份 -->
    <select id="findCityList" parameterType="hashmap" resultMap="CityRM">
		select <include refid="cols"/> from cs_city where districtId=#{districtId}
    </select>
</mapper>
