<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.AlarmDDOSMapper">
	<!-- 列集合 -->
	<sql id="cols">id,attack_type,start_time_attack,attacker,duration,attack_flow,end_time,start_time_alert,taskId</sql>
	<!-- 结果对象 -->
	<resultMap type="com.cn.ctbri.entity.AlarmDDOS" id="AlarmDDOS">
		<id property="id" column="id"/>
        <result property="attack_type" column="attack_type"/>
        <result property="start_time_attack" column="start_time_attack"/>
        <result property="attacker" column="attacker"/>
        <result property="duration" column="duration"/>
        <result property="attack_flow" column="attack_flow"/>
        <result property="end_time" column="end_time"/>
        <result property="start_time_alert" column="start_time_alert"/>
        <result property="taskId" column="taskId"/>
	</resultMap>
	<select id="findAlarmDDOSByOrderId" parameterType="String" resultMap="AlarmDDOS">
		SELECT ahw.*
		FROM cs_order_ip oi,cs_taskhuawei thw,cs_alarmhuawei ahw
		WHERE oi.orderId=#{orderId} AND thw.order_ip_Id=oi.id AND ahw.taskId=thw.taskId
		ORDER BY ahw.start_time_alert DESC
		LIMIT 0,1
	</select>
	
</mapper>