<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.AttackSourceMapper">
	<resultMap type="com.cn.ctbri.entity.AttackSource" id="AttackSourceRM">
		<id property="id" column="id"/>
		<result property="ip" column="ip"/>
		<result property="provice" column="provice"/>
	</resultMap> 

	<select id="findByIp"  resultMap="AttackSourceRM">
		select * from cs_attack_source where ip=#{ip} limit 1
    </select>
    
    <select id="findCountByProvice"   resultType="hashmap">
    	select provice, count(ip) from cs_attack_source group by provice
    </select>
    
    <insert id="save">
    insert into cs_attack_source 
		(ip,provice) values(#{ip},#{provice})
    </insert>
</mapper>