<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.LoginHistoryMapper">
	<sql id="cols">id,userId,userType,loginTime</sql>

	<resultMap type="com.cn.ctbri.entity.LoginHistory" id="LHRM">
		<id property="id" column="id"/>
		<result property="userId" column="userId"/>
		<result property="userType" column="userType"/>
		<result property="loginTime" column="loginTime"/>
	</resultMap>

	<insert id="insert" parameterType="com.cn.ctbri.entity.LoginHistory">
		insert into cs_login_history
		(userId,userType,loginTime,IPAddr) values(#{userId},#{userType},#{loginTime},#{IPAddr})
	</insert>
</mapper>

