@charset "utf-8";
/* CSS Document */
body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,hr,blockquote,object,iframe,fieldset,input,legend,form,th,td{margin:0;padding:0; }
body,input,textarea,keygen,select,button,isindex{font:14px/24px Verdana,Tahoma,"Lucida Grande","\5FAE\8F6F\96C5\9ED1";color:#000;word-break:break-all}
ul,ol,li{list-style:none}
img{border:none}
/*common*/
button,select{cursor:pointer; outline:none;}
button{border: none;}
textarea{ resize:none;outline:none;}
.btn{ border:none; text-align:center; color:#fff;}
h1,h2,h3,h4,h5,h6{font-weight:normal}
h1{font-size:24px}h2{font-size:20px}h3{font-size:18px}h4{font-size:16px}h5{font-size:14px}h6{font-size:14px}
i,b,em{font-style:normal;font-weight:normal}
table{border-collapse:collapse;border-spacing:0}
th{font-weight:normal}
input{ outline:none; font-size:14px; line-height:14px;}
.fl{float:left}
.fr{float:right}
.clearBoth{clear:both}
.clearfix:before,.clearfix:after{content:"";display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}
.clearfix:after{clear:both}
.clearfix{zoom:1}
.mc{margin:0 auto}
.pr{position:relative;*zoom:1}
.pa{position:absolute}
.tc{text-align:center}
.tl{text-align:left !important}
.tr{text-align:right !important}
.trOver{background:#d1edff}
.noBorder{border:none 0 !important}
.noBg{background:none !important}
a{text-decoration:none;}
.hide{ display:none;}
.show{display:block;}



.page{ text-align:center;  vertical-align:middle; color:#999999;}
.page a{ width:24px; height:24px; line-height:24px; display:inline-block; border:#cccccc solid 1px; color:#999999; vertical-align:middle;}
.page .this{border:#4aafd1 solid 1px; background-color:#4aafd1; color:#fff;}
.page .c{ width:62px;}