<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.AlarmDDOSMapper">
	<!-- 列集合 -->
	<sql id="cols">id,attack_type,start_time_attack,attacker,duration,attack_flow,end_time,start_time_alert,taskId</sql>
	<!-- 结果对象 -->
	<resultMap type="com.cn.ctbri.entity.AlarmDDOS" id="AlarmDDOS">
		<id property="id" column="id"/>
		<result property="attack_type" column="attack_type"/>
		<result property="start_time_attack" column="start_time_attack"/>
		<result property="attacker" column="attacker"/>
		<result property="duration" column="duration"/>
		<result property="attack_flow" column="attack_flow"/>
		<result property="end_time" column="end_time"/>
		<result property="start_time_alert" column="start_time_alert"/>
		<result property="taskId" column="taskId"/>
		<result property="total_kbps" column="total_kbps"/>
	</resultMap>
	
	<!-- 插入报警信息 -->
	<insert id="insert" parameterType="com.cn.ctbri.entity.AlarmDDOS" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO cs_alarmhuawei 
		(attack_type,start_time_attack,attacker,duration,attack_flow,end_time,start_time_alert,taskId,total_kbps) 
		VALUES(#{attack_type},#{start_time_attack},#{attacker},#{duration},#{attack_flow},#{end_time},#{start_time_alert},#{taskId},#{total_kbps})
	</insert>
	
	<update id="update"  parameterType="com.cn.ctbri.entity.AlarmDDOS">
        update cs_alarmhuawei
        <set>
            <if test="attack_flow!=null">
                attack_flow = #{attack_flow}
            </if>
        </set>
        where id = #{id}
    </update>
	
	
</mapper>