<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.EngineMapper">
<sql id="cols">id,engine_number,engine_name,equipment_factory,engine_addr,engine_api,username,password,engine_capacity,engine_capacity_model,maxTask,activity</sql>
	<resultMap type="com.cn.ctbri.entity.EngineCfg" id="EngineRM">
		<id property="id" column="id"/>
		<result property="engine_number" column="engine_number"/>
		<result property="engine_name" column="engine_name"/>
		<result property="equipment_factory" column="equipment_factory"/>
		<result property="engine_addr" column="engine_addr"/>
		<result property="engine_api" column="engine_api"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="engine_capacity" column="engine_capacity"/>
		<result property="engine_capacity_model" column="engine_capacity_model"/>
		<result property="maxTask" column="maxTask"/>
		<result property="activity" column="activity"/>
		<result property="status" column="status"/>
		<result property="engine" column="engine"/>
	</resultMap> 
	
	<!-- 获取服务支持的引擎 -->
	<select id="getUsableEngine" parameterType="hashmap" resultMap="EngineRM">
	   select * from cs_enginecfg en where #{serviceId} in(en.engine_capacity) and en.status = 1
	</select>
	
	<!-- 根据ip查找引擎EngineCfg -->
    <select id="findEngineIdbyIP" parameterType="String" resultMap="EngineRM">
       select * from cs_enginecfg en where en.engine_addr=#{engine_addr}
    </select>
    
    <!-- 根据id查找引擎EngineCfg -->
    <select id="findEngineById" parameterType="int" resultMap="EngineRM">
       select * from cs_enginecfg en where en.id=#{id}
    </select>
    
    <!-- 获取任务下发的引擎 -->
    <select id="findMinActivity" parameterType="String" resultMap="EngineRM">
       select min(en.activity/en.maxTask) minTask,en.id,en.engine_addr,en.engine_api,en.engine_capacity,en.engine_capacity_model,en.username,en.password from cs_enginecfg en where en.maxTask!=en.activity and en.id in(#{ableIds})
    </select>
    
    <!-- 获取可用引擎 -->
    <select id="findAbleActivity" parameterType="String" resultMap="EngineRM">
       select en.activity/en.maxTask ableEngine,en.id,en.engine_addr,en.engine_api,en.engine_capacity,en.engine_capacity_model,en.username,en.password from cs_enginecfg en where en.maxTask!=en.activity and en.id in(#{ableIds}) order by ableEngine
    </select>
    
    <!-- 更新任务信息+1 -->
    <update id="update"  parameterType="com.cn.ctbri.entity.EngineCfg">
        update cs_enginecfg set activity=activity+1 where id = #{id}
    </update>
    
    <!-- 更新任务信息-1 -->
    <update id="updatedown"  parameterType="com.cn.ctbri.entity.EngineCfg">
        update cs_enginecfg set activity=activity-1 where id = #{id}
    </update>
    
    <!-- 查找最佳引擎 -->
    <select id="findEngineByParam" parameterType="hashmap" resultMap="EngineRM">
       select * from cs_enginecfg en 
        where en.maxTask!=en.activity and en.engine_capacity like CONCAT(CONCAT('%', #{serviceId}), '%') and en.status = 1 
        <if test="websoc==0">
          and en.engine!=3
        </if>
        order by en.activity/en.maxTask limit 3
    </select>
    
    <!-- 查找引擎 -->
    <select id="getEngine" resultMap="EngineRM">
       select * from cs_enginecfg en 
        where en.engine = 3
    </select>
    
    <!-- 查找引擎by ID -->
    <select id="getEngineById" resultMap="EngineRM">
       select * from cs_enginecfg en 
        where en.id = #{id}
    </select>
    
	
	

</mapper>