<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.OrderMapper">
	<sql id="cols">id,type,begin_date,end_date,serviceId,create_date,task_date,scan_type,userId,contactId,remarks,status</sql>
	<resultMap type="com.cn.ctbri.entity.Order" id="OrderRM">
		<id property="id" column="id"/>
		<result property="type" column="type"/>
		<result property="begin_date" column="begin_date"/>
		<result property="end_date" column="end_date"/>
		<result property="serviceId" column="serviceId"/>
		<result property="create_date" column="create_date"/>
		<result property="task_date" column="task_date"/>
		<result property="scan_type" column="scan_type"/>
		<result property="userId" column="userId"/>
		<result property="contactId" column="contactId"/>
		<result property="remarks" column="remarks"/>
		<result property="status" column="status"/>
	</resultMap>
	
	<!-- 根据订单Id查询记录 -->
    <select id="findOrderByOrderId" resultType="com.cn.ctbri.entity.Order" parameterType="String">
        select o.id,o.type,s.name,o.serviceId,o.begin_date,o.end_date,o.create_date,o.scan_type,o.status
        from cs_order o,cs_service s
        where o.id = #{orderId} and o.serviceId = s.id
    </select>
	<!-- 根据用户查询所有记录 -->
    <select id="findOrderByUserId" resultMap="OrderRM" parameterType="Integer">
        select * from cs_order
        where userId = #{userId}
    </select>
	<!-- 查询所有记录 -->
	<select id="list" resultType="hashmap" parameterType="int">
		select o.id,o.type,s.name,o.begin_date,o.end_date,o.create_date,o.scan_type,o.status
		from cs_order o,cs_service s
		where o.userId = #{id} and o.serviceId = s.id
		order by o.create_date desc
	</select>
	<!-- 条件查询 -->
	<!-- SELECT c.id,c.type,c.name,c.begin_date,c.end_date,c.create_date
		FROM (SELECT o.id,o.type,s.name,o.begin_date,o.end_date,o.create_date
		      FROM cs_order o,cs_service s,cs_user u
		      WHERE u.id = 103 AND o.serviceId = s.id) c 
		WHERE
			1=1 AND c.type =2 AND c.name =1;  
			.addCondition("o.createTime>= " + "str_to_date('"+dateBegin+"','%Y-%m-%d %H:%i:%s')")
				.addCondition("o.createTime<= " + "str_to_date('"+dateEnd+"','%Y-%m-%d %H:%i:%s')")
			-->
	<select id="findByCombine" resultType="hashmap" parameterType="hashmap">
		SELECT c.id,c.type,c.name,c.begin_date,c.end_date,c.create_date,c.scan_type
		FROM (SELECT o.id,o.type,s.name,o.scan_type,o.begin_date,o.end_date,o.create_date
		      FROM cs_order o,cs_service s
		      WHERE o.userId = #{userId} AND o.serviceId = s.id order by o.create_date desc) c 
		WHERE
			1=1  
			<if test="type!=null">
				AND c.type = #{type}
			</if>
			<if test="servName!=null and servName!=''">	
				AND c.name = #{servName} 
			</if>	 
			<if test="begin_date!=null">
				AND c.begin_date &gt;= #{begin_date}
			</if>	 
			<if test="end_date!=null">
				AND c.end_date &lt;=#{end_date}
			</if>	  
	</select>
	
	<select id="findByCombineOrderTrack" resultType="hashmap" parameterType="hashmap">
        select b.id,b.type,b.name,b.begin_date,b.end_date,b.create_date,b.scan_type,b.status from
        (
        SELECT c.id,c.type,c.name,c.begin_date,c.end_date,c.create_date,c.scan_type,c.status
        FROM (SELECT o.id,o.type,s.name,o.scan_type,o.begin_date,o.end_date,o.create_date,o.status
              FROM cs_order o,cs_service s
              WHERE o.userId = #{userId} AND o.serviceId = s.id) c 
        WHERE
            1=1  
            <if test="type!=null">
                AND c.type = #{type}
            </if>
            <if test="servName!=null and servName!=''"> 
                AND c.name = #{servName} 
            </if>    
            <if test="begin_date!=null">
                AND c.begin_date &gt;= #{begin_date}
            </if>    
            <if test="end_date!=null">
                AND c.end_date &lt;=#{end_date}
            </if>
            <if test="state==1">
                AND c.type = 1
                AND c.end_date &gt;= #{currentDate}
            </if>
            <if test="state==2">
                AND c.type = 1
                AND c.end_date &lt; #{currentDate}
            </if>
         UNION
            SELECT c.id,c.type,c.name,c.begin_date,c.end_date,c.create_date,c.scan_type,c.status
            FROM (SELECT o.id,o.type,s.name,o.scan_type,o.begin_date,o.end_date,o.create_date,o.status
                FROM cs_order o,cs_service s
                WHERE o.userId = #{userId} AND o.serviceId = s.id) c 
            WHERE
            1=1  
            <if test="type!=null">
                AND c.type = #{type}
            </if>
            <if test="servName!=null and servName!=''"> 
                AND c.name = #{servName} 
            </if>    
            <if test="begin_date!=null">
                AND c.begin_date &gt;= #{begin_date}
            </if>    
            <if test="end_date!=null">
                AND c.end_date &lt;=#{end_date}
            </if>
            <if test="state==1">
                AND c.type = 2
                AND c.begin_date &gt;= #{currentDate}
            </if>
            <if test="state==2">
                AND c.type = 2
                AND c.begin_date &lt; #{currentDate}
            </if> 
            ) b order by b.create_date desc
    </select>
    
    <!-- 根据任务查询订单信息 -->
    <select id="findOrderByTask" resultMap="OrderRM" parameterType="com.cn.ctbri.entity.Task">
        select o.*
        from cs_task t join cs_order_asset oa 
        on t.order_asset_Id = oa.id join cs_order o 
        on oa.orderId = o.id 
        where t.taskId = #{taskId}
    </select>
    
   <!-- 根据id 更新订单信息 -->
	<update id="update"  parameterType="com.cn.ctbri.entity.Order">
		update cs_order
		<set>
			<if test="message!=null">
				message=#{message},
			</if>
			<if test="status!=null">
				status = #{status},
			</if>
			<if test="websoc!=null">
                websoc = #{websoc}
            </if>
		</set>
		where id = #{id}
	</update>
	
	<!-- 查询联系人 -->
    <select id="findLinkmanById" resultType="com.cn.ctbri.entity.Linkman" parameterType="int">
        select * from cs_linkman l where l.id=#{contactId}
    </select>
</mapper>