<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.CustomerSupportMapper">

	<sql id="cols">o.id,o.type,o.begin_date,o.end_date,o.serviceId,o.create_date,o.task_date,o.scan_type,o.contactId,o.remarks,o.status,o.isAPI,o.websoc,o.userId</sql>
	<resultMap type="com.cn.ctbri.entity.OrderAsset" id="OrderAssetRM">
		<id property="id" column="id"/>
		<result property="orderId" column="orderId"/>
		<result property="assetId" column="assetId"/>
		<result property="serviceId" column="serviceId"/>
		<result property="scan_type" column="scan_type"/>
		<result property="scan_date" column="scan_date"/>
		<result property="assetName" column="assetName"/>
		<result property="assetAddr" column="assetAddr"/> 
	</resultMap> 
	
	<resultMap type="com.cn.ctbri.entity.Order" id="OrderRM">
		<id property="id" column="id"/>
		<result property="type" column="type"/>
		<result property="begin_date" column="begin_date"/>
		<result property="end_date" column="end_date"/>
		<result property="serviceId" column="serviceId"/>
		<result property="create_date" column="create_date"/>
		<result property="task_date" column="task_date"/>
		<result property="scan_type" column="scan_type"/>
		<result property="userId" column="userId"/>
		<result property="contactId" column="contactId"/>
		<result property="remarks" column="remarks"/>
		<result property="status" column="status"/>
	</resultMap>
	
	<resultMap type="com.cn.ctbri.entity.User" id="UserRM">
		<id property="id" column="id"/>
		<result property="createTime" column="createTime"/>
		<result property="name" column="name"/>
		<result property="password" column="password"/>
		<result property="mobile" column="mobile"/>
		<result property="email" column="email"/>
		<result property="status" column="status"/>
		<result property="type" column="type"/>
		<result property="remarks" column="remarks"/>
		<result property="realName" column="realName"/>
		<result property="ip" column="ip"/>
		<result property="industry" column="industry"/>
		<result property="job" column="job"/>
		<result property="company" column="company"/>
		<result property="startIP" column="startIP"/>
		<result property="endIP" column="endIP"/>
		<result property="lastLoginTime" column="lastLoginTime"/>
	</resultMap>

	<!--用户信息查询tab start  -->
	<select id="queryAssetInfo" parameterType="hashmap" resultMap="OrderAssetRM">
        select a.id as assetId, addr as assetAddr, name as assetName from cs_asset a,cs_order_asset oa where 1=1
		and a.id = oa.assetId
		<if test="assetname != null and assetname != ''">and name like concat('%',concat(#{assetname},'%'))</if>
		<if test="assetaddr != null and assetaddr != ''">and addr like concat('%',concat(#{assetaddr},'%'))</if>
		and orderId in (select id from cs_order where 1=1 
		<if test="userId != null and userId != 0">and userId = #{userId}</if> 
		<if test="orderno != null and orderno != ''">and orderId like concat('%',concat(#{orderno},'%'))</if>)
		group by assetId
		<!-- modify by tangxr 2016-11-8 -->
		<!--  select assetId, assetAddr, min(assetName) as assetName from cs_order_asset where 1=1
		<if test="assetname != null and assetname != ''">and assetName like concat('%',concat(#{assetname},'%'))</if>
		<if test="assetaddr != null and assetaddr != ''">and assetAddr like concat('%',concat(#{assetaddr},'%'))</if>
		and orderId in (select id from cs_order where 1=1 
		<if test="userId != null and userId != 0">and userId = #{userId}</if> 
		<if test="orderno != null and orderno != ''">and orderId like concat('%',concat(#{orderno},'%'))</if>)
		group by assetAddr -->
	</select>
	
	<select id="getUserInfoByAssetId" parameterType="hashmap" resultMap="UserRM">
		select * from cs_user where id in (select userid from cs_asset where id = #{assetId} )
		order by id
	</select>
	
	<select id="querOrderInfo" parameterType="hashmap" resultMap="OrderRM">
		select * from cs_order where 1=1
		<if test="orderno != null and orderno != ''">and id like concat('%',concat(#{orderno},'%'))</if>
		<if test="userId != null and userId != 0">and userId = #{userId}</if>
		and id in
		(select orderId from cs_order_asset where 1=1
		<if test="assetname != null and assetname != ''">and assetName like concat('%',concat(#{assetname},'%'))</if>
		<if test="assetaddr != null and assetaddr != ''">and assetAddr like concat('%',concat(#{assetaddr},'%'))</if>)
		and payFlag = 1
		and delFlag !=1
		order by create_date desc
	</select>
	
	<select id="queryUserInfo" parameterType="hashmap" resultMap="UserRM">
		 select * from cs_user where 1=1
		 <if test="name != null and name != ''">and name like concat('%',concat(#{name}, '%'))</if>
		 <if test="email != null and email != ''">and email = #{email}</if>
		 <if test="mobile != null and mobile != ''">and mobile like concat('%', concat(#{mobile}, '%'))</if>
		 <if test="id != null and id != 0">and id = #{id}</if>
		 order by id
	</select>
	<!-- 用户信息查询tab end -->

	<!-- 订单查询tab start-->
	<select id="getOrderInfo" parameterType="hashmap" resultMap="OrderRM">
		select <include refid="cols" />, u.name as res1 from cs_order o,cs_user u where o.userId = u.id
		and o.isAPI = #{isapi}
		<if test="orderno != null and orderno != ''">and o.id like concat('%',concat(#{orderno},'%'))</if>
		<if test="createDateS != null and createDateS != '' ">and o.create_date &gt;= #{createDateS}</if>
		<if test="createDateE != null and createDateE != ''">and o.create_date &lt;= #{createDateE}</if>
		<!-- <if test="servDateS != null and servDateS != ''">and o.begin_date &gt;= #{servDateS} </if>
		<if test="servDateE != null and servDateE != ''">and (o.type = 1 and o.end_date &lt;= #{servDateE})</if> -->
		
		<if test="servDateS!='' and servDateE!=''">
			and o.begin_date &gt;=#{servDateS}
			and o.begin_date &lt;=#{servDateE}
        </if>    
        <if test="servDateS!='' and servDateE==''">
        	and o.begin_date &gt;=#{servDateS}
        </if>
        <if test="servDateS=='' and servDateE!=''">
        	and o.begin_date &lt;=#{servDateE}
        </if>
	<!-- 	<if test="isapi != null and isapi != ''"> and o.isAPI = #{isapi}</if> -->
		<if test="orderusername != null and orderusername != ''"> and o.userId in (select id from cs_user where name like concat('%',concat(#{orderusername}, '%')))</if>
		<if test="assetname != null and assetname != '' and assetaddr != null and assetaddr != ''">
			and o.id in (select orderId from cs_order_asset where assetName like concat('%', concat(#{assetname},'%')) and assetAddr like concat('%', concat(#{assetaddr}, '%')))
		</if>
		<if test="assetname != null and assetname != ''">
			and o.id in (select orderId from cs_order_asset where assetName like concat('%', concat(#{assetname},'%')))
		</if>
		<if test="assetaddr != null and assetaddr != ''">
			and o.id in (select orderId from cs_order_asset where assetAddr like concat('%', concat(#{assetaddr}, '%')))
		</if>
		and payFlag = 1
		and delFlag !=1
		order by create_date desc
	</select>
	<!-- 订单查询tab end -->
	
</mapper>