<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.ctbri.entity.FactoryMapper" >
  <resultMap id="BaseResultMap" type="com.cn.ctbri.entity.Factory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="factory" property="factory" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, factory
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cs_factory
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cs_factory
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.ctbri.entity.Factory" >
    insert into cs_factory (id, factory)
    values (#{id,jdbcType=INTEGER}, #{factory,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.ctbri.entity.Factory" >
    insert into cs_factory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="factory != null" >
        factory,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="factory != null" >
        #{factory,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.ctbri.entity.Factory" >
    update cs_factory
    <set >
      <if test="factory != null" >
        factory = #{factory,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.ctbri.entity.Factory" >
    update cs_factory
    set factory = #{factory,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
   <select id="findAll" resultType="com.cn.ctbri.entity.Factory" >
   	select id, factory from cs_factory
   </select>
</mapper>