<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.ScanTypeMapper">
	<!-- 列集合 -->
	<sql id="cols">serviceId,scan_type,scan_name</sql>
	<!-- 结果对象 -->
	<resultMap type="com.cn.ctbri.entity.ScanType" id="ScanTypeRM">
		<id property="id" column="id"/>
		<result property="serviceId" column="serviceId"/>
		<result property="scan_type" column="scan_type"/>
		<result property="scan_name" column="scan_name"/>
	</resultMap>
	
	<!-- 根据serviceId查询服务频率列表-->
	<select id="findByServiceId" parameterType="int" resultMap="ScanTypeRM">
		select * from cs_scanType where serviceId=#{serviceId} order by scan_type
	</select>
	
</mapper>