@CHARSET "UTF-8";
			/*外面大框*/
			.text{
				width: 1000px;		
				margin-top: 5px;
				margin-left: 300px;	
			}
			.join_left{
				width: 200px;
				float: left;
				position:fixed;
				left: 50px;
				top:150px;				
				border: 1px solid #ededed;
			 	box-shadow: 0px 0px 10px #ededed;
			}
			.join_left ul{
				padding: 0;
				font-size: 12px;			
				margin: 0;
				list-style: none;
				border-bottom: 1px white solid;
			}	
			.join_left p{
				margin-left: 20px;
			}
			.cebianlan{
				height: 30px;
				border-top: 1px solid #ededed;
				position: relative;
				line-height: 30px;
				transition: all 200ms;
				width: 200px;
				color: black;
				list-style: none; 
				font-family: "微软雅黑";
			}			
			/*内容框*/
			.content{				
				width: 950px;
				margin: 0px auto 40px;
				padding: 20px;
				border: 1px solid #2499FB;
				box-shadow: 0px 0px 10px #2499FB;
				border-radius: 5px 5px 5px 5px;	
				display: none;
			}
			/*小标题*/
			.title{
				line-height: 35px;
				font-size:20px;
				color: #2499FB;
			}
			.txttop{
				margin-top: 10px;
			}	
			.content p{
				line-height: 30px;
			}
			#cebianlan1{
				display: none;
			}
			#cebianlan2{
				display: none;
			}
			