.safebox{width:276px;}
.numbox{width:425px;}
.aqfx{width:272px;}
.ldgs{width:420px;}
.formalinfo{color:#666;padding-left:38px;height:28px;line-height:38px;font-size:14px;}
.formalinfo span{margin-right:10px;}
.formalinfo .infotitle{margin-right:30px;}
.formalinfo .infotitle2{display:inline-block;width:134px;}
.asset{margin-right:20px;display:block;}
.historyde{font-size:15px;padding:0 10px 0 270px;height:24px;line-height:24px;}
.historyse{width:180px;height:24px;line-height:24px;border:1px solid #e0e0e0;color:#999999;}
.gj_title{padding-bottom:20px;}
.process{padding:26px 0 24px 70px;border-bottom:1px solid #e0e0e0;}
.scantitle{font-size:16px;color:#666;padding-right:30px;display:inline-block;}
.scan{font-size:14px;color:#666;width:82px;height:18px;text-align:center;background:#e0e0e0;display:inline-block;line-height:18px;}
.scancur{background:#2da039;color:#fff;}
.propercent{font-size:18px;color:#2da039;padding-right:40px;}
.processingbox{padding:10px 0 0 0;}
.prourl{display:block;text-align:center;width:100%;color:#666;font-size:14px;}
.progress{width:652px;display:inline-block;margin-bottom:0;border-radius:10px;background-image: linear-gradient(to bottom, #c1d3df 0px, #c1d3df 100%);box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;height: 20px;overflow:hidden;}
.progress-bar{background-color:#88CBFE;border:1px solid #378DE4;color:#666;font-size:16px;text-align:right;padding-right:10px;line-height:18px;border-radius:10px; box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;transition: width 0.6s ease 0s;float:left;height:100%;box-sizing: border-box;}
.detail_title{display:inline-block;width:86px;}
.progress-bar-striped{background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); background-size: 40px 40px;}
.progress.active .progress-bar,.progress-bar.active{-webkit-animation:progress-bar-stripes 2s linear infinite;-o-animation:progress-bar-stripes 2s linear infinite;animation:progress-bar-stripes 2s linear infinite}
@-webkit-keyframes progress-bar-stripes{from{background-position:40px 0}to{background-position:0 0}}@-o-keyframes progress-bar-stripes{from{background-position:40px 0}to{background-position:0 0}}@keyframes progress-bar-stripes{from{background-position:40px 0}to{background-position:0 0}}
/*网页篡改告警*/
.gj_fl{float:left;margin-right:84px;}
.webgj_title{clear:both;overflow: hidden;padding-left:268px;}
.gj_fr{float:left;padding-top:30px;}
.gj_fl p{line-height:34px;}
.web_num{font-size:20px; color:#fd0202; text-align:center;font-weight:bold;}
.scrg{padding:30px 96px 0;}
.scrg_sp{width:230px; background:url(../images/greencircle.jpg) no-repeat left center;padding-left:20px;display:inline-block;font-size:14px;color:#666;line-height:34px;}
.scrg_ti{margin-right:32px;}
.scrg{padding:30px 0px 0;}
.scrg_sp{width:233px; background:url(../images/greencircle.jpg) no-repeat left center;padding-left:20px;display:inline-block;font-size:14px;color:#666;line-height:34px;}
.scrg_ti{margin-right:24px;}


.web_detail_title{padding: 4px 10px;margin: 20px 0px 28px 30px;background:#E0E0E0;color: #666;font-size: 16px;display:inline-block;}
.web_data{margin:0 35px;overflow:hidden;}
.web_datal{width:238px;float:left;padding-top:130px;padding-left:50px;padding-bottom:190px;}
.web_datal p{ font-size:15px;color:#666666;line-height: 24px;}
.web_datac{width:492px;float:left;height:20px;}
.web_datar{width:210px;float:left;height:20px;}
.web_scan{width:56px;border-left:1px solid #e0e0e0;border-right:1px solid #e0e0e0;float:left;line-height:16px;cursor:pointer;}
.web_scancur{background:#2DA039;color: #FFF;border-left:1px solid #fff;border-right:1px solid #fff;}
.webway_span{width:136px;float:left;display:inline-block;text-align:right;font-size:14px;color:#666;line-height:16px;}
.web_way{clear:both;overflow:hidden;}
.web_box{width:470px;height:340px;border:1px solid #e0e0e0;}
.pxtitle{width:208px;height:32px;background:#ffcc00;font-size:18px;color:#fff;text-align:center;line-height:32px;margin-bottom:4px;}
.pxbox{width:166px;border:1px solid #e0e0e0;padding:4px 20px;}
.pxbox p{color:#666;fontsize:14px;line-height:21px;}
.pxboxL{display:inline-block;width:38px;}
.web_topbox{border-bottom:1px solid #e0e0e0;overflow:hidden;margin-bottom:26px;}