<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.ScanTypeMapper">
	<!-- 列集合 -->
	<sql id="cols">serviceId,scan_type,scan_name</sql>
	<!-- 结果对象 -->
	<resultMap type="com.cn.ctbri.entity.ScanType" id="ScanTypeRM">
		<id property="id" column="id"/>
		<result property="serviceId" column="serviceId"/>
		<result property="scan_type" column="scan_type"/>
		<result property="scan_name" column="scan_name"/>
	</resultMap>
	
	<!-- 根据服务id查询服务频率-->
	<select id="getScanTypeById" resultType="com.cn.ctbri.entity.ScanType" parameterType="java.lang.Integer">
		SELECT * FROM cs_scanType s WHERE s.serviceId=#{serviceId} ORDER BY s.scan_type
	</select>
	
	<!-- 根据服务id和服务频率查询服务频率信息-->
	<select id="getScanType" resultType="com.cn.ctbri.entity.ScanType" parameterType="Map">
		SELECT * FROM cs_scanType s WHERE s.serviceId=#{serviceId} and s.scan_type = #{scanType}
	</select>
	
	<delete id="deleteByServiceId" parameterType="int">
		delete from cs_scanType where serviceId = #{serviceId}
	</delete>
	
	<insert id="insert" parameterType="com.cn.ctbri.entity.ScanType">
		insert into cs_scanType(serviceId,scan_name,scan_type) values
		(#{serviceId},#{scan_name},#{scan_type})
	</insert>
</mapper>