@charset "utf-8";
/* CSS Document */
/*公共样式*/
.fl{float:left;}
.ml20{margin-left:20px;}
.ml12{margin-left:12px;}
/*管理员登陆页面--ld*/
.b_head_bj{ background:url(../images/b_header_bg.jpg) no-repeat center center #369abe;height:69px;}
.b_login_wrap{background:url(../images/b_login_bg.jpg) no-repeat center center #369abe;height:460px;overflow:hidden;}
.b_login_box{width:312px;height:388px;margin:28px auto 0;background:url(../images/b_lgoinform_bg.png) no-repeat;padding-left:40px;}
.b_login_list{height:78px;line-height:78px;padding-left:110px;;color:#fff;}
.b_login_txt{background:url(../images/b_user_icon.jpg) no-repeat 10px center #b2d5dd;width:240px;height:22px;padding:8px 0 8px 32px;}
.b_login_pass{background-image:url(../images/b_pass_icon.jpg);}
.b_lgoin_yzm{background-image:url(../images/b_safe_icon.jpg);width:140px;float:left;margin-right:14px;}
.b_auto_login{float:left;font-size:16px;color:#fff;margin-right:110px;}
.b_forget_pass{color:#fff;}
.b_login_btn{background:url(../images/b_btn_bg.jpg) no-repeat;border:0;width:274px;height:46px;color:#fff;font-size:18px;}
.pb0{padding-bottom:0;}
/*服务管理页面--ld*/
.b_lagst_left a{border:0;}
.b_head{background:#3cacd4;height:70px;}
.head a.white{color:#fff;}
.b_list ul li{border-color:#1f8db4;}
.b_current{background:#3cbeed;}
.b_list ul li:hover{background:#3cbeed;}
.main_wrap{background:#fff;width:100%;}
.add_service{padding:24px 0 18px 0;height:35px;}
.main_center{width:1100px;margin:0 auto;}
.add_ser{background:url(../images/b_add_icon.jpg) no-repeat;padding-left:46px;width:76px;height:35px;display:block;line-height:34px;color:#3cacd4;font-size:16px;}
.b_choose{width:1072px;border:1px solid #e0e0e0;padding:22px 0 10px 26px;}
.b_choose ul{display:block;width:100%;height:22px;line-height:22px;padding-bottom:12px;}
.b_choose ul li{float:left;height:22px;padding:0 10px;border:1px solid #fff;color:#9b9b9b;}
.choose_a{cursor:pointer;}
.choose_a:hover{border-color:#369abe}
.twoword{margin-right:16px;}
.ser_list{width:1100px;overflow:hidden;padding-bottom:20px;}
.ser_list ul li{float:left;width:198px;height:134px;padding-top:18px;margin-right:27px;}


