<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ctbri.dao.CsOrderAssetMapper" >
  <resultMap id="BaseResultMap" type="com.ctbri.vo.CsOrderAsset" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="orderId" property="orderid" jdbcType="VARCHAR" />
    <result column="assetId" property="assetid" jdbcType="INTEGER" />
    <result column="serviceId" property="serviceid" jdbcType="INTEGER" />
    <result column="scan_type" property="scanType" jdbcType="INTEGER" />
    <result column="scan_date" property="scanDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, orderId, assetId, serviceId, scan_type, scan_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cs_order_asset
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- 根据orderid查询Asset名称 -->
  <select id="findAssetNameByOrderId" parameterType="String" resultType="com.ctbri.vo.CsAsset">
       select a.name,a.addr from cs_order_asset oa,cs_asset a where oa.orderId=#{orderId} and oa.assetid = a.id
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cs_order_asset
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ctbri.vo.CsOrderAsset" >
    insert into cs_order_asset (id, orderId, assetId, 
      serviceId, scan_type, scan_date
      )
    values (#{id,jdbcType=INTEGER}, #{orderid,jdbcType=VARCHAR}, #{assetid,jdbcType=INTEGER}, 
      #{serviceid,jdbcType=INTEGER}, #{scanType,jdbcType=INTEGER}, #{scanDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ctbri.vo.CsOrderAsset" >
    insert into cs_order_asset
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="assetid != null" >
        assetId,
      </if>
      <if test="serviceid != null" >
        serviceId,
      </if>
      <if test="scanType != null" >
        scan_type,
      </if>
      <if test="scanDate != null" >
        scan_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="assetid != null" >
        #{assetid,jdbcType=INTEGER},
      </if>
      <if test="serviceid != null" >
        #{serviceid,jdbcType=INTEGER},
      </if>
      <if test="scanType != null" >
        #{scanType,jdbcType=INTEGER},
      </if>
      <if test="scanDate != null" >
        #{scanDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ctbri.vo.CsOrderAsset" >
    update cs_order_asset
    <set >
      <if test="orderid != null" >
        orderId = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="assetid != null" >
        assetId = #{assetid,jdbcType=INTEGER},
      </if>
      <if test="serviceid != null" >
        serviceId = #{serviceid,jdbcType=INTEGER},
      </if>
      <if test="scanType != null" >
        scan_type = #{scanType,jdbcType=INTEGER},
      </if>
      <if test="scanDate != null" >
        scan_date = #{scanDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ctbri.vo.CsOrderAsset" >
    update cs_order_asset
    set orderId = #{orderid,jdbcType=VARCHAR},
      assetId = #{assetid,jdbcType=INTEGER},
      serviceId = #{serviceid,jdbcType=INTEGER},
      scan_type = #{scanType,jdbcType=INTEGER},
      scan_date = #{scanDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>