<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.NoticeMapper">
	<sql id="cols">id,noticeName,noticeDesc,createDate</sql>
	
	<resultMap type="com.cn.ctbri.entity.Notice" id="NoticeRM">
		<id property="id" column="id"/>
		<result property="noticeName" column="noticeName"/>
		<result property="noticeDesc" column="noticeDesc"/>
		<result property="createDate" column="createDate"/>
	</resultMap>
	<!-- 修改公告 -->
	<update id="update" parameterType="com.cn.ctbri.entity.Notice">
		update cs_notice
		<set>
			<if test="noticeName!=null">
				noticeName=#{noticeName},
			</if>
			<if test="noticeDesc!=null">
				noticeDesc=#{noticeDesc},
			</if>
		</set>
		where id=#{id}
	</update>
	<!-- 查询所有记录 -->
	<select id="list" resultMap="NoticeRM" parameterType="com.cn.ctbri.entity.Notice">
		select * from cs_notice
		where 1=1
        <if test="id!=null and id!=''">
            and id=#{id}
        </if>
		order by id desc
	</select>
	
	<!-- 插入公告 -->
	<insert id="insert" parameterType="com.cn.ctbri.entity.Notice">
		insert into cs_notice 
		(noticeName,noticeDesc,createDate) values(#{noticeName},#{noticeDesc},#{createDate})
	</insert>
	
	
	<!-- 删除公告 -->
	<delete id="delete">
		delete from cs_notice
		where id=#{id}
	</delete>
	
</mapper>