<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.southapi.adapter.batis.mapper.TWafLogWebsecMapper">
  <resultMap id="BaseResultMap" type="com.cn.ctbri.southapi.adapter.batis.model.TWafLogWebsec">
    <id column="log_id" jdbcType="BIGINT" property="logId" />
    <result column="resource_id" jdbcType="INTEGER" property="resourceId" />
    <result column="resource_uri" jdbcType="VARCHAR" property="resourceUri" />
    <result column="resource_ip" jdbcType="VARCHAR" property="resourceIp" />
    <result column="site_id" jdbcType="VARCHAR" property="siteId" />
    <result column="protect_id" jdbcType="VARCHAR" property="protectId" />
    <result column="dst_ip" jdbcType="VARCHAR" property="dstIp" />
    <result column="dst_port" jdbcType="VARCHAR" property="dstPort" />
    <result column="src_ip" jdbcType="VARCHAR" property="srcIp" />
    <result column="src_port" jdbcType="VARCHAR" property="srcPort" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
    <result column="alertlevel" jdbcType="VARCHAR" property="alertlevel" />
    <result column="event_type" jdbcType="VARCHAR" property="eventType" />
    <result column="stat_time" jdbcType="TIMESTAMP" property="statTime" />
    <result column="policy_id" jdbcType="VARCHAR" property="policyId" />
    <result column="rule_id" jdbcType="VARCHAR" property="ruleId" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="block" jdbcType="VARCHAR" property="block" />
    <result column="block_info" jdbcType="VARCHAR" property="blockInfo" />
    <result column="alertinfo" jdbcType="VARCHAR" property="alertinfo" />
    <result column="proxy_info" jdbcType="VARCHAR" property="proxyInfo" />
    <result column="characters" jdbcType="VARCHAR" property="characters" />
    <result column="count_num" jdbcType="VARCHAR" property="countNum" />
    <result column="protocol_type" jdbcType="VARCHAR" property="protocolType" />
    <result column="wci" jdbcType="VARCHAR" property="wci" />
    <result column="wsi" jdbcType="VARCHAR" property="wsi" />
    <result column="ip_latlong_valid" jdbcType="INTEGER" property="ipLatlongValid" />
    <result column="src_country_code" jdbcType="VARCHAR" property="srcCountryCode" />
    <result column="src_country" jdbcType="VARCHAR" property="srcCountry" />
    <result column="src_subdivision_1" jdbcType="VARCHAR" property="srcSubdivision1" />
    <result column="src_subdivision_2" jdbcType="VARCHAR" property="srcSubdivision2" />
    <result column="src_city" jdbcType="VARCHAR" property="srcCity" />
    <result column="src_latitude" jdbcType="VARCHAR" property="srcLatitude" />
    <result column="src_longitude" jdbcType="VARCHAR" property="srcLongitude" />
    <result column="dst_country_code" jdbcType="VARCHAR" property="dstCountryCode" />
    <result column="dst_country" jdbcType="VARCHAR" property="dstCountry" />
    <result column="dst_subdivision_1" jdbcType="VARCHAR" property="dstSubdivision1" />
    <result column="dst_subdivision_2" jdbcType="VARCHAR" property="dstSubdivision2" />
    <result column="dst_city" jdbcType="VARCHAR" property="dstCity" />
    <result column="dst_latitude" jdbcType="VARCHAR" property="dstLatitude" />
    <result column="dst_longitude" jdbcType="VARCHAR" property="dstLongitude" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.cn.ctbri.southapi.adapter.batis.model.TWafLogWebsec">
    <result column="http" jdbcType="LONGVARBINARY" property="http" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    log_id, resource_id, resource_uri, resource_ip, site_id, protect_id, dst_ip, dst_port, 
    src_ip, src_port, method, domain, uri, alertlevel, event_type, stat_time, policy_id, 
    rule_id, action, block, block_info, alertinfo, proxy_info, characters, count_num, 
    protocol_type, wci, wsi, ip_latlong_valid, src_country_code, src_country, src_subdivision_1, 
    src_subdivision_2, src_city, src_latitude, src_longitude, dst_country_code, dst_country, 
    dst_subdivision_1, dst_subdivision_2, dst_city, dst_latitude, dst_longitude
  </sql>
  <sql id="Blob_Column_List">
    http
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.cn.ctbri.southapi.adapter.batis.model.TWafLogWebsecExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_waf_log_websec
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  
  <select id="selectByExample" parameterType="com.cn.ctbri.southapi.adapter.batis.model.TWafLogWebsecExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_waf_log_websec
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

   <select id="selectMaxByExample" parameterType="com.cn.ctbri.southapi.adapter.batis.model.TWafLogWebsecExample" resultType="java.lang.Integer">
  	select max(log_id) as log_id from t_waf_log_websec
  	<if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_waf_log_websec
    where log_id = #{logId,jdbcType=BIGINT}
  </select>
  
  <select id="countByExample" parameterType="com.cn.ctbri.southapi.adapter.batis.model.TWafLogWebsecExample" resultType="java.lang.Integer">
  	select count(*) from t_waf_log_websec
  	<if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <resultMap type="com.cn.ctbri.southapi.adapter.batis.model.TWafLogWebsecCount" id="EventTypeCountMap">
  	<result property="statTime" column="time"/>
  	<result property="count" column="count"/>
  	<result property="eventType" column="event_type"/>
  	<result property="alertLevel" column="alertlevel"/>
  </resultMap>
  <select id="countEventTypeByExample" parameterType="com.cn.ctbri.southapi.adapter.batis.model.TWafLogWebsecExample" resultMap="EventTypeCountMap">
  	select event_type,count(event_type) as count from t_waf_log_websec
  	<if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause} desc
    </if>
    group by event_type
  </select>
  
  <select id="countEventTypeByDomain" resultMap="EventTypeCountMap">
  	SELECT e.event_type as event_type,COUNT(event_type) AS count
  	FROM (
  		SELECT t.event_type from t_waf_log_websec as t
  		<where>
  		t.domain IN
  		<foreach collection="domain" item="item" index="index"  open='(' separator=',' close=')'>
  		#{item}
  		</foreach>
  		<if test="rows !=null">
   		limit ${rows}
   		</if>
  		</where>
  		)
   		AS e GROUP BY event_type order by count desc
  </select>  
  
  <select id="countEventTypeByDstIp" resultMap="EventTypeCountMap">
  	SELECT e.event_type as event_type,COUNT(event_type) AS count 
  	FROM(
  		SELECT t.event_type from t_waf_log_websec as t
  		<where>
  		t.dst_ip IN
  		<foreach item='item' index='index' collection='dstIp' open='(' separator=',' close=')'>
  		#{item}
  		</foreach>
  		<if test="rows !=null">
   		limit ${rows}
   		</if>
   		</where>
   		)
   		as e GROUP BY event_type order by count desc   		
  		
  	)
  </select>
  
  <select id="countTimeByExample" parameterType="com.cn.ctbri.southapi.adapter.batis.model.TWafLogWebsecExample" resultMap="EventTypeCountMap">
  	SELECT
  	<choose>
  	<when test='timeUnit=="year"'>DATE_FORMAT(stat_time,'%Y') as time</when>
  	<when test='timeUnit=="month"'>DATE_FORMAT(stat_time,'%Y-%m') as time</when>
  	<otherwise>DATE_FORMAT(stat_time,'%Y-%m-%d') as time</otherwise>
  	</choose>,count(stat_time) as count
  	FROM t_waf_log_websec
  	<if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    group by time
  </select>
  
  <select id="countAlertLevelByExample" parameterType="com.cn.ctbri.southapi.adapter.batis.model.TWafLogWebsecExample" resultMap="EventTypeCountMap">
	SELECT alertlevel,COUNT(alertlevel) AS count
  	FROM t_waf_log_websec
  	<if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
    ORDER BY ${orderByClause} DESC
    </if>
    GROUP BY alertlevel
  </select>
  
  <select id="countAlertLevelInTimeByExample" parameterType="com.cn.ctbri.southapi.adapter.batis.model.TWafLogWebsecExample" resultMap="EventTypeCountMap">
  	SELECT
  		<choose>
  		<when test='timeUnit=="year"'>DATE_FORMAT(stat_time,'%Y') AS time</when>
  		<when test='timeUnit=="month"'>DATE_FORMAT(stat_time,'%Y-%m') AS time</when>
  		<otherwise>DATE_FORMAT(stat_time,'%Y-%m-%d') AS time</otherwise>
  		</choose>,alertlevel,COUNT(alertlevel) AS count
  	FROM t_waf_log_websec
  	<if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
    ORDER BY ${orderByClause} DESC
    </if>
    GROUP BY alertlevel
    <if test='timeUnit!=null'>
    ,time
    </if>
  </select>
  
  
  
  <select id="countAlertLevelByDomain" resultMap="EventTypeCountMap">
  	SELECT e.alertlevel as alertlevel,COUNT(e.alertlevel) AS count
  	FROM(
  		SELECT t.alertlevel from t_waf_log_websec as t
  		<where>
  		t.domain in
  			<foreach item='item' index='index' collection='domain' open='(' separator=',' close=')'>
    		#{item}
    		</foreach>
  		</where>
  		ORDER BY log_id DESC LIMIT #{limitNum,jdbcType=BIGINT}
  	) AS e GROUP BY alertlevel	
  </select>
  
  <resultMap type="com.cn.ctbri.southapi.adapter.batis.model.TWafLogWebsecDstSrc" id="SrcIpCountMap">
  	<result column="src_ip" property="srcIp"/>
  	<result column="count" property="count"/>
  	<result column="src_country" property="srcCountry"/>
    <result column="src_subdivision_1" property="srcSubdivision1"/>
    <result column="src_subdivision_2" property="srcSubdivision2"/>
    <result column="src_city" property="srcCity"/>
  </resultMap>
  <select id="selectSrcIpByDomain" resultMap="SrcIpCountMap">
  	SELECT count(*) AS count,src_ip,src_country,src_subdivision_1,src_subdivision_2,src_city 
  	FROM t_waf_log_websec
  	<where>
  		stat_time between #{startDate,jdbcType=TIMESTAMP} and #{endDate,jdbcType=TIMESTAMP}
  		AND
  		domain IN
  		<foreach item='item' index='index' collection='domain' open='(' separator=',' close=')'>
  		#{item}
  		</foreach>
  	</where>
  	GROUP BY src_ip ORDER BY count DESC limit #{limitNum,jdbcType=BIGINT}
  </select>
  
  <select id="selectSrcIpByDstIp" resultMap="SrcIpCountMap">
    SELECT count(*) AS count,src_ip,src_country,src_subdivision_1,src_subdivision_2,src_city 
  	FROM t_waf_log_websec
  	<where>
  		stat_time between #{startDate,jdbcType=TIMESTAMP} and #{endDate,jdbcType=TIMESTAMP}
  		AND
  		dst_ip IN
  		<foreach item='item' index='index' collection='dstIp' open='(' separator=',' close=')'>
  		#{item}
  		</foreach>
  	</where>
  	GROUP BY src_ip ORDER BY count DESC limit #{limitNum,jdbcType=BIGINT}
  </select>
 
  <select id="selectByExampleWithBLOBsWithRowbounds" parameterType="com.cn.ctbri.southapi.adapter.batis.model.TWafLogWebsecExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_waf_log_websec
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
    
  <select id="selectByExampleWithRowbounds" parameterType="com.cn.ctbri.southapi.adapter.batis.model.TWafLogWebsecExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_waf_log_websec
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>