@charset "utf-8";
/* CSS Document */

* { margin:0px; padding:0px; font-family: "Microsoft YaHei" ! important;}
body{ overflow-x:hidden;}
input{border:0px none;}
img{ border:0px none;}
*:focus {outline: none;}  
a{ text-decoration:none;}
li{ list-style:none;}
.clear{ clear:both; overflow:hidden; }
.clearfix:before,.clearfix:after{content:"";display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}
.clearfix:after{clear:both}
.clearfix{zoom:1}
.table{border-collapse:collapse;}
.main_center .main_nav{ border-top:#e0e0e0 solid 1px; height:35px; line-height:35px; margin-bottom:5px; margin-top:22px;}
.main_center .main_nav li{ font-size:16px; color:#a6a6a6; text-align:center; background-color:#e0e0e0; height:100%; float:left; margin-right:5px; cursor:pointer; position:relative; z-index:10;}
.main_center .main_nav .active{color:#e0e0e0; background-color:#3cacd4;}
.main_center .main_nav .active i{ width:35px; height:15px; background:url(../images/triangle.png) no-repeat; position:absolute; left:40%; top:30px;}
.main_center .main_nav .statistics{ width:128px;}
.main_center .main_nav .analyse{ width:170px;}
.main_center .tabBox .item{ display:none;}
.analyse_list{ height:35px; line-height:35px; background-color:#e1f2f8; padding:0 30px;}
.analyse_list li{ float:left; font-size:16px; color:#a6a6a6;cursor:pointer;}
.analyse_list li b{ font-weight:normal; padding:0 30px;}
.analyse_list .active{ color:#3cacd4;}
.analyse_tabCont .analyse_tabItem{ display:none;}
/*主要内容*/

.analysecent{ padding-top:8px; width:970px; position:relative;}
.analysecent .analyse_lable{ padding-right:24px; margin-bottom:9px;}
.analysecent .analyse_lable label{ color:#888888; font-size:16px;}
.analysecent .analyse_lable .text{ width:136px; height:26px; border:#e0e0e0 solid 1px;}
.analysecent .sub{ width:82px; height:32px; background:url(../images/b_search_bg.jpg) no-repeat; border:none; position:absolute; right:-130px; top:10px;cursor:pointer;}
.tableBox{ border:#e0e0e0 solid 0px; padding:0px; margin:24px 0 24px 0;}
.tableBox table{ width:1086px; margin:0 auto;border-collapse:collapse;}
.tableBox thead th{ background-color:#3cacd4; border:#e0e0e0 solid 1px; width:134px; text-align:center; vertical-align:middle; font-size:16px; color:#fff;}
.tableBox tr{ height:32px; line-height:32px;}
.tableBox tbody tr td{width:134px; border:#e0e0e0 solid 1px;text-align:center; vertical-align:middle;}
.chart{ width:700px; height:400px; margin:0 auto;}

/*告警分析*/
.analysis{ margin:20px 0; border:#e0e0e0 solid 1px; padding:72px 34px 40px 88px;}
.analysis .analysisL{ width:424px; height:284px;}
.analysis .analysisM{ width:88px; height:366px; background:url(../images/cut.jpg) no-repeat top center; position:relative; top:-20px;}
.analysis .analysisR{ position:relative; top:-30px;}
.analysis .analysisR h3{ font-size:16px; color:#666666; margin-bottom:24px;}
.analysis .analysisR .ananly_list{ margin-right:-100px; margin-bottom:20px;}
.analysis .analysisR .ananly_list li{ float:left; margin-right:44px;cursor:pointer; font-size:14px; color:#666666; font-weight:bold;}
.analysis .analysisR .ananly_list .active{ font-size:14px; color:#3cacd4; border-bottom:#3cacd4 solid 1px; padding-bottom:2px;}
.analysis .analysisR .thecharts{ width:458px; height:260px; border:#d9d9d9 solid 1px;}
.analysis .charts_list{ height:100%; width:100%;}
/*订单分析*/
.orderform{ border:#e0e0e0 solid 1px; margin:10px 0 20px 0; padding:14px 10px 60px 50px;}
.orderform .order{ width:488px; height:278px; position:relative;}
/*用户分析*/
.user .main_nav li{ width:auto; padding:0 30px;}
/*设备资源管理*/
.main_center{ position:relative;}
.main_center .equBtn{ width:166px; line-height:36px; height:36px; background:url(../images/b_add_icon.png) no-repeat; position:absolute; padding-left:38px; left:10px; top:16px; z-index:100; font-size:16px; color:#3cacd4;}
.equipment{ padding:16px 0}
.equipment input[type=text]{width:178px; padding-left:10px; height:36px; line-height:36px; float:right; margin-left:15px; background:url(../images/b_safes_icon.jpg) no-repeat;}
/*广告管理*/
.main_center .adBtn{ width:96px; line-height:36px; height:36px; background:url(../images/b_add_icon.jpg) no-repeat; position:absolute; padding-left:38px; left:10px; top:16px; z-index:100; font-size:16px; color:#3cacd4;}

/*优惠券维护*/
.main_center .couAddBtn{ width:96px;  line-height:36px; height:36px; background:url(../images/b_add_icon.jpg) no-repeat; position:absolute; padding-left:38px; left:10px; top:36px; z-index:100; font-size:16px; color:#3cacd4;}
.couponform{ padding:16px 0;width:470px;position:relative; left:490px; top:20px}
/*服务管理*/
.main_center .serviceBtn{ width:96px; line-height:36px; height:36px; background:url(../images/b_add_icon.jpg) no-repeat; position:absolute; padding-left:38px; left:10px; top:16px; z-index:100; font-size:16px; color:#3cacd4;}

