@charset "utf-8";
/* CSS Document */
.head_bj {
	background:#fff;
}
.lb_font {
	color: rgb(255, 255, 255);
}
.lb_font_w {
	color: rgb(252, 239, 98);
}
.brbottom {
	border-bottom-color: rgb(119, 176, 253); border-bottom-width: 1px; border-bottom-style: solid;
}
.brtop {
	border-top-color: rgb(29, 122, 217); border-top-width: 1px; border-top-style: solid;
}
.left_nav_box {
	/*background: rgb(69, 147, 253); border: 1px solid rgb(69, 147, 253);*/
}
.whitebg .lntitle {
	color: rgb(69, 147, 253);
}
.whitebg .lndetail a {
	color: rgb(69, 147, 253);
}
.whitebg .lndetail {
	color: rgb(69, 147, 253);
}
.lndetailtitle {
	color: rgb(69, 147, 253);
}
.aider_top h1 {
	color: rgb(69, 147, 253);
}
.aider_bang a {
	color: rgb(69, 147, 253);
}
.login_title li.cur {
	color: rgb(69, 147, 253);
}
.forget_pass {
	color: rgb(69, 147, 253);
}
.user_left h2 {
	color: rgb(69, 147, 253);
}
.user_name a {
	color: rgb(69, 147, 253);
}
.center_bottom_number {
	color: rgb(69, 147, 253);
}
.center_bottom_txt a {
	color: rgb(69, 147, 253);
}
.zhangd_table table tr td span {
	color: rgb(69, 147, 253);
}
.zhangd_div {
	color: rgb(69, 147, 253);
}
.zican_top {
	color: rgb(69, 147, 253);
}
.zican_bottom {
	color: rgb(69, 147, 253);
}
.txt_1 p a {
	color: rgb(69, 147, 253);
}
.ding_nav ul li.ding_active a {
	color: rgb(69, 147, 253);
}
.user_wanc {
	color: rgb(69, 147, 253);
}
.acur {
	color: rgb(69, 147, 253);
}
.bigfont {
	color: rgb(69, 147, 253);
}
.propercent {
	color: rgb(69, 147, 253);
}
.zican_top {
	color: rgb(69, 147, 253);
}
.zc_edit {
	color: rgb(69, 147, 253);
}
.zican_bottom a {
	color: rgb(69, 147, 253);
}
.web_fuwu h1 {
	color: rgb(102, 102, 102);
}
.anti_fuwu h1 {
	color: rgb(102, 102, 102);
}
.subnav ol li.active {
	background: url("../images/dian_1.jpg") no-repeat;
}
.web_input input {
	border: 2px solid rgb(69, 147, 253);
}
.pei_ul_1 li.pei_active {
	border: 2px solid rgb(69, 147, 253);
}
.pei_ul_2 li.pei_active {
	border: 2px solid rgb(69, 147, 253);
}
.pei_ul_3 li.pei_active {
	border: 2px solid rgb(69, 147, 253);
}
.lagst-left a {
	border: 0px currentColor;
}
.list ul li {
	border-color: rgb(19, 105, 192);
}
.peiz_center ul li:hover {
	border-color: rgb(19, 105, 192);
}
.list ul li:hover {
	/*background: rgb(19, 105, 192);*/
}
.list_active {
	/*background: rgb(19, 105, 192);*/
}
.web_scancur {
	background: rgb(19, 105, 192);
}
.lagst-right p a {
	/*color: rgb(255, 255, 255);*/
}
.aider_center_bj {
	background: rgb(29, 122, 217);
}
.scancur {
	background: rgb(29, 122, 217);
}
.zhangd_div {
	border: 1px solid rgb(69, 147, 253);
}
.peiz_cont {
	border: 1px solid rgb(69, 147, 253);
}
.zhangd_div2 {
	padding: 4px 30px; border: 1px solid rgb(69, 147, 253); text-align: left; color: rgb(69, 147, 253); line-height: 22px; font-size: 14px; position: relative;
}
.wechatebox {
	background: rgb(255, 255, 255); padding: 5px; border: 1px solid rgb(224, 224, 224); width: 100px; height: 164px; right: 15px; bottom: 0px; display: none; position: absolute;
}
.right_nav {
	position: relative;
}
.wechatebox img {
	width: 100px; height: 100px;
}
.wechatenam {
	background: url("../images/wechatsmall.png") no-repeat left; height: 20px; color: rgb(103, 103, 103); line-height: 20px; padding-left: 28px; font-size: 14px; margin-top: 5px;
}
.wechatep {
	color: rgb(103, 103, 103); font-size: 12px; margin-top: 5px;
}
.wechateicon {
	left: 0px; bottom: 0px; position: absolute; cursor: pointer;
}
.helph {
	height: 30px; color: rgb(102, 102, 102); line-height: 30px; padding-top: 20px; padding-left: 20px; font-size: 16px;
}
h4.helph {
	padding-top: 0px; font-size: 15px;
}
.help_detail {
	margin: 10px 0px 0px 20px; color: rgb(136, 136, 136); line-height: 24px; text-indent: 2em; font-size: 14px;
}
.help_right {
	padding: 10px 20px;
}
.help_right img {
	width: 62%; height: 50%; margin-left: 19%;
}
.lb_font_w {
	font-size: 20px;
}
.subnav_box {
	height: 302px;
}
.right_nav {
	height: 302px;
}
.subnav ul li {
	width: 913px; height: 306px;
}
.subnav {
	width: 913px; height: 306px;
}
.lb_font {
	font-size: 14px;
}
.lb_third {
	top: 45px; right: 249px;
}
.lb_forth {
	top: 38px;
}
.lb_first {
	bottom: 43px;
}
.lb_second {
	right: 86px; bottom: 13px;
}
.right_nav {
	background: 0px; border: 0px currentColor; width: 190px;
}
.right_list {
	background: rgb(247, 247, 247); border: 1px solid rgb(222, 222, 222);
}
.right_title {
	background: rgb(247, 247, 247); border: 1px solid rgb(222, 222, 222);
}
.right_list {
	height: 90px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.right_wechate {
	border: 1px solid rgb(222, 222, 222); padding-top: 2px; margin-top: 2px;
}
.subnav ol li.active {
	background: url("../images/dian_11.png") no-repeat;
}
.subnav ol {
	left: 424px; bottom: 22px;
}
.web_main {
	padding: 0px; width: 220px;
}
.in_web_box {
	padding: 2px 15px; width: 182px; height: 35px;
}
.web_main {
	padding: 0px; width: 212px; height: 228px; margin-right: 8px; border-right-color: rgb(222, 222, 222); border-right-width: 1px; border-right-style: solid; position: relative;
}
.web_main .web_txt{
	color:#323232;
	font-size:12px;
}
.web_main_pic {
	margin-top: 0px;
}
.web_main .web_model {
	width: 100%;
}
.web_main .web_modelp {
	width: 100%;
}
.web_main h2 {
	line-height: 36px; font-weight: normal;
}
.web_left {
	width: 50%; color: rgb(153, 153, 153); line-height: 18px; font-size: 13px; float: left; -ms-word-break: break-all; -ms-word-wrap: break-word;
}
.web_right {
	width: 39%; float: right;
}
.web_left p {
	color: rgb(255, 66, 0); padding-top: 10px; font-size: 16px;
}
.web_money {
	font-size: 20px;
}
.index_buy {
	margin: 10px auto 0px; width: 72px; height: 29px; display: block;
}
.anti_main {
	padding: 0px; width: 361px; height: 134px; margin-right: 6px; border-right-color: rgb(222, 222, 222); border-right-width: 1px; border-right-style: solid;
}
.anti_main_pic {
	width: 145px; height: 134px; margin-top: 0px; margin-right: 20px;
}
.anti_main_right {
	margin-top: 0px;
}
.anti_main_right h2 {
	padding-top: 10px; padding-bottom: 6px; font-weight: normal;
}
.anti_main_right a {
	color: rgb(102, 102, 102);
}
.anti_box {
	height: 42px; overflow: hidden; padding-top: 10px;
}
.anti_box p {
	color: rgb(255, 66, 0); font-size: 16px; margin-top: 6px; float: left;
}
.anti_box a {
	margin-top: -32px; margin-right: 16px; float: right;
}
.head_bj {
	height: 60px;
}
.lagst-left a {
	margin-top: 7px;
}
.lagst-right {
	padding-top: 7px;
}
.lagst-right a{
	font-size:18px;
	color:#343434;
}
.list ul li {
	line-height: 60px;
}
.lagst {
	height: 40px;
	padding-top:10px;
	margin-left:12px;
}
.subnav ul {
	height: 302px;
}
.web_main .web_txt {
	padding: 0px 15px; color: rgb(194, 194, 194); line-height: 20px; font-size: 12px;
}
.anti_main_right p {
	line-height: 20px; font-size: 12px;
	margin-bottom:4px;
}
.anti_main {
	position: relative;
}
.web_model {
	background: rgb(255, 255, 255); left: 0px; width: 361px; height: 134px; bottom: 0px; display: none; position: absolute; z-index: 10; opacity: 0.9;
}
.web_modelp {
	left: 0px; width: 361px; height: 134px; text-align: center; bottom: 0px; color: rgb(0, 0, 255); line-height: 134px; display: none; position: absolute; z-index: 10;
}
.right_wechate img {
	margin: 5px 43px 6px; width: 102px;
}
.right_wechate p {
	text-align: center; font-size: 12px;
}
.new_in_web_box{
border-top:#009dd9 solid 3px; margin:4px 10px 0 10px; padding:0; padding-top:8px;	
}
.web_left  .new_web_p{
padding:0; font-size:23px;	
}
.web_left  .new_web_pt{
	padding:0; color:#cbcbcc; padding-left:17px; margin-top:4px;
}
.web_main  .new_index_buy{
	width:69px; height:23px; display:inline-block; text-align:center; line-height:23px; color:#fff; font-size:14px; background-color:#009dd9; border:#a8ddf3 solid 1px; border-radius:4px; margin:0;
}

.anti_main .new_index_buy{
	width:69px; height:23px; display:inline-block; text-align:center; line-height:23px; color:#fff; font-size:14px; background-color:#009dd9; border:#a8ddf3 solid 1px; border-radius:4px; margin:0;
}