@charset "utf-8";
/* CSS Document */
body{}
body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,hr,blockquote,object,iframe,fieldset,input,legend,form,th,td{margin:0;padding:0; }
body,input,textarea,keygen,select,button,isindex{font:14px/24px Verdana,Tahoma,"Lucida Grande","\5FAE\8F6F\96C5\9ED1";color:#000;word-break:break-all}
ul,ol,li{list-style:none}
img{border:none}
button,select{ outline:none;}
/*common*/
h1,h2,h3,h4,h5,h6{font-weight:normal}
h1{font-size:24px}h2{font-size:20px}h3{font-size:18px}h4{font-size:16px}h5{font-size:14px}h6{font-size:14px}
i,b,em{font-style:normal;font-weight:normal}
i{display:inline-block;height:16px;line-height:16px;width:16px;vertical-align:middle}/*i作为图标专用标签*/
table{border-collapse:collapse;border-spacing:0}
td{padding:3px 5px}
th{font-weight:normal}
input{ outline:none; font-size:14px; line-height:14px;}
.fl{float:left}
.fr{float:right}
.clearBoth{clear:both}
.clearfix:before,.clearfix:after{content:"";display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}
.clearfix:after{clear:both}
.clearfix{zoom:1}
.mc{margin:0 auto}
.pr{position:relative;*zoom:1}
.pa{position:absolute}
.tc{text-align:center}
.tl{text-align:left !important}
.tr{text-align:right !important}
.trOver{background:#d1edff}
.noBorder{border:none 0 !important}
.noBg{background:none !important}
a{text-decoration:none;}
.hr{ border-bottom:#e8e8e8 solid 1px; height:1px; overflow:hidden;}
.text{width:146px; height:24px; border:#dcdcdc solid 1px;}
.textarea{border:#dcdcdc solid 1px; resize:none; outline:none; font-size:14px;}
.logo{ width:352px; float:left;}
.list{ float:right;}
.list ul li{ float:left; padding:0px 20px; font-size:18px; line-height:70px; border-left:1px solid #11871d; cursor:pointer; }
.list ul li a{ color:#fff;}
.list_active{ background:#1369c0;}
.list ul li:hover{ background:#1369c0;}

.lagst{ width:200px; float:left; height:70px;}
.lagst-left{ width:65px; float:left;}
.lagst-left a{ width:45px; height:45px; overflow:hidden; border-radius:22px; display:block; margin-top:13px; margin-left:10px;}
.lagst-left a img{width:45px;}
.lagst-right { padding-top:13px;}
.lagst-right p{ line-height:22px;}
.lagst-right p a{ color:#177220;}


.bottom_bj{ width:100%; height:150px; background:#cbc9c9;}
.bottom{width:1100px; height:100%; margin:0 auto;}
.bottom_main{ float:left; width:180px; padding-top:20px;}
.bottom_main h3{ font-size:16px; line-height:30px; font-weight:800;}
.bottom_main h3 a{color:#666;}
.bottom_main ul li{ font-size:14px; line-height:24px;color:#888}
.bottom_main ul li a{ color:#888;}


.head_bj {background: url("../images/head_bj.png") repeat-x scroll center bottom #1d7ad9;}
.lb_font{color:#fff;}
.lb_font_w{color:#fcef62;}
.brbottom {border-bottom: 1px solid #77b0fd;}
.brtop {border-top: 1px solid #1d7ad9;}
.left_nav_box {border: 1px solid #4593fd;background:#4593fd;}
.whitebg .lntitle,.whitebg .lndetail a,.whitebg .lndetail{color:#4593fd;}
.lndetailtitle,.aider_top h1,.aider_bang a,.login_title li.cur,.forget_pass,.user_left h2,.user_name a,.center_bottom_number,.center_bottom_txt a,.zhangd_table table tr td span,.zhangd_div,.zican_top,.zican_bottom,.txt_1 p a,.ding_nav ul li.ding_active a,.user_wanc,.acur,.bigfont,.propercent{color: #4593fd;}
.web_fuwu h1,.anti_fuwu h1{color: #666;}
.subnav ol li.active {background: url("../images/dian_1.jpg") no-repeat scroll 0% 0% transparent;}
.web_input input,.pei_ul_1 li.pei_active {border: 2px solid #4593fd;}
.lagst-left a{border:0;}
.list ul li,.peiz_center ul li:hover{border-color:#1369c0;}
.list ul li:hover,.list_active,.web_scancur{ background:#1369c0;}
.lagst-right p a {color: #fff;}
.aider_center_bj,.scancur{background:#1d7ad9;}
.zhangd_div,.peiz_cont{border:1px solid #4593fd;}

.head_bj{ height:74px; width:100%;  background:url(../images/head_bj.png) bottom repeat-x #1d7ad9; overflow:hidden;}
.head{ width:1100px; margin:0 auto;}
.safe{ background:url(../images/bj.jpg) no-repeat #04144d center top;}
.safe_Box{ padding-top:30px;}
.safe .safe_middle{ width:1295px; margin:0 auto; height:660px; padding-top:25px; overflow:hidden; position:relative;}
.safe .safe_list{ position:absolute; left:632px;}
.safe .safe_list li{ float:left; margin-right:50px; padding:0 4px 6px 4px; font-size:16px; color:#fff; font-family:"微软雅黑"; cursor:pointer;}
.safe .safe_list .this{border-bottom:#00b7ee solid 2px;}
.safe .safe_list .hover{border-bottom:#00b7ee solid 2px;}
.safe .safe_cent{ position:relative; display:none;}
.safe .safe_cent .safe_left{width:162px; font-family:"微软雅黑"; position:absolute; left:0px; top:78px;}
.safe .safe_cent .safe_left li{ margin-bottom:39px;}
.safe .safe_cent .safe_left li p{ font-size:14px; color:#00b7ee; padding-bottom:10px;}
.safe .safe_cent .safe_left li h2{ font-size:18px; color:#ffffff;}
.safe .safe_cent .safe_map{ width:850px; position:absolute; height:550px; top:32px; left:160px;}
.safe .safe_cent .safe_right{ width:418px; height:400px; position:absolute; right:0px; top:26px;}
.safe .safe_cent .safe_right .warn{ width:334px; height:280px; margin-left:52px;}
.safe .safe_cent .safe_right .leak{ width:480px; height:240px; margin-top:16px;}
.safe .safe_cent .safe_right .warn .warn_tab{ width:358px; height:38px; border-radius:10px 10px 0 0;}
.safe .safe_cent .safe_right .warn .warn_tab li{ cursor:pointer; float:left; width:178px;height:38px; line-height:38px; text-align:center; position:relative; }
.warnBox .warn_b{ display:none;}
.safe .safe_cent .safe_right .warn .warn_tab strong{ font-size:16px; color:#bfbfbf; position:relative; z-index:1000}
.safe .safe_cent .safe_right .warn .warn_tab li p{ width:100%; height:100%; position:absolute; left:0px; top:0px;background:#0c3675; opacity:0.6;filter:Alpha(opacity=60); z-index:9}
.safe .safe_cent .safe_right .warn .warn_tab li .l{border-radius:10px 0 0 0;}
.safe .safe_cent .safe_right .warn .warn_tab li .r{border-radius:0 10px 0 0;}
.safe .safe_cent .safe_right .warn .warn_tab .this p{background-color:#1763b8;opacity:1;filter:Alpha(opacity=100);}
.safe .safe_cent .safe_right .warn .warn_tab .this strong{ color:#fff;}
.safe .safe_cent .safe_right .warn .warn_b{ position:relative; width:336px; height:214px; background:url(../images/op.png) repeat-x; padding:10px;}
.cue {
    bottom: 1%;
    height: 96px;
    left: 26%;
    position: absolute;
    width: 504px;
}
.bar {
    position: absolute;
    height: 15px;
    margin-top: 3px;
    background-color: rgb( 0, 191, 243 );
    z-index: 1;
    max-width: 98%;
}
.bartext{
	margin-top: 3px;
	/* position: absolute; */
	float:right;
    line-height: 12px;
    font-size: 10px;
    color:#ffffff;
    width: 60px;
    
}
.newbar {
    position: absolute;
    height: 15px;
    margin-top: -9px;
    z-index: 1;
    max-width: 100%;
}
.piece{ position:absolute; width:404px; height:100px; top:448px; left:10px;}
.piece .warn .warn_tab li{ width:320px; height:38px;border-radius:10px 10px 0 0; line-height:38px; text-align:left; font-size:14px; color:#00b7ee; font-weight:bold;}
.piece .warn .warnBox{ width:320px; height:135px;  overflow:hidden;font-size:12px; color:#fff;}
