@charset "utf-8";

/* CSS Document */

.head_bj {
	background: url("../images/head_bj.png") repeat-x bottom rgb(45, 160, 57); width: 100%; height: 74px;
}
.head {
	margin: auto; width: 1100px;
}
.logo {
	width: 352px; float: left;
	padding-top:4px;
}
.list {
	float: right;
}
.list ul li {
	padding: 0px 20px; line-height: 70px; font-size: 18px; float: left; cursor: pointer;
}
.list ul li a {
	color:#343434;
}
.list ul li a:hover{
	color: #2499fb;
}
.list_active {
	/*background: rgb(69, 182, 43);*/
}
.list ul li:hover {
	
	/*background: rgb(69, 182, 43);*/
}
.lagst {
	 height: 70px; float: right;
}
.lagst-left {
	width: 65px; float: left;
}
.lagst-left a {
	border-radius: 22px; border: 1px solid rgb(23, 114, 32); width: 45px; height: 45px; overflow: hidden; margin-top: 13px; margin-left: 10px; display: block;
}
.lagst-left a img {
	width: 45px;
}
.lagst-right {
	padding-top: 13px;
}
.lagst-right p {
	line-height: 22px;
}
.lagst-right p a {
	color: rgb(23, 114, 32);
}
.bottom_bj {
	background: rgb(203, 201, 201); width: 100%; height: 150px;
}
.bottom {
	margin: auto; width: 1100px;
}
.bottom_main {
	width: 180px; padding-top: 20px; float: left;
}
.bottom_main h3 {
	line-height: 30px; font-size: 16px; font-weight: 800;
}
.bottom_main h3 a {
	color: rgb(102, 102, 102);
}
.bottom_main ul li {
	color: rgb(136, 136, 136); line-height: 24px; font-size: 14px;
}
.bottom_main ul li a {
	color: rgb(136, 136, 136);
}
.logo img{vertical-align:middle; /*position:relative; left:-24px;*/}
.logo b{ height:40px; width:1px; background-color:#343434;margin:0 10px; display:inline-block; vertical-align:middle;}
.logo span{ font-size:18px; color:#343434; vertical-align:middle;display:inline-block;}
.safer a{
	font-size:20px;
	 font-family: "黑体";
	 color: #343434;
}
.safer a:hover{
	color: #2499fb;
}
.safer em{
	font-size: 18px;
	color: #c6c6c6;
}