<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.AssetMapper">
<sql id="cols">id,name,type,addr,status,userid,create_date,remarks</sql>
	<resultMap type="com.cn.ctbri.entity.Asset" id="AssetRM">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="type" column="type"/>
		<result property="addr" column="addr"/>
		<result property="status" column="status"/>
		<result property="userid" column="userid"/>
		<result property="create_date" column="create_date"/>
		<result property="remarks" column="remarks"/>
		<result property="districtId" column="districtId"/>
	</resultMap> 
	<!-- 按用户id查询资产 -->
	<select id="findByUserId" parameterType="int" resultMap="AssetRM">
		select a.id,a.name,a.type,a.addr,a.status,a.userid,a.create_date,a.remarks
		from cs_asset a
		where a.userid = #{userid}
	</select>
	<!-- 新增资产 -->
	<insert id="saveAsset" parameterType="com.cn.ctbri.entity.Asset">
		insert into cs_asset 
		(name,type,addr,status,userid,create_date,remarks) values(#{name},#{type},#{addr},#{status},#{userid},#{create_date},#{remarks})
	</insert>
	<!-- 删除资产 -->
	<delete id="delete">
		delete from cs_asset 
		where id=#{id}
	</delete>
	<!-- 根据资产状态和资产名称搜索资产 -->
	<select id="searchAssetsCombine" parameterType="com.cn.ctbri.entity.Asset" resultMap="AssetRM">
		select a.id,a.name,a.type,a.addr,a.status,a.userid,a.create_date,a.remarks
		from cs_asset a
		where a.userid = #{userid}
		<if test="status!=null">
			and a.status=#{status}
		</if>
		<if test="name!=null and name!=''">
			and a.name like CONCAT(CONCAT('%', #{name}), '%')
		</if>
	</select>
	<!-- 根据资产id查询资产 -->
	<select id="findById" parameterType="int" resultMap="AssetRM">
		select * from cs_asset
		where id=#{id} 
	</select>
	<!-- 修改资产状态 -->
	<update id="updateAsset" parameterType="com.cn.ctbri.entity.Asset">
		update cs_asset
		<set>
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="addr!=null">
				addr=#{addr},
			</if>
				status=#{status}
		</set>
		where id=#{id}
	</update>
	
	<!-- 按服务id查询订单资产 -->
    <select id="findorderAssetByServId" parameterType="com.cn.ctbri.entity.OrderAsset" resultMap="AssetRM">
        select * from cs_asset a 
        where a.id in(select oa.assetId from cs_order_asset oa where oa.serviceid = #{serviceId}
        <if test="scan_type!=0">
            and oa.scan_type=#{scan_type}
        </if>
        <if test="scan_date!=null">
            and oa.scan_date=#{scan_date}
        </if>)
    </select>
    
    <!-- 按服务id查询订单IP段 -->
    <select id="findorderIP" parameterType="com.cn.ctbri.entity.OrderIP" resultType="com.cn.ctbri.entity.OrderIP">
        select * from cs_order_ip where serviceid = #{serviceId} and ip = #{ip}
    </select>
    
    <!-- 根据订单id查询资产集合 -->
    <select id="getAssetByOrderId" parameterType="com.cn.ctbri.entity.Order" resultType="com.cn.ctbri.entity.Asset">
        select * from cs_asset a
        where a.id in (select assetId from cs_order_asset oa where oa.orderId = #{id})
    </select>
	
	<!-- 根据任务查询资产集合 -->
    <select id="getAssetByTask" parameterType="com.cn.ctbri.entity.Task" resultType="com.cn.ctbri.entity.Asset">
        select a.* 
        from cs_order_asset oa left join cs_asset a 
        on oa.assetId = a.id  right join cs_task t 
        on t.order_asset_Id = oa.id
        where t.taskId = #{taskId}
    </select>
    
    <!-- 根据资产id查询资产 -->
    <select id="findAssetById" parameterType="int" resultMap="AssetRM">
        select a.* from cs_asset a,cs_order_asset oa 
        where a.id = oa.assetId and oa.id=#{id}
    </select>
</mapper>