<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.TaskWarnMapper">
<sql id="cols">id,cat1,cat2,name,severity,rule,ct,app_p,tran_p,url,msg,task_id,warn_time</sql>
	<resultMap type="com.cn.ctbri.entity.TaskWarn" id="TaskWarnRM">
		<id property="id" column="id"/>
		<result property="cat1" column="cat1"/>
		<result property="cat2" column="cat2"/>
		<result property="name" column="name"/>
		<result property="severity" column="severity"/>
		<result property="rule" column="rule"/>
		<result property="ct" column="ct"/>
		<result property="app_p" column="app_p"/>
		<result property="tran_p" column="tran_p"/>
		<result property="url" column="url"/>
		<result property="msg" column="msg"/>
		<result property="task_id" column="task_id"/>
		<result property="warn_time" column="warn_time"/>
	</resultMap> 
	<!-- 根据订单id查询告警信息 modify by tang 2015/11/3-->
	<!-- <select id="findTaskWarnByOrderId" parameterType="hashmap" resultMap="TaskWarnRM">
	    <if test="websoc!=1">
            SELECT tw.* 
            FROM cs_order_asset oa ,cs_task t,cs_taskwarn tw
            WHERE oa.orderId=#{orderId} AND oa.id=t.order_asset_Id AND t.taskId=tw.task_id
       </if>
       <if test="websoc==1">
            SELECT tw.* 
            FROM cs_order_asset oa ,cs_task t,cs_taskwarn tw
            WHERE oa.orderId=#{orderId} AND oa.id in(t.order_asset_Id) AND t.group_id=tw.group_id
       </if>
	</select> -->
	
	<select id="findTaskWarnByOrderId" parameterType="hashmap" resultMap="TaskWarnRM">
            SELECT tw.* 
            FROM cs_order_asset oa ,cs_task t,cs_taskwarn tw
            WHERE oa.orderId=#{orderId} AND oa.id=t.order_asset_Id AND (t.taskId=tw.task_id or t.group_id=tw.group_id)
	</select>
	
		<!-- 根据订单id查询告警次数 -->
	<select id="findTaskWarnCountByOrderId" parameterType="String" resultMap="TaskWarnRM">
		SELECT COUNT(*) AS count 
		FROM cs_order_asset oa ,cs_task t,cs_taskwarn tw
		WHERE oa.orderId=#{orderId} AND oa.id=t.order_asset_Id AND t.taskId=tw.task_id;
	</select>
		<!-- 根据订单id查询可用率统计 -->
	<select id="findUseableByOrderId" parameterType="String" resultMap="TaskWarnRM">
		SELECT tw.*,oa.scan_type
		FROM cs_order_asset oa,cs_task t,cs_taskwarn tw
		WHERE oa.orderId=#{orderId} AND oa.id=t.order_asset_Id AND tw.task_id=t.taskId
		GROUP BY tw.url
	</select>
	<!-- 根据groupid查询 -->
	<select id="findTaskWarnByGroupId" parameterType="String" resultMap="TaskWarnRM">
	SELECT tw.* FROM cs_taskwarn tw WHERE tw.group_id=#{groupId}	
	</select>
	
	<!-- 根据taskid查询 -->
	<select id="findTaskWarnByTaskId" parameterType="Integer" resultMap="TaskWarnRM">
	SELECT tw.* FROM cs_taskwarn tw WHERE tw.task_id=#{taskId}	
	</select>
</mapper>