<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.TaskMapper">
<sql id="cols">taskId,order_asset_Id,execute_time,status,remarks</sql>
	<resultMap type="com.cn.ctbri.entity.Task" id="TaskRM">
		<id property="taskId" column="taskId"/>
		<result property="order_asset_Id" column="order_asset_Id"/>
		<result property="execute_time" column="execute_time"/>
		<result property="status" column="status"/>
		<result property="remarks" column="remarks"/>
		<result property="group_flag" column="group_flag"/>
	</resultMap> 
	<!-- 根据条件查询任务表 -->
	<select id="findTask" parameterType="hashmap" resultMap="TaskRM">
		select * from cs_task t
		where t.status = #{status}
		<if test="status==1">
		  and t.execute_time between date_add(now(),interval -1 minute) and now()
		</if>
		<!-- limit #{page} -->
	</select>
	
	<!-- 根据条件查询任务表 -->
    <select id="findDelTask" parameterType="hashmap" resultMap="TaskRM">
        select * from cs_task t
        where t.status = #{status} 
        <if test="status==2">
          and t.end_time between date_add(now(),interval -1 minute) and now()
        </if>
        <!-- limit #{page} -->
    </select>
    
    <!-- 根据条件查询引擎异常任务表 -->
    <select id="findExpTask" parameterType="hashmap" resultMap="TaskRM">
        select * from cs_task t
        where t.status = #{status} 
        <if test="status==1">
          and t.engine = -1
        </if>
        order by t.execute_time
        <!-- limit #{page} -->
    </select>
    
	<!-- 更新任务信息 -->
	<update id="update"  parameterType="com.cn.ctbri.entity.Task">
		update cs_task
		<set>
			<if test="status!=null">
				status=#{status} , 
			</if>
			<if test="execute_time!=null">
				execute_time=#{execute_time},
			</if>
			<if test="end_time!=null">
                end_time=#{end_time},
            </if>
            <if test="scanTime!=null">
                scanTime=#{scanTime},
            </if>
            <if test="group_id!=null">
                group_id=#{group_id},
            </if>
            <if test="taskProgress!=null">
                taskProgress=#{taskProgress},
            </if>
            <if test="engine!=null">
                engine=#{engine},
            </if>
            <if test="websoc!=null">
                websoc=#{websoc}
            </if>
		</set>
		<!-- where taskId = #{taskId} -->
        where orderTaskId = #{orderTaskId}
	</update>
	
	<!-- 更新任务信息 -->
    <update id="updateTask"  parameterType="com.cn.ctbri.entity.Task">
        update cs_task
        <set>
        	<if test="execute_time!=null">
                execute_time=#{execute_time},
            </if>
            <if test="begin_time!=null">
                begin_time=#{begin_time},
            </if>
            <if test="end_time!=null">
                end_time=#{end_time},
            </if>
            <if test="scanTime!=null">
                scanTime=#{scanTime},
            </if>
            <if test="engineIP!=null">
                engineIP=#{engineIP},
            </if>
            <if test="taskProgress!=null">
                taskProgress=#{taskProgress},
            </if>
            <if test="currentUrl!=null">
                currentUrl=#{currentUrl},
            </if>
            <if test="issueCount!=null">
                issueCount=#{issueCount},
            </if>
            <if test="requestCount!=null">
                requestCount=#{requestCount},
            </if>
            <if test="urlCount!=null">
                urlCount=#{urlCount},
            </if>
            <if test="averResponse!=null">
                averResponse=#{averResponse},
            </if>
            <if test="averSendCount!=null">
                averSendCount=#{averSendCount},
            </if>
            <if test="sendBytes!=null">
                sendBytes=#{sendBytes},
            </if>
            <if test="receiveBytes!=null">
                receiveBytes=#{receiveBytes},
            </if>
            <if test="status!=null">
                status=#{status}
            </if>
            <!-- <if test="dns!=null">
                dns=#{dns}
            </if> -->
        </set>
        <!-- where taskId = #{taskId} -->
        where orderTaskId = #{orderTaskId}
    </update>
	
	<!-- 插入任务信息 -->
    <insert id="insert" parameterType="com.cn.ctbri.entity.Task">
		INSERT INTO cs_task
			(taskId,order_asset_Id,execute_time,status,group_flag,remarks,
			engineIP,taskProgress,currentUrl,begin_time,end_time,scanTime,
			issueCount,requestCount,urlCount,averResponse,
			averSendCount,sendBytes,receiveBytes,websoc,orderTaskId) 
			VALUES(#{taskId}, #{order_asset_Id} , #{execute_time},#{status},#{group_flag},
			#{remarks},#{engineIP},#{taskProgress},#{currentUrl},#{begin_time},#{end_time},#{scanTime},
			#{issueCount},#{requestCount},#{urlCount},#{averResponse},#{averSendCount},#{sendBytes},#{receiveBytes},#{websoc},#{orderTaskId})
			ON DUPLICATE KEY UPDATE 
				status=#{status},
				engineIP=#{engineIP},
				taskProgress=#{taskProgress},
                currentUrl=#{currentUrl},
                execute_time=#{execute_time},
                group_flag=#{group_flag},
                begin_time=#{begin_time},
                end_time=#{end_time},
                scanTime=#{scanTime},
                issueCount=#{issueCount},
                requestCount=#{requestCount},
                urlCount=#{urlCount},
                averResponse=#{averResponse},
                averSendCount=#{averSendCount},
                sendBytes=#{sendBytes},
                receiveBytes=#{receiveBytes}
	</insert>
    
    <select id="getTypeByAssetId" parameterType="Integer" resultType="com.cn.ctbri.entity.OrderAsset">
        select distinct oa.scan_type,oa.orderId from cs_task t,cs_order_asset oa where t.order_asset_id = oa.id and t.order_asset_id = #{order_asset_Id}
    </select>
    
    <select id="getNextScanTime" parameterType="java.util.HashMap" resultType="java.util.Date">
        select date_add(#{executeTime},interval #{scantime} minute)   
    </select>
    
    <!-- 插入任务告警信息 -->
    <insert id="insertTaskWarn" parameterType="com.cn.ctbri.entity.TaskWarn" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO cs_taskwarn
        (id,cat1,cat2,name,severity,rule,ct,app_p,tran_p,url,msg,task_id,warn_time) 
        VALUES(#{id}, #{cat1} , #{cat2},#{name},#{severity},#{rule},#{ct},#{app_p},#{tran_p},#{url},#{msg},#{task_id},#{warn_time})
        ON DUPLICATE KEY UPDATE 
				cat1=#{cat1},
				cat2=#{cat2},
				name=#{name},
                severity=#{severity},
                rule=#{rule},
                ct=#{ct},
                app_p=#{app_p},
                tran_p=#{tran_p},
                url=#{url},
                msg=#{msg},
                task_id=#{task_id},
                warn_time=#{warn_time}
    </insert>
    
    <!-- 获取订单还在执行的任务 -->
    <select id="getTaskStatus" parameterType="com.cn.ctbri.entity.Order" resultType="com.cn.ctbri.entity.Task">
        select t.taskId from cs_task t,cs_order_asset oa where t.order_asset_Id=oa.id and oa.orderId = #{id} and t.status in(1,2)
    </select>
    
    <!-- 根据创宇group_id获取任务 -->
    <select id="findTaskByGroupId" parameterType="String" resultType="com.cn.ctbri.entity.Task">
        select t.taskId from cs_task t where t.group_id = #{group_id} and t.status in(2)
    </select>
    
    <!-- 获取安恒在执行的任务 -->
    <select id="getArnhemTask" resultType="com.cn.ctbri.entity.Task">
        select * from cs_task t where t.status = 2 and (t.websoc = 0 or t.websoc is null)
    </select>
    
    <!-- 获取创宇在执行的任务 -->
    <select id="getWebsocTask" resultType="com.cn.ctbri.entity.Task">
        select * from cs_task t where t.status = 2 and t.websoc = 1
    </select>
    
    <!-- 获取创宇在执行的任务 -->
    <select id="findDistrictIdByTaskId" parameterType="String" resultType="Integer">
        select IFNULL(a.districtId,35) districtId from cs_task t,cs_order_asset oa,cs_asset a
     	where  t.order_asset_Id = oa.id and oa.assetId = a.id and t.taskId = #{taskId}
    </select>
    
    <!-- 根据引擎IP获取安恒在执行的任务 -->
    <select id="getArnhemTaskByEngine" parameterType="String" resultType="com.cn.ctbri.entity.Task">
        select * from cs_task t where t.status = 2 and t.engineIP = #{engine_addr}
    </select>
    
    <!-- 根据引擎IP获取安恒在执行的任务 -->
    <select id="getDels" resultType="com.cn.ctbri.entity.Task">
        select * from cs_task t where t.execute_time &lt;='2015-07-01 00:00:00' order by t.execute_time desc
    </select>
    
    <!-- 根据orderTaskId获取任务 -->
    <select id="findByOrderTaskId" parameterType="String" resultType="com.cn.ctbri.entity.Task">
        select * from cs_task t where t.orderTaskId = #{orderTaskId}
    </select>
    
    <!-- 根据orderId获取任务 -->
    <select id="findTaskByOrderId" parameterType="hashmap" resultType="map">
         select min(t.taskId) as taskId, t.status,
	         date_format(t.execute_time,'%Y-%m-%d %H:%i:%S') executeTime,
	         date_format(t.begin_time,'%Y-%m-%d %H:%i:%S') beginTime,
	         ifnull(date_format(t.end_time,'%Y-%m-%d %H:%i:%S'),'') endTime,
	         date_format(t.group_flag,'%Y-%m-%d %H:%i:%S') groupFlag,
	         t.engineIP, t.taskProgress, t.currentUrl,
	         t.scanTime, t.issueCount, t.requestCount,
	         t.urlCount, t.averResponse, t.averSendCount,
	         t.sendBytes, t.receiveBytes, t.group_id, ot.url
         from cs_task t,cs_order_task ot 
         where t.orderTaskId = ot.orderTaskId 
         and ot.orderId = #{orderId}
         <if test="status != null">
	          and t.status = #{status} 
	     </if>
         group by t.group_flag,ot.orderTaskId
    </select>
    
    <!-- 根据taskId获取任务 -->
    <select id="findTaskByTaskId" parameterType="String" resultType="com.cn.ctbri.entity.Task">
         select * from cs_task t where t.taskId = #{taskId}
    </select>
    
    <!-- 查找运行task -->
    <select id="findRunningTask" parameterType="String" resultType="com.cn.ctbri.entity.Task">
        SELECT t.*
        FROM cs_task t
        WHERE t.orderTaskId  like CONCAT(CONCAT('%', #{orderId}), '%') and t.status = 2
    </select>
    
    <!-- 查询弱点数 -->
    <select id="findissueCount" parameterType="String" resultType="Integer">
        SELECT ifnull(sum(t.issueCount),0) issueCount
        FROM cs_task t
        WHERE t.orderTaskId  like CONCAT(CONCAT('%', #{orderId}), '%')
    </select>
    
</mapper>