.settlement-content h4 {
	margin-left: 30px;
	line-height: 18px;
	font-size: 18px;
	margin-top: 20px;
	height: 18px;
}

.shoping_center {
	background: #e4f3ff;
	height: 208px;
	padding-left: 30px;
	padding-top: 14px;
}

.shoping_center ul li {
	font-size: 16px;
	line-height: 43px;
	height: 43px;
}

.shoping_center ul li b {
	width: 105px;
	display: inline-block;
	color: #565656;
}

.shoping_center ul li p {
	display: inline-block;
}

.shoping_line {
	border-top: 1px solid #f3f3f3;
	margin: 0 20px;
}

.shoping_txt {
	margin-left: 30px;
	line-height: 16px;
	font-size: 16px;
	margin-top: 20px;
	height: 16px;
}

.shoping_contant {
	margin-top: 30px;
	margin-left: 68px;
	margin-bottom: 26px;
	clear: both;
	overflow: hidden;
}

.shopCant_Btn {
	width: 22px;
	height: 22px;
	float: left;
	margin-right: 20px;
	margin-top: 8px;
}

.shopCant_fix {
	font-size: 14px;
	display: inline-block;
	margin-right: 66px;
	line-height: 35px;
	height: 35px;
}

.shopCant_fix i {
	background: url(../images/anquanbi.png) no-repeat;
	width: 32px;
	height: 35px;
	display: block;
	float: left;
	margin-right: 16px;
}

.shopCant_con {
	width: 155px;
	height: 36px;
	border: 1px solid #f3f3f3;
	line-height: 36px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

.btnFox {
	text-align: right;
}

.btnFox a {
	width: 120px;
	height: 50px;
	color: #fff;
	font-size: 18px;
	line-height: 50px;
	background: #d00000;
	text-align: center;
	display: inline-block;
}

.chekLost {
	width: 22px;
	height: 22px;
	background: url(../images/checked.png) no-repeat;
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
}

.chekthis {
	background: url(../images/unchecked.png) no-repeat;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
}

.shop_pay {
	width: 160px;
	float: right;
	font-size: 26px;
	color: #d00000;
	line-height: 36px;
	text-align: center;
	margin-right: 60px;
}

.shop_pay b {
	font-size: 16px;
	color: #000;
	line-height: 36px;
	display: block;
	float: left;
}