@charset "utf-8";
*{
	font-family: "微软雅黑";
}
.safeBox{
	
}
.safe01{
	
}
.safe01 .head{
	height: 56px;
	background-color: #ffffff;
	padding: 6px 0 0 0;
}
.headBox{
	/*width: 1120px;*/
	width: 1108px;
	margin: 0 auto;
	height: 100%;
}
.safeL{
	 width: 108px;
	 /*margin-right: 30%;*/
	 margin-right: 33%;
	 padding:4px 0 0 0;
}

.safem span,.safem .Divlist{
	margin-right: 48px;
}
.safem{
		line-height: 60px;
}
.safem a{
	 font-size:20px;
	 font-family: "微软雅黑";
	 color: #343434;
}
.safem a:hover{
	color: #2499fb;
}
.safer{
	line-height: 60px;
}
.safer a{
	font-size:20px;
	 font-family: "微软雅黑";
	 color: #343434;
}
.safer a:hover{
	color: #2499fb;
}
.safer em{
	font-size: 18px;
	color: #c6c6c6;
}
.Divlist{
	position: relative;
	line-height: 60px;
	z-index:12;
}
.Divlist a i{
	margin-left: 8px;
	width: 8px;
	height: 8px;
	display: inline-block;
	background: url(../images/portal/down.png) no-repeat;
}
.Divlist a .active{
	background: url(../images/portal/up.png) no-repeat;
}
.Divlist .list{
	background: #ffffff;
	position: absolute;
	padding: 0 4px;
	left: -20px;
	top:55px;
	width: 147px;
	height: 142px;
	border-top:#fbfbfb solid 1px;
	display: none;
}	
.Divlist .list li{
	text-align: center;
	height: 46px;
	border-bottom: #e3e3e3 solid 1px;
	line-height: 46px;
}
.bannerbtn{
	position:absolute;
	left:49%;
	bottom:5%;
	z-index:100;
	width:10%;
}
.bannerbtn li{
	width:10px;
	height:10px;
	background-color:#fff;
	border-radius:50%;
	float:left;
	margin-right:10%;	
}
.bannerbtn .active{
	border:#eb6100 solid 2px;
	margin-top:-2px;	
}
.Divlist .list li a{
	font-size: 16px;
}
.bannerBox{
	width: 100%;
	overflow: hidden;
	position:relative;
	height:674px;
}
.bannerB{
	margin: 0 auto;
	overflow:hidden;
	
}
.bannerB .bannerHeight{
	position:relative;
	z-index:3;
}
.v_cont{
	width:100%;	
}
.bannerB .bannerHeight li{
	width: 100%;
	height:674px;
	display: none;
}
.bannerB .bannerHeight li a{
	display: block; 	
}
.bannerB .bannerHeight li .vb{
	width: 1400px;
	margin: 0 auto;
	height: 100%; 
	background: #000;
	position: relative;
}

.v_show{ 
		position:relative;
		overflow:hidden;
		margin:0 auto;
}

.safe02{
	 background-color: #efefef;
	  overflow: hidden;
	  width: 100%;
	  padding-bottom: 60px;
}
.imgBox{
	padding-top: 60px;
	 width: 1116px;
	 margin: 0 auto;
}
.imgBox h2{
	margin-bottom: 34px;
	text-align: center;
	font-size:24px;
}
.imgBox h2 i{
	 width: 6px;
	 height: 6px;
	 display: inline-block;
	 background: url(../images/portal/dot.png) no-repeat left center;
	 margin: 0 12px;
	 vertical-align: middle;
}
.imgBoxList{
	margin-right: -20px;
}
.imgBoxList li{
	float: left;
	width: 262px;
	height: 262px;
	margin:0 20px 20px 0;
	text-align: center;
	background-color: #fff;
	border: #e5e5e5 solid 1px;
}

.imgBoxList li span{
	height: 199px;
	display: block;
}
.imgBoxList li h3{
	height: 60px;
	line-height: 60px;
	border-top: #e5e5e5 solid 1px;
	font-size: 20px;
	color: #343434;
}
.safe03{
	padding-bottom: 80px;
}
.safe03 h3{
	margin-bottom: 18px;
}
.imgist li{
	float: left;
	margin-right: 33px;
	display:inline;
	height:150px;
	width:150px;
	border:#e5e5e5 solid 1px;
}
.imgist li a{
	width:100%;
	height:100%;
	display: block;
}
.imgist li a img{
	width:100%;
	height:100%;
	vertical-align: middle;
}
.safe04{
	 background-color: #5f5f5f;
	 height: 218px;
	 padding-top: 36px;	
}
.safe04 .imgBox{
	padding: 0;
}
.safe04 .footL i{
	width: 1px;
	height: 45px;
	background-color: #b3b4b5;
	overflow: hidden;
	display: inline-block;
	margin: 0 16px;
}
.safe04 .footr li{
	float: left;
	margin-right:94px;
}
.safe04 .footr li a{
	 	font-family: "微软雅黑";
	 	color: #fff;
	 	font-size: 12px;
	 	display: block;
	 	line-height: 24px;
}
.safe04 .footr li a:hover{
	color:#ffa351;
	
}
.safe04 .footr li dd{
	line-height:20px;
	
}
.safe04 .footr li em{
	font-family: "微软雅黑";
	 	color: #fff;
	 	font-size: 12px;
	 	display: inline-block;
	 	margin-top: 6px;
}
.safe04 .footr{
	position: relative;
	left: 50px;
}
.safe04 .footr li h2{
	margin-bottom:12px;
	color:#fff;
	font-size:16px;
	text-align:left;
}





.friend-Link{
	position:relative;
	width:100%;
	height:152px;
	background:url(../images/friend_bg.gif) repeat-x 0 0;
	}
	

.left-arrow,.fl-pic,.right-arrow{
	float:left;
	display:inline;
}

.left-arrow,.right-arrow{
	width:32px;
	height:54px;
	position:absolute;	
	top:39%;
	z-index:100;
	display:none;
}

.left-arrow{
	left:0%

}
	
.right-arrow{
	right:0%;
}

	
.fl-pic{
	overflow:hidden;
	width:934px;
	height:152px;
	white-space:nowrap;
	position:absolute;
	left:10%;
	top:0%;
	}
	
.fl-pic ul{
	width:3500px;
	}
	
.fl-pic ul li{
	float:left;
	display:inline;
	margin-right:41px;
	width:150px;
	height:150px;
	}

.left-arrow a,.right-arrow a{
	width:32px;
	height:54px;
	display:block;
	vertical-align:middle;
}


/*新主页样式*/
.listBox{
	width:1140px;
	margin:0 auto;
	margin-bottom: 50px;	
}
.listBox .listL{
	width: 262px;
	height: 330px;
	margin-right: 20px;
	background: #fff;
	border-top:2px #2499fb solid; 
}
.listBox .new-title{
	/*padding-bottom: 20px;*/
	height: 50px;
	line-height: 50px;
}
.listBox .new-title h3{
	font-size: 20px;
	color: #393939;
}
.listBox .new-title a{
	font-size: 1em;
	color: #6a6a6a;
	visibility: middle;
	position: relative;
	right: 18px;
}
.listBox .new-title a b{
	margin-left: 10px;
	display: inline-block;
	width: 18px;
	height: 18px;
	background:url(../images/portal/more.png) no-repeat;
	position: relative;
	top:3px;
}
.listBox .new-title a:hover{
	color: #2499fb;
}
.listBox .new-title a:active{
	color: #2499fb;
}
.listBox .new-title a:hover b{
	background:url(../images/portal/morehover.png) no-repeat;
}
.listBox .newlist li{
	width: 262px;
	height: 282px;
	margin-right: 20px;
	background: #fff;
	position: relative;
	box-shadow: 5px 2px 10px #e2e2e2;
}
.listBox .newlist li a{
	width: 100%;
	height: 100%;
	display: inline-block;
	position: relative;
}

.listBox .newlist li i{
	position: absolute;
	width: 52px;
	height: 52px;
	top:0;
	left: 0px;
}
.listBox .newlist li h4{
	position: absolute;
	top:180px;
	left: 0px;
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #4a4a4a;
}
.listBox .newlist li h5{
	position: absolute;
	top:224px;
	left: 0px;
	width: 100%;
	text-align: center;
	font-size: 20px;
	color: #d00000;
	font-family: Arial;
}
.safe05 .imgBox{
	height:560px;
}
.special{	
	height:560px;
	width:100%;
	background:url(../images/portal/special.png) no-repeat left center;
	background-size:100% 100%;
}
.specialblock{
	width: 1130px;
	margin: 0 auto;
}
.specialblock h3{
	text-align: center;
	font-size: 28px;
	height: 160px;
	line-height: 180px;
	color: #fff;
}
.specialblock dd{
	width: 474px;
	height: 200px;
	margin-right: 20px;
	padding-top:80px;
	padding-left: 70px;
	
}
.specialblock .frn{
background:url(../images/portal/safebj.png) no-repeat #fff;
}
.specialblock .frn2{
background:url(../images/portal/Xzq.png) no-repeat #fff;
}
.specialblock dd .introduce{
		width: 160px;
}
.specialblock dd .introduce h4{
	font-size: 22px;
	color: #000;
	padding-bottom:26px; 
}
.specialblock dd .introduce p{
	color: #6a6a6a;
	font-size: 14px;
	line-height: 24px;
}

/*二级页*/
.index_child h2{
	font-size: 28px;
}
.listBox .child-newlist li{
	width: 344px;
	height: 476px;
	margin-right: 38px;
	margin-bottom: 38px;
}
.listBox .child-newlist li h4{
	top:269px;
	padding-left: 30px;
	font-size: 26px;
	color: #000;
	text-align: left;
	width: 90%;
}
.listBox .child-newlist li span{
	position: absolute;
	top:309px;
	left: 30px;
	line-height: 24px;
	font-size: 14px;
	color: #6a6a6a;
}
.listBox .child-newlist .purchase{
	position: absolute;
	top:401px;
	left: 30px;
}
.listBox .child-newlist .purchase strong:first-child{
	font-size: 22px;
	color: #D00000;
	margin-right: 16px;
}
.listBox .child-newlist .purchase strong:nth-last-child(2){
	
	text-decoration:line-through;
	color: #d00000;
}
.listBox .child-newlist .purchase em{
	font-size: 18px;
	color: #E6E6E6;
}
.listBox .child-newlist .purchase .btn{
	 width: 82px;
	 height: 40px;
	 border: #2499FB solid 1px;
	 border-radius:4px;
	 text-align: center;
	 display: inline-block;
	 color: #2499FB;
	 font-size: 20px;
	 line-height: 40px;
	 position: relative;
	 left: 96px;
}
.listBox .child-newlist .purchase .btn:hover{
	background-color: #2499fb;
	color: #fff;
}
/*详情*/
.detalis-head .head{
	background-color: #2499fb;
}
.detalis-head .safem, .detalis-head .Divlist , .detalis-head .safer{
	line-height: 50px;
}

.detalis-head .safem a{
	font-size: 20px;
	color: #fff;
}
.detalis-head .safer a{
	font-size: 20px;
	color: #fff;
}

.dataCent{
	width: 1114px;
	margin:0 auto;
}
.data-crumbs{
	height: 68px;
	line-height: 70px;
}
.data-crumbs a{
	color: #343434;	
	font-size: 14px;
}

.data-crumbs i{
	margin: 0 5px;
}
.dataBox{
	padding-bottom: 60px;
	position:relative;
}
.dataBox .dataImg{
	width: 420px;
	height: 420px;

}
.dataBox .dataImg img{
	border: #E5E5E5 solid 1px;
}

.dataBox .dataR{
	width: 632px;
	padding-left:50px; 

}
.dataBox .dataR h2{
	font-size: 24px;
	color: #000;
	margin-bottom: 40px;
}

.dataR ul li label{
	width: 56px; 
	margin-right: 20px;
	font-size: 14px;
	color: #4e4e4e;
	vertical:middle;
	position: relative;
	top:10px;
}
.dataR ul li{
	height: 50px;
}
.dataR ul li button{
	width: 74px;
	height: 38px;
	line-height: 30px;
	font-size: 16px;
	border: none;
	color: #4e4e4e;
	background: #fff;
	border: #e5e5e5 solid 1px;
	margin-right:20px;
	border-radius:2px; 
	position: relative;
	overflow: hidden;
}

.dataR ul li strong{
font-size: 26px;
color: #d00000;
position: relative;
top:10px;
}
.dataR ul li strong:nth-last-child(1){
	text-decoration: line-through;
    color: #d00000;

}
.dataR ul li strong em{
	font-size: 18px;
    color: #E6E6E6;
    padding-left:10px; 
}
.dataR ul li .click{
	background: #2499fb;
	border: #2499fb solid 1px;
	color: #fff;
}

.dataR ul li .clickTime{
	background: #2499fb;
	border: #2499fb solid 1px;
	color: #fff;
}
.dataR ul li span{
	color: #4e4e4e;
	font-size: 14px;
	margin-right:34px; 
}
.dataR ul li .text{
	width: 160px;
	height: 36px;
	border: #e5e5e5 solid 1px;
	border-radius:2px; 
	padding-left:10px; 
}
.btnBox{
	margin-top:55px; 

}
.buttoncar{
	width: 152px;
	height: 40px;
	background: #f4f4f4;
	border: #E5E5E5 solid 1px;
	position: absolute;
	top:0px;
	right: 65px;
}
.buttoncar i{
	width: 24px;
	height: 24px;
	background:url(../images/portal/car.png) no-repeat;
	display:inline-block;
	vertical-align:bottom;
	margin-right:10px; 
	
}
.btnBox button{
	font-size: 18px;
	height: 52px;
	border: none;
	background: #fff;
	margin-right: 30px;
	color: #fff;
	line-height: 52px;
	text-align: center;
}
.commodity .imgBox{
	padding: 0px;
	padding-bottom:93px; 
}
.commodity .imgBox h4{
	height: 50px;
	background: #f4f4f4;
	padding-left:24px;
	font-size: 18px;
	color: #000;
	line-height: 50px; 
	width: 97%;
	margin-bottom:20px; 
}
.commoditys{
	margin-bottom:20px; 
}
/*插件样式*/
.form-control{
	position: relative;
}
.btnNew{
		background: none;
		border: none;
		width: 100%;
	}
	.select .dropdown-menu{
		width: 99%;
		display: none;
		position:absolute;
		left: 0px;
		top:35px;
		background: #fff;
		border: #e5e5e5 solid 1px;
		border-top:none; 
	}
	.select .dropdown-menu li{
		line-height: 24px;
		height: 24px;

	}
	.select .dropdown-menu li label{
		top:0;
		left: 10%;
	}
	.btnNew em{ width:90%; height:30px; display:block;}
	.btnNew .caret{ position:absolute; right:-8%; top:50%}
	.select .dropdown-menu label{ width:100%; display:block}
	.dropdown-menu .active{
		background-color:#4AAFD1;
	}
	.btnNew .caret{
		display: inline-block;
		width: 0;
		height: 0;
		margin-left: 2px;
		vertical-align: middle;
		border-top: 4px dashed;
		border-top: 4px solid\9;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
		
	}
	
	
	
/*结算页面*/	
	.seetlentBox{
		padding-top: 50px;
	}
	.seetlentBox .seetT{
		padding-bottom:20px; 
		position: relative;
	}
	.seetlentBox .seetT h2{
		font-size: 22px;
		color: #4f4f4f;
	}
	/*结算-步骤*/
	.step{
		position: absolute;
		width: 420px;
		left: 66%;
		top:-20px;
	}
	.step_top .sl{
		width: 162px;
		display:inline-block;
		border-top:1px solid #95cfff; 
	}
	.step_top .sl i{
		height: 10px;
		width: 10px;
		overflow: hidden;
		background: #95cfff;
		position: absolute;
		top:10px;
		left: 0px;
		border-radius:50%; 
	}
	.step_top .sr{
		width: 162px;
		display:inline-block;
		border-top:1px solid #929292; 
	}
	.step_top .sr i{
		height: 10px;
		width: 10px;
		overflow: hidden;
		background: #2499fb;
		position: absolute;
		top:10px;
		left: 162px;
		border-radius:50%; 
	}
	.step_top .sr .r1{
		left: 320px;
		background: #929292;
	}
	.step_bottom{
		position: relative;
	}
	.step_bottom em{
		font-size: 14px;
		position: absolute;
		
		top:6px;
	}
	.step_bottom .sone{
		color: #95cfff;
		left: -24px;
	}

	.step_bottom .stwo{
		color: #2499fb;
		left: 126px;
	}
	.step_bottom .sthree{
		color: #929292;
		left: 280px;
	}

.settlement-content{
	 border: #f3f3f3 solid 1px;
	 padding: 20px 30px;
}
.settlement-content li h3{
	font-size: 18px;
	color: #000;
}
.settlement-content .tabox{
	width: 968px;
	background: #e4f3ff;
	margin-left: 40px;
	margin-top: 20px;
	padding: 40px 0;
}
.settlement-content .listone .test-table{
	width: 100%
}
.settlement-content .listone .test-table td{
	text-align: center;
}
.settlement-content .listone .test-table span{
	font-size: 14px;
	color: #2499fb;
}
.settlement-content .listone .test-table b{
		width: 20px;
		height: 20px;
		display: inline-block;
		background:url(../images/portal/newico.png) no-repeat;
		vertical-align: middle;
		margin-right: 10px;
}
.clickBox button{
	    width: 98px;
	    height: 38px;
	    line-height: 30px;
	    font-size: 16px;
	    border: none;
	    color: #4e4e4e;
	    background: #fff;
	    border: #e5e5e5 solid 1px;
	    margin-right: 20px;
	    border-radius: 2px;
	    position: relative;
}
.clickBox .click{
	background: #2499fb;
    border: #2499fb solid 1px;
    color: #fff;
}

.invoicehide label{
	 margin-right:20px;
	 font-size: 14px; 
	 color: #000;
}
.invoiclist{
	margin-bottom: 6px;
	margin-top: 17px;
	margin-left: 40px;
}
.invoiclist .text{
	height: 36px;
	width: 280px;
	font-size: 14px;
	line-height: 38px;
	border: #e5e5e5 solid 1px;
}
.invoiclist select{
	border: #e5e5e5 solid 1px;
	height: 38px;
}
.btnBox{
	margin:30px 0px; 
	margin-left:40px; 
}
.btnBox .btn{
	 background: #929292;
	 padding: 0 12px;
	 height: 38px;
	 line-height: 38px;
	 font-size: 16px;
}


.Coupon{
	padding-left:40px; 
}
.Coupon label{
	font-size: 14px;
	color: #2499fb;
}

.Coupon select{
	width: 198px;
	height: 35px;
	border: #e5e5e5 solid 1px;
	margin-left:20px; 
}
.Price{
	height: 132px;
	text-align:right;
	margin-top:30px;  
}
.Price li{
	font-size: 16px;
	line-height: 30px;
	padding-right: 30px; 
}
.Price li i{
	
	color: #d00000;
}
.Price li span{
	padding-left:80px; 
}
.hr{
	height: 1px;
	overflow: hidden;
	background: #f3f3f3;
	margin: 30px 0 20px 0;
}
.SubmitBox{
	height: 90px;
	background: #f3f3f3;
	margin-top: 30px;
	margin-bottom: 110px;
	text-align: right;
}
.SubmitBox p{
font-size: 16px;
color: #000;
padding: 20px 30px 0px 0px;
}
.SubmitBox span{
	font-size: 26px;
	color:#d00000;
	padding-right: 20px; 
	vertical-align: middle;
}
.SubmitBox .submit{
	width: 120px;
	height: 50px;
	line-height: 50px;
	border: none;
	background: #d00000;
	color: #fff;
	font-size: 18px;

}
.foot{
	padding-top: 20px;
	height: 60px;
	background-color: #323232;
}
.foot p{
	 text-align: center;
	  font-size: 12px;
	  color: #fff;
	  line-height:20px;
}
