@charset "utf-8";

/* CSS Document */

.head_bj{ height:74px; width:100%;  background:url(../images/head_bj.png) bottom repeat-x #2da039;}
.head{ width:1288px; margin:auto;}

.logo{ width:280px; float:left; height:60px;}
.list{ float:right;}
.list ul{ clear:both;}
.list ul li{ float:left; padding:0px 9px; font-size:14px; line-height:70px; border-left:1px solid #11871d; cursor:pointer; }
.list ul li a{ color:#fff;}
.list ul li:hover{ background:#45b62b;}

.lagst{ width:180px; float:left; height:70px;}
.lagst-left{ width:54px; float:left; padding-right:10px;}
.lagst-left a{ width:45px; height:45px; overflow:hidden; border-radius:22px; border:1px solid #177220; display:block; margin-top:13px; margin-left:10px;}
.lagst-left a img{width:45px;}
.lagst-right { padding-top:13px; float:left; width:98px; height:70px;}
.lagst-right p{ line-height:22px;}
.lagst-right p a{ color:#177220; font-size:12px;}


.bottom_bj{ width:100%; height:150px; background:#cbc9c9;}
.bottom{width:1100px; margin:auto;}
.bottom_main{ float:left; width:180px; padding-top:20px;}
.bottom_main h3{ font-size:16px; line-height:30px; font-weight:800;}
.bottom_main h3 a{color:#666;}
.bottom_main ul li{ font-size:14px; line-height:24px;color:#888}
.bottom_main ul li a{ color:#888;}