<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.DistrictDataMapper">
	<sql id="cols">id,name,longitude,latitude</sql>

	<resultMap type="com.cn.ctbri.entity.District" id="DistrictRM">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="longitude" column="longitude"/>
		<result property="latitude" column="latitude"/>
		<result property="count" column="count"/>
	</resultMap>
	<!-- 查询省份 -->
    <select id="findDistrictList" parameterType="String" resultMap="DistrictRM">
         select dis.id,dis.name,dis.longitude,dis.latitude,COUNT(s.districtId) AS count 
			from cs_order o,cs_order_asset oa,cs_task t,cs_alarm a,cs_asset s,cs_district dis
			where o.id = oa.orderId 
			and t.order_asset_Id = oa.id 
			and (a.taskId=t.taskId or a.group_Id = t.group_Id)
			and s.id = oa.assetId
			and s.districtId = dis.id
			and o.serviceId = 1
			GROUP BY s.districtId
			<if test='limit =="true"'>
			 order by count desc limit 5     
			</if>
    </select>
    
    <!-- 根据省份id查询对应省份top5的数据 -->
    <select id="getDistrictDataById" parameterType="String" resultType="hashmap">
         select dis.name,a.name as leakName,COUNT(a.name) AS count
			from cs_order o,cs_order_asset oa,cs_task t,cs_alarm a,cs_asset s,cs_district dis
			where o.id = oa.orderId 
			and t.order_asset_Id = oa.id 
			and (a.taskId=t.taskId or a.group_Id = t.group_Id)
			and s.id = oa.assetId
			and s.districtId = dis.id
			and o.serviceId = 1
			and dis.id = #{districtId}
			group by a.name
			order by count desc limit 5
    </select>
    
    <!-- 服务能力告警top5的数据 -->
    <select id="getServiceAlarmTop5" resultType="hashmap">
         select a.name,COUNT(a.name) AS count
            from cs_order o,cs_order_asset oa,cs_task t,cs_alarm a
            where o.id = oa.orderId 
            and t.order_asset_Id = oa.id 
            and (a.taskId=t.taskId or a.group_Id = t.group_Id)
            and o.serviceId = 1
            group by a.name
            order by count desc limit 5
    </select>
    
    <!-- 服务能力告警近5个月数量统计 -->
    <select id="getServiceAlarmMonth5" resultType="hashmap">
         select DATE_FORMAT(a.alarm_time,'%Y.%c') months,count(a.id) count
            from cs_order o,cs_order_asset oa,cs_task t,cs_alarm a
            where o.id = oa.orderId 
            and t.order_asset_Id = oa.id 
            and (a.taskId=t.taskId or a.group_Id = t.group_Id)
            and o.serviceId = 1
            group by months
            order by months limit 5
    </select>
</mapper>