<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.DistrictDataMapper">
	<sql id="cols">id,name,longitude,latitude</sql>

	<resultMap type="com.cn.ctbri.entity.District" id="DistrictRM">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="longitude" column="longitude"/>
		<result property="latitude" column="latitude"/>
		<result property="count" column="count"/>
	</resultMap>
	<!-- 查询省份 -->
    <select id="findDistrictList" parameterType="hashmap" resultMap="DistrictRM">
		select dis.id,dis.name,dis.longitude,dis.latitude,dis.count#{serviceId} as count from cs_district dis where dis.count#{serviceId} !=0
		<if test='limit =="true"'>
		 order by count desc limit 5     
		</if>
    </select>
    
    <!-- 根据省份id查询对应省份top5的数据 -->
    <select id="getDistrictDataById" parameterType="hashmap" resultType="hashmap">
		<!-- <if test="serviceId != 5">	
			select dis.name,a1.name as leakName,COUNT(a1.name) AS count from cs_asset s,cs_district dis,
			(select a.name,t1.assetId from cs_alarm a,
			(select t.taskId,t.group_Id,oa1.assetId from cs_task t,
			(select oa.id,oa.assetId from cs_order_asset oa,
			(select o.id from cs_order o where  serviceId = #{serviceId}) o1
			where o1.id = oa.orderId) oa1
			where t.order_asset_Id = oa1.id) t1
			where (a.taskId=t1.taskId or a.group_Id = t1.group_Id)) a1
		</if>
		<if test="serviceId == 5">
			select dis.name,a1.name as leakName,COUNT(a1.name) AS count from cs_asset s,cs_district dis,
			(select a.name,t1.assetId from cs_taskwarn a,
			(select t.taskId,t.group_Id,oa1.assetId from cs_task t,
			(select oa.id,oa.assetId from cs_order_asset oa,
			(select o.id from cs_order o where  serviceId = #{serviceId}) o1
			where o1.id = oa.orderId) oa1
			where t.order_asset_Id = oa1.id) t1
			where (a.task_Id=t1.taskId or a.group_Id = t1.group_Id)) a1
		</if>
			where  a1.assetId = s.id
			and s.districtId = dis.id
			and dis.id = #{districtId}
			group by a1.name
			order by count desc limit 5 -->
			
		<if test="serviceId != 5">	
			select dis.name,a.name as leakName,COUNT(a.name) AS count from cs_alarm a,cs_district dis 
		</if>
		<if test="serviceId == 5">
			select dis.name,a.name as leakName,COUNT(a.name) AS count from cs_taskwarn a,cs_district dis 
		</if>
			where a.districtId = dis.id 
			and a.districtId = #{districtId}
			and a.serviceId = #{serviceId}
			<if test="serviceId != 5">
			and a.level = 2
			</if>
			group by a.name 
			order by count desc limit 5
    </select>
    
    <!-- 服务能力告警top5的数据 -->
    <select id="getServiceAlarmTop5" parameterType="String" resultType="hashmap">
         <if test="serviceId != 5">  
         select  a.name,COUNT(a.name) AS count from cs_alarm a,
			(select t.taskId,t.group_Id from cs_task t,
			(select oa.id from cs_order_asset oa,
			(select o.id from cs_order o where  serviceId = #{serviceId}) o1
			where o1.id = oa.orderId) oa1
			where t.order_asset_Id = oa1.id) t1
			where (a.taskId=t1.taskId or a.group_Id = t1.group_Id)
			and a.level = 2
         </if>
         <if test="serviceId == 5">  
         select  a.name,COUNT(a.name) AS count from cs_taskwarn a,
			(select t.taskId,t.group_Id from cs_task t,
			(select oa.id from cs_order_asset oa,
			(select o.id from cs_order o where  serviceId = #{serviceId}) o1
			where o1.id = oa.orderId) oa1
			where t.order_asset_Id = oa1.id) t1
			where (a.task_Id=t1.taskId or a.group_Id = t1.group_Id)
         </if>
         group by a.name
		 order by count desc limit 5
            
    </select>
    
    <!-- 服务能力告警近5个月数量统计 -->
    <select id="getServiceAlarmMonth5" parameterType="String" resultType="hashmap">
    	select a.months,a.count from (
         <if test="serviceId != 5"> 
         select  DATE_FORMAT(a.alarm_time,'%Y.%m') months,count(a.id) count from cs_alarm a,
			(select t.taskId,t.group_Id from cs_task t,
			(select oa.id from cs_order_asset oa,
			(select o.id from cs_order o where  serviceId = #{serviceId}) o1
			where o1.id = oa.orderId) oa1
			where t.order_asset_Id = oa1.id) t1
			where (a.taskId=t1.taskId or a.group_Id = t1.group_Id)
		 </if>
		 <if test="serviceId == 5">   
         select  DATE_FORMAT(a.warn_time,'%Y.%m') months,count(a.id) count from cs_taskwarn a,
			(select t.taskId,t.group_Id from cs_task t,
			(select oa.id from cs_order_asset oa,
			(select o.id from cs_order o where  serviceId = #{serviceId}) o1
			where o1.id = oa.orderId) oa1
			where t.order_asset_Id = oa1.id) t1
			where (a.task_Id=t1.taskId or a.group_Id = t1.group_Id)
		 </if>
			group by months
			order by months desc limit 5) a order by a.months 
    </select>
    
    <!-- 查询省份最大数值 -->
    <select id="getMax" parameterType="hashmap" resultType="com.cn.ctbri.entity.Alarm">
         select dis.id,dis.name,dis.longitude,dis.latitude,dis.count#{serviceId} as count from cs_district dis where dis.count#{serviceId} !=0
		 order by count desc limit 1    
    </select>
    
    <!-- 获取月份 add by 2015-10-15-->
    <select id="getMonth" parameterType="Integer" resultType="String">
         select DATE_FORMAT(date_sub(now(),interval #{i} month),'%Y.%m') months
    </select>
    
    <!-- 根据月份获取告警 add by 2015-10-15-->
    <select id="getServiceAlarmByMonth" parameterType="hashmap" resultType="com.cn.ctbri.entity.Alarm">
         <if test="serviceId != 5"> 
         select count(*) count from cs_alarm a
         	where a.serviceId = #{serviceId}
		    and DATE_FORMAT(a.alarm_time,'%Y.%m') = #{month}
		 </if>
		 <if test="serviceId == 5">   
         select count(*) count from cs_taskwarn a
         	where a.serviceId = #{serviceId}
		    and DATE_FORMAT(a.warn_time,'%Y.%m') = #{month}
		 </if>
		 	
    </select>
</mapper>