<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.DistrictDataMapper">
	<sql id="cols">id,name,longitude,latitude</sql>

	<resultMap type="com.cn.ctbri.entity.District" id="DistrictRM">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="longitude" column="longitude"/>
		<result property="latitude" column="latitude"/>
		<result property="count" column="count"/>
	</resultMap>
	<!-- 查询省份 -->
    <select id="findDistrictList" resultMap="DistrictRM">
         select dis.id,dis.name,dis.longitude,dis.latitude,COUNT(s.districtId) AS count 
			from cs_order o,cs_order_asset oa,cs_task t,cs_alarm a,cs_asset s,cs_district dis
			where o.id = oa.orderId 
			and t.order_asset_Id = oa.id 
			and (a.taskId=t.taskId or a.group_Id = t.group_Id)
			and s.id = oa.assetId
			and s.districtId = dis.id
			and o.serviceId = 1
			GROUP BY s.districtId
    </select>
    
    <select id="getDistrictDataById" parameterType="String" resultType="hashmap">
         select a.name,COUNT(a.name) AS count
			from cs_order o,cs_order_asset oa,cs_task t,cs_alarm a,cs_asset s,cs_district dis
			where o.id = oa.orderId 
			and t.order_asset_Id = oa.id 
			and (a.taskId=t.taskId or a.group_Id = t.group_Id)
			and s.id = oa.assetId
			and s.districtId = dis.id
			and o.serviceId = 1
			and dis.id = #{districtId}
			group by a.name
			order by count desc limit 5
    </select>
</mapper>