<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.AssertAlarmMapper">
	<resultMap type="com.cn.ctbri.entity.AssertAlarm" id="AaRM">
		<result property="name" column="name"/>
		<result property="serviceId" column="serviceId"/>
		<result property="begin_date" column="begin_date"/>
		<result property="end_date" column="end_date"/>
		<result property="level" column="level"/>
		<result property="orderId" column="orderId"/>
		<result property="num" column="num"/>
	</resultMap>
	<resultMap type="com.cn.ctbri.entity.AssertAlarm" id="AaRM1">
		<result property="begin_date" column="begin_date"/>
		<result property="num" column="num"/>
	</resultMap>
	
 	<select id="findAssertAlarmByParam" resultMap="AaRM" parameterType="hashmap">
	   select s.name,s.serviceId, date_format(s.begin_date,'%Y-%m-%d %H:%i:%s') begin_date,date_format(s.end_date,'%Y-%m-%d %H:%i:%s') end_date,as1.level,s.orderId,count(1) num from 
		    (select a.group_id,a.taskId,a.id,a.level from cs_alarm a)as1,
			(select t.group_id,t.taskId, ast.name,o.begin_date,o.end_date,o.serviceId,o.id orderId
					from cs_task t,cs_order_asset oa,cs_order o, cs_asset ast
					where t.order_asset_Id=oa.id and oa.orderId=o.id 
					and oa.assetId=ast.id 
					and o.status in(1,2)
					<if test="assertName!=null and assertName!=''">
				     	 and ast.name like CONCAT('%','${assertName}','%') 
				    </if>
				    <if test="serverId!=null and serverId!=''">
				     	 and o.serviceId=#{serverId}
				    </if>
					<!-- <if test="begin_date!=null and begin_date!=''">
                    	 and date_format(o.begin_date,'%Y-%m-%d')=date_format(#{begin_date},'%Y-%m-%d')
             		</if>
          	 		<if test="end_date!=null and end_date!=''">
             	  		 and date_format(o.end_date,'%Y-%m-%d')=date_format(#{end_date},'%Y-%m-%d')
           			</if> -->
           			<if test="begin_date!='' and end_date!=''">
           				and date_format(o.begin_date,'%Y-%m-%d')&gt;=date_format(#{begin_date},'%Y-%m-%d')
           				and date_format(o.begin_date,'%Y-%m-%d')&lt;=date_format(#{end_date},'%Y-%m-%d')
		            </if>    
		            <if test="begin_date!='' and end_date==''">
		            	and date_format(o.begin_date,'%Y-%m-%d')&gt;=date_format(#{begin_date},'%Y-%m-%d')
		            </if>
		            <if test="begin_date=='' and end_date!=''">
		            	and date_format(o.begin_date,'%Y-%m-%d')&lt;=date_format(#{end_date},'%Y-%m-%d')
		            </if>
           			<if test="orderCode!=null and orderCode!=''">
             	   	   and o.id=#{orderCode}
           			</if>
			  ) s where (as1.taskid=s.taskId or as1.group_id=s.taskId)
			      <if test="alarmRank!=null and alarmRank!=''">
             	   	    and as1.level=#{alarmRank}
               	  </if>
			group by s.name,s.serviceId,s.begin_date ,s.end_date,as1.level,s.orderId
			ORDER BY num desc 
	</select>
	
	<select id="findAssertAlarmTypeByParam" resultMap="AaRM" parameterType="hashmap">
	   select s.name,s.serviceId, date_format(s.begin_date,'%Y-%m-%d %H:%i:%s') begin_date,date_format(s.end_date,'%Y-%m-%d %H:%i:%s') end_date,as1.level,s.orderId,count(1) num from 
		    (select a.group_id,a.taskId,a.id,a.name level from cs_alarm a)as1,
			(select t.group_id,t.taskId, ast.name,o.begin_date,o.end_date,o.serviceId,o.id orderId
					from cs_task t,cs_order_asset oa,cs_order o, cs_asset ast
					where t.order_asset_Id=oa.id and oa.orderId=o.id 
					and oa.assetId=ast.id 
					and o.status in(1,2)
					<if test="assertName!=null and assertName!=''">
				     	 and ast.name like CONCAT('%','${assertName}','%') 
				    </if>
				    <if test="serverId!=null and serverId!=''">
				     	 and o.serviceId=#{serverId}
				    </if>
           			<if test="begin_date!='' and end_date!=''">
           				and date_format(o.begin_date,'%Y-%m-%d')&gt;=date_format(#{begin_date},'%Y-%m-%d')
           				and date_format(o.begin_date,'%Y-%m-%d')&lt;=date_format(#{end_date},'%Y-%m-%d')
		            </if>    
		            <if test="begin_date!='' and end_date==''">
		            	and date_format(o.begin_date,'%Y-%m-%d')&gt;=date_format(#{begin_date},'%Y-%m-%d')
		            </if>
		            <if test="begin_date=='' and end_date!=''">
		            	and date_format(o.begin_date,'%Y-%m-%d')&lt;=date_format(#{end_date},'%Y-%m-%d')
		            </if>
           			<if test="orderCode!=null and orderCode!=''">
             	   	    and o.id=#{orderCode}
           			</if>
			  ) s where (as1.taskid=s.taskId or as1.group_id=s.taskId)
			      <if test="alarmName!=null and alarmName!=''">
             	   	    and as1.level like CONCAT('%','${alarmName}','%') 
               	  </if>
			group by s.name,s.serviceId,s.begin_date ,s.end_date,as1.level,s.orderId
			ORDER BY num desc 
	</select>
	<select id="findAssertAlarmTrendByParam" resultMap="AaRM1" parameterType="hashmap">
		 select date_format(s.begin_date,'${timeTtype}') begin_date,count(1) num from 
		    (select a.group_id,a.taskId,a.id,a.name level from cs_alarm a)as1,
			(select t.group_id,t.taskId,o.begin_date
					from cs_task t,cs_order_asset oa,cs_order o, cs_asset ast
					where t.order_asset_Id=oa.id and oa.orderId=o.id 
					and oa.assetId=ast.id 
					and o.status in(1,2)
					<if test="assertName!=null and assertName!=''">
				     	 and ast.name like CONCAT('%','${assertName}','%') 
				    </if>
				    <if test="serverId!=null and serverId!=''">
				     	 and o.serviceId=#{serverId}
				    </if>
					<if test="begin_date!=null and begin_date!='' and end_date!=null and end_date!=''">
                    	 and o.begin_date BETWEEN date_format(#{begin_date},'%Y-%m-%d %T')   
							and date_format(#{end_date},'%Y-%m-%d %T')
             		</if>
          	 		
           			<if test="orderCode!=null and orderCode!=''">
             	   	    and o.id=#{orderCode}
           			</if>
    		) s where (as1.taskid=s.taskId or as1.group_id=s.taskId)
			group by date_format(s.begin_date,'${timeTtype}')
			order by begin_date
	</select>
</mapper>