<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.OrderAssetMapper">
<sql id="cols">id,orderId,assetId,serviceId,scan_type,scan_date</sql>
	<resultMap type="com.cn.ctbri.entity.OrderAsset" id="OrderAssetRM">
		<id property="id" column="id"/>
		<result property="orderId" column="orderId"/>
		<result property="assetId" column="assetId"/>
		<result property="serviceId" column="serviceId"/>
		<result property="scan_type" column="scan_type"/>
		<result property="scan_date" column="scan_date"/>
	</resultMap> 
	<!-- 按资产id查询订单资产 -->
	<select id="findAssetById" parameterType="int" resultMap="OrderAssetRM">
		select asset.id,asset.orderId,asset.assetId,asset.serviceId
		from cs_order_asset asset,cs_order order1
		where asset.assetId = #{assetId} 
		and asset.orderId=order1.id 
		<![CDATA[ and order1.delFlag<>1 ]]>  
	    and order1.isAPI != 1
	    and order1.status not in (1,2)
		
	</select>
	
	<!-- 按资产id查询运运行中资产 -->
	<select id="findRunAssetById" parameterType="int" resultMap="OrderAssetRM">
		  select asset.id,asset.orderId,asset.assetId,asset.serviceId
				from cs_order_asset asset,cs_order order1
				where asset.assetId = #{assetId} and asset.orderId=order1.id 
				<![CDATA[ and order1.delFlag<>1 ]]>  
			    and order1.payFlag = 1
			    and order1.isAPI != 1
			    and order1.status not in (1,2)
	</select>
	
	<!-- 插入服务资产 -->
    <insert id="insert" parameterType="com.cn.ctbri.entity.OrderAsset">
        insert into cs_order_asset
        (orderId, assetId, serviceId, scan_type, scan_date,ipArray,Sermonth,assetAddr,assetName) 
        values(#{orderId}, #{assetId}, #{serviceId}, #{scan_type}, #{scan_date}, #{ipArray}, #{Sermonth}, #{assetAddr}, #{assetName})
    </insert>
    
    <!-- 插入ip段 -->
    <insert id="insertIP" parameterType="com.cn.ctbri.entity.OrderIP">
        insert into cs_order_ip
        (orderId, ip, bandwidth, serviceId) 
        values(#{orderId}, #{ip}, #{bandwidth}, #{serviceId})
    </insert>
    <!-- 根据orderid查询OrderAsset -->
    <select id="findOrderAssetByOrderId" parameterType="String" resultMap="OrderAssetRM">
        select * from cs_order_asset where orderId=#{orderId}
    </select>
    
    <!-- 根据orderid查询Asset名称 -->
    <select id="findAssetNameByOrderId" parameterType="String" resultType="com.cn.ctbri.entity.Asset">
        <!-- select a.name,a.addr,oa.id as orderAssetId from cs_order_asset oa,cs_asset a where oa.orderId=#{orderId} and oa.assetid = a.id -->
        select oa.assetName as name,oa.assetAddr as addr,oa.id as orderAssetId from cs_order_asset oa where oa.orderId=#{orderId}
    </select>
    <select id="findLastTimeByOrderId" parameterType="hashmap" resultType="hashmap">
        select t.group_flag from cs_order_asset oa,cs_task t 
            where oa.id = t.order_asset_id 
            and oa.orderId=#{orderId}
            and t.status=3
            group by t.group_flag order by t.group_flag desc
            <if test="limitNum!=null">
                limit #{limitNum}
            </if>
    </select>
    
    <!-- 根据orderid查询ip -->
    <select id="findIpByOrderId" parameterType="String" resultType="com.cn.ctbri.entity.OrderIP">
        select * from cs_order_ip where orderId=#{orderId}
    </select>
    
    <!-- 删除订单资产 -->
    <delete id="deleteOaByOrderId" parameterType="hashmap">
        delete from cs_order_asset WHERE orderId =(SELECT o.id FROM cs_order o WHERE o.id=#{orderId} and  o.userId = #{userId})
    </delete>
    
    <!-- 按资产id查询订单信息 -->
	<select id="getOrdersByAsset" parameterType="int" resultType="hashmap">
        select o.id,o.type,o.websoc,o.create_date,s.name,o.status
		from cs_order o,cs_order_asset oa,cs_service s
		where o.id = oa.orderId
        and o.serviceId = s.id
        and oa.assetId = #{assetId}
        and o.status != 0
        order by o.create_date desc 
	</select>
	
	<select id="findOrderAssetId" parameterType="hashmap" resultType="com.cn.ctbri.entity.OrderAsset">
		<!-- select oa.id from cs_order_asset oa,cs_asset a
        where oa.assetId = a.id 
        and a.addr like CONCAT(CONCAT('%', #{url}), '%')
        and oa.orderid = #{orderId} -->
        
        select * from cs_order_asset oa
        where oa.assetAddr like CONCAT(CONCAT('%', #{url}), '%')
        and oa.orderid = #{orderId}
    </select>
    
    <!-- add by tangxr 2016-5-5 -->
    <!-- 根据orderid查询Asset -->
    <select id="findAssetsByOrderId" parameterType="String" resultType="hashmap" >
        <!-- select a.name,a.addr,oa.id as orderAssetId, oa.ipArray from cs_order_asset oa,cs_asset a where oa.orderId=#{orderId} and oa.assetid = a.id -->
    	select oa.assetName as name,oa.assetAddr as addr,oa.id as orderAssetId, oa.ipArray, oa.domainIp, oa.targetKey,oa.assetId from cs_order_asset oa where oa.orderId=#{orderId}
    </select>
    
    <!-- 修改订单 -->
	<update id="update" parameterType="com.cn.ctbri.entity.OrderAsset">
		update cs_order_asset
		<set>
			<if test="targetKey!=null">
				targetKey=#{targetKey},
			</if>
			<if test="ipArray!=null">
				ipArray=#{ipArray}
			</if>
			<if test="domainIp!=null">
				domainIp=#{domainIp}
			</if>
		</set>
		where id=#{id}
	</update>
	
	<!-- 按id查询orderAsset -->
	<select id="findOrderAssetById" parameterType="int" resultMap="OrderAssetRM">
		  select *
				from cs_order_asset 
				where id = #{orderAssetId}
	</select>
	
</mapper>