<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.OrderMapper">
	<sql id="cols">id,type,begin_date,end_date,serviceId,create_date,task_date,scan_type,userId,contactId,remarks,status</sql>
	<resultMap type="com.cn.ctbri.entity.Order" id="OrderRM">
		<id property="id" column="id"/>
		<result property="type" column="type"/>
		<result property="begin_date" column="begin_date"/>
		<result property="end_date" column="end_date"/>
		<result property="serviceId" column="serviceId"/>
		<result property="create_date" column="create_date"/>
		<result property="task_date" column="task_date"/>
		<result property="scan_type" column="scan_type"/>
		<result property="userId" column="userId"/>
		<result property="contactId" column="contactId"/>
		<result property="remarks" column="remarks"/>
		<result property="status" column="status"/>
		<result property="tasknum" column="tasknum"/>
	</resultMap>
	
	<!-- 根据订单Id查询记录 -->
    <select id="findOrderByOrderId" resultType="hashmap" parameterType="String">
        select o.id,o.serviceId,o.type,s.name,s.parentC,o.begin_date,o.end_date,o.create_date,o.scan_type,o.status,o.websoc,o.payFlag,o.isAPI,o.userId
        from cs_order o,cs_service s
        where o.id = #{orderId} and o.serviceId = s.id
    </select>
    <!-- 根据用户id和serviceId 查询记录 -->
    
    <select id="findOrderByUserIdAndServiceId" resultType="hashmap" parameterType="hashmap">
        select o.begin_date ,o.end_date , o.payFlag from cs_order o where o.userId = #{userId} and o.serviceId = #{serviceId} and payFlag=1 order by end_date desc
    </select>
    
     <select id="findOrderByUserIdAndServiceIdCheckShopCar" resultType="hashmap" parameterType="hashmap">
        select o.begin_date ,o.end_date , o.payFlag from cs_order o where o.userId = #{userId} and o.serviceId = #{serviceId} and payFlag=0 order by begin_date desc
    </select>
    
    <select id="findPaidSysOrderByUserId" resultType="hashmap" parameterType="hashmap">
        select o.begin_date ,o.end_date , o.payFlag, o.serviceId from (select max(begin_date) begin_date from cs_order where isAPI=3 and payFlag=1 group by  serviceId ) a,  cs_order o where o.userId = #{userId} and a.begin_date=o.begin_date  order by begin_date desc
    </select>
	<!-- 根据用户查询所有记录 -->
    <select id="findOrderByUserId" resultType="hashmap" parameterType="Integer">
        select o.homeIcon,o.id,o.type,o.name,o.serviceId,o.begin_date,o.end_date,o.create_date,o.scan_type,o.status,o.websoc,o.payFlag,o.isAPI,o.package_type,o.num,o.delFlag from
		(select s.home_icon as homeIcon,o.id,o.type,s.name,o.serviceId,o.begin_date,o.end_date,o.create_date,o.scan_type,o.status,o.websoc,o.payFlag,o.isAPI, 0 as package_type,0 as num,o.delFlag
		        from cs_order o,cs_service s
		        where o.userId = #{userId} and o.serviceId = s.id and isAPI in(0,2,3)
		union
		select s.home_icon as homeIcon,o.id,o.type,s.name,o.serviceId,o.begin_date,o.end_date,o.create_date,o.scan_type,o.status,o.websoc,o.payFlag,o.isAPI,oa.package_type,oa.num,o.delFlag
		        from cs_order o,cs_service_api s,cs_order_api oa
		        where o.userId = #{userId} and o.serviceId = s.id and isAPI = 1 and oa.id = o.id) o
        where 1=1
        and o.delFlag != 1
        and	o.payFlag = 1
        order by o.create_date desc
    </select>
	<!-- 查询所有记录 -->
	<select id="list" resultType="hashmap" parameterType="int">
		select o.id,o.type,s.name,o.serviceId,o.begin_date,o.end_date,o.create_date,o.scan_type,o.status,o.websoc,o.payFlag,o.isAPI
		from cs_order o,cs_service s
		where o.userId = #{id} and o.serviceId = s.id and o.status in (1,2)
		and o.delFlag != 1
		and	o.payFlag = 1
		order by o.create_date desc
	</select>

    	<!-- 根据page查询记录 -->
    <select id="getOderByPage" resultType="hashmap" parameterType="hashmap">
        <!-- select o.id,o.type,s.name,o.serviceId,o.begin_date,o.end_date,o.create_date,o.scan_type,o.status,o.websoc,o.payFlag,o.isAPI
        from cs_order o,cs_service s
        where o.userId = #{userId} and o.serviceId = s.id -->
        select o.homeIcon,o.id,o.type,o.name,o.serviceId,o.begin_date,o.end_date,o.create_date,o.scan_type,o.remarks,o.status,o.websoc,o.payFlag,o.isAPI,o.package_type,o.num,o.price,o.orderListId from
		(select s.home_icon as homeIcon,o.id,o.type,s.name,o.serviceId,o.begin_date,o.end_date,o.create_date,o.scan_type,o.remarks,o.status,o.websoc,o.payFlag,o.isAPI, 0 as package_type,0 as num,o.delFlag,o.price,ifnull(o.orderListId,o.id) as orderListId
		        from cs_order o,cs_service s
		        where o.userId = #{userId} and o.serviceId = s.id and isAPI in(0,2,3)
		union
		select s.home_icon as homeIcon,o.id,o.type,s.name,o.serviceId,o.begin_date,o.end_date,o.create_date,o.scan_type,o.remarks,o.status,o.websoc,o.payFlag,o.isAPI,oa.package_type,oa.num,o.delFlag,o.price,ifnull(o.orderListId,o.id) as orderListId
		        from cs_order o,cs_service_api s,cs_order_api oa
		        where o.userId = #{userId} and o.serviceId = s.id and isAPI = 1 and oa.id = o.id) o
        where 1=1
        <if test="state==2"><!-- 已结束 -->
               AND o.status in (1,2)
        </if>
        <if test="state==3"><!--有警告的  -->
               AND o.status in (2,3)
        </if>
        <if test="state==1"><!--服务中  -->
               <!-- and (o.status in (3,4,5) -->
               and ( (o.begin_date &lt;= now() and o.status in (0))
               or o.status in (3,4,5)
               or (end_date &gt;= now() and o.isAPI in(1,3) ))
        </if>
        <!--<if test="type!=null">有警告的  
              and o.status in (1,2)
        </if>-->
        <!-- and ISNULL(o.delFlag)  -->
        and o.delFlag != 1
        and	o.payFlag = 1
        <if test="list_group!=-1"><!--orderList分组  -->
        	group by o.orderListId
        </if>
        order by o.create_date desc 
        <if test="pageIndex!=-1"><!--服务中  -->
        	limit #{pageNow},#{pageSize}
        </if>
    </select>
    
    <!-- 根据OrderListId查询记录 -->
    <select id="findByOrderListId" resultType="hashmap" parameterType="hashmap">
        select o.homeIcon,o.id,o.type,o.name,o.serviceId,o.begin_date,o.end_date,o.create_date,o.scan_type,o.remarks,o.status,o.websoc,o.payFlag,o.isAPI,o.package_type,o.num,o.price,o.orderListId from
		(select s.home_icon as homeIcon,o.id,o.type,s.name,o.serviceId,o.begin_date,o.end_date,o.create_date,o.scan_type,o.remarks,o.status,o.websoc,o.payFlag,o.isAPI, 0 as package_type,0 as num,o.delFlag,o.price,ifnull(o.orderListId,o.id) as orderListId
		        from cs_order o,cs_service s
		        where o.orderListId = #{orderListId} and o.serviceId = s.id and isAPI in(0,2,3)
		union
		select s.home_icon as homeIcon,o.id,o.type,s.name,o.serviceId,o.begin_date,o.end_date,o.create_date,o.scan_type,o.remarks,o.status,o.websoc,o.payFlag,o.isAPI,oa.package_type,oa.num,o.delFlag,o.price,ifnull(o.orderListId,o.id) as orderListId
		        from cs_order o,cs_service_api s,cs_order_api oa
		        where o.orderListId = #{orderListId} and o.serviceId = s.id and isAPI = 1 and oa.id = o.id) o
        where 1=1
        
        <!-- and ISNULL(o.delFlag)  -->
        and o.delFlag != 1
        and	o.payFlag = 1
        <if test="state==3"><!--有警告的  -->
               and o.status in (2,3)
        </if>
        <if test="state==1"><!--服务中  -->
               <!-- and (o.status in (3,4,5) -->
               and ( (o.begin_date &lt;= now() and o.status in (0))
               or o.status in (3,4,5)
               or (end_date &gt;= now() and o.isAPI = 1))
        </if>
        order by o.create_date desc 
        
    </select>
	<!-- 条件查询 -->
	<!-- SELECT c.id,c.type,c.name,c.begin_date,c.end_date,c.create_date
		FROM (SELECT o.id,o.type,s.name,o.begin_date,o.end_date,o.create_date
		      FROM cs_order o,cs_service s,cs_user u
		      WHERE u.id = 103 AND o.serviceId = s.id) c 
		WHERE
			1=1 AND c.type =2 AND c.name =1;  
			.addCondition("o.createTime>= " + "str_to_date('"+dateBegin+"','%Y-%m-%d %H:%i:%s')")
				.addCondition("o.createTime<= " + "str_to_date('"+dateEnd+"','%Y-%m-%d %H:%i:%s')")
			-->
	<select id="findByCombine" resultType="hashmap" parameterType="hashmap">
	   SELECT c.id,c.type,c.sid,c.name,c.begin_date,c.end_date,c.create_date,c.scan_type
		 FROM (SELECT o.id,o.type,s.id as sid,s.name,o.scan_type,o.begin_date,o.end_date,o.create_date
		      FROM cs_order o,cs_service s
		      WHERE o.userId = #{userId} AND o.serviceId = s.id and o.status in (1,2) order by o.create_date desc) c 
		WHERE
			1=1  
			
			<if test="type!=null and type!=''">
				AND c.type = #{type}
			</if>
			<if test="servName!=null and servName!=''">	
				AND c.sid = #{servName} 
			</if>	 
			<if test="begin_date!=null and begin_date!=''">
				AND c.begin_date &gt;= #{begin_date}
			</if>
			<if test="end_date!=null and end_date!=''">
				AND ((c.end_date &lt;=#{end_date} AND c.type= 1) OR (c.begin_date &lt;=#{end_date} AND type=2))
			</if>
			
	</select>
	  <!-- 滚动加载 -->
	   <select id="findByCombineByPage" resultType="hashmap" parameterType="hashmap">
        SELECT c.id,c.type,c.sid,c.name,c.begin_date,c.end_date,c.create_date,c.scan_type
        FROM (SELECT o.id,o.type,s.id as sid,s.name,o.scan_type,o.begin_date,o.end_date,o.create_date
              FROM cs_order o,cs_service s
              WHERE o.userId = #{userId} AND o.serviceId = s.id and o.status in (1,2) order by o.create_date desc) c 
        WHERE
            1=1  
            <if test="type!=null and type!=''">
                AND c.type = #{type}
            </if>
            <if test="servName!=null and servName!=''"> 
                AND c.sid = #{servName} 
            </if>    
            <if test="begin_date!=null and begin_date!=''">
                AND c.begin_date &gt;= #{begin_date}
            </if>    
            <if test="end_date!=null and end_date!=''">
              AND ((c.end_date &lt;=#{end_date} AND c.type= 1) OR (c.begin_date &lt;=#{end_date} AND type=2))
            </if>
            limit #{pageNow},#{pageSize}    
    </select>
	
      <select id="findByCombineDataAnalysis" resultType="hashmap" parameterType="hashmap">
        		SELECT DISTINCT b.name as name ,SUM(b.count) as count 
        		FROM(
					SELECT c.name,COUNT(c.name) as count
					FROM (SELECT s.name
						  FROM cs_order o,cs_service s
						  WHERE 1=1 
						  and o.serviceId=s.id
						  <if test="type!=null">
							AND o.type = #{type}
						  </if>
						 <if test="state==1">
			                AND o.type = 1
			                AND o.begin_date &gt;= #{currentDate}
			             </if>
			             <if test="state==2">
			                AND o.type = 1
			                AND o.begin_date &lt; #{currentDate}
			             </if>
						<!-- <if test="begin_date!=null">
							AND o.begin_date &gt;= #{begin_date}
						</if>	 
						<if test="end_date!=null">
							AND o.end_date &lt;=#{end_date}
						</if> -->
						
						<if test="begin_date!=null and end_date!=null">
                            AND o.begin_date &gt;= #{begin_date}
                            AND o.begin_date &lt;=#{end_date}            
                        </if>    
                        <if test="begin_date!=null and end_date==null">
                            AND o.begin_date &gt;= #{begin_date}                            
                        </if>
			            <if test="begin_date==null and end_date!=null">
			              AND o.begin_date &lt;= #{end_date}                                             
                        </if>
						<if test="servName!=null and servName!=''">	
							AND s.name = #{servName} 
						</if>
						  ) c 
					GROUP BY c.name
			        UNION
			          SELECT c.name,COUNT(c.name) as count
						FROM (SELECT s.name
							  FROM cs_order o,cs_service s
							  WHERE 
							  1=1
							  and o.serviceId=s.id 
							  <if test="type!=null">
								AND o.type = #{type}
							  </if>
							  <if test="state==1">
			                AND o.type = 2
			                AND o.begin_date &gt;= #{currentDate}
			            </if>
			            <if test="state==2">
			                AND o.type = 2
			                AND o.begin_date &lt; #{currentDate}
			            </if>
			            <!-- <if test="begin_date!=null">
							AND o.begin_date &gt;= #{begin_date}
						</if>	 
						<if test="end_date!=null">
							AND o.end_date &lt;=#{end_date}
						</if> -->
						
						<if test="begin_date!=null and end_date!=null">
                            AND o.begin_date &gt;= #{begin_date}
                            AND o.begin_date &lt;=#{end_date}            
                        </if>    
                        <if test="begin_date!=null and end_date==null">
                            AND o.begin_date &gt;= #{begin_date}                            
                        </if>
                        <if test="begin_date==null and end_date!=null">
                          AND o.begin_date &lt;= #{end_date}                                             
                        </if>
						<if test="servName!=null and servName!=''">	
							AND s.name = #{servName} 
						</if>
							  ) c 
					  GROUP BY c.name
			  ) b
			  GROUP BY b.name
		</select>
		<select id="findScanCountByOrderId" parameterType="String" resultType="int">
				SELECT IFNULL(COUNT(o.id),0)  
				FROM cs_order o, cs_order_asset oa, cs_task t
				WHERE o.id=oa.orderId AND oa.id=t.order_asset_Id AND o.id=#{orderId}
		</select>
		    <!-- 根据orderid查询IP名称 -->
    <select id="findIPByOrderId" parameterType="String" resultType="hashmap">
    	select a.ip from cs_order_ip  a  where a.orderId=#{orderId}
    </select>
    <!-- 查询有告警的订单-->
    <select id="findOrder" parameterType="int" resultMap="OrderRM">
    	select * from cs_order where id=( select orderId from cs_order_ip where id=#{order_ip_Id})
    </select>
    
    <!-- 修改订单 -->
	<update id="update" parameterType="com.cn.ctbri.entity.Order">
		update cs_order
		<set>
			<if test="message!=null">
				message=#{message},
			</if>
			<if test="status!=null">
                status=#{status},
            </if>
            <if test="delFlag!=null">
                delFlag=#{delFlag},
            </if>
            <if test="websoc!=null">
                websoc=#{websoc}
            </if>
		</set>
		where id=#{id}
	</update>
	 <!-- 根据orderId查询正在执行的任务-->
    <select id="findTaskRunning" parameterType="String" resultType="hashmap">
        SELECT t.*
        FROM cs_task t,cs_order_asset oa
        WHERE t.order_asset_Id = oa.id AND oa.orderId=#{orderId} and t.status = 2
    </select>
    
    <select id="getOrderById" resultType="String" parameterType="hashmap">
    SELECT c.id FROM cs_order  c WHERE c.userId=#{userId}  AND c.id=#{orderId} AND c.type =#{type}
    </select>
    
    <!-- 删除订单 -->
    <delete id="deleteOrderById" parameterType="hashmap">
        delete from cs_order where id = #{orderId} and userId=#{userId}
    </delete>
    
    <!-- 查找订单 -->
    <select id="findOrderById" resultMap="OrderRM" parameterType="String">
        SELECT * FROM cs_order c WHERE c.id=#{orderId}
    </select>
    <!-- 根据用户查询所有任务数 -->
    <select id="findTaskNumsByUserId" resultType="Object" parameterType="Integer">
        select sum(tasknum) from cs_order
        where userId = #{userId}
    </select>
    
    <!-- 根据任务查询订单信息 -->
    <select id="findOrderByTask" resultMap="OrderRM" parameterType="com.cn.ctbri.entity.Task">
        select o.*
        from cs_task t join cs_order_asset oa 
        on t.order_asset_Id = oa.id join cs_order o 
        on oa.orderId = o.id 
        where t.taskId = #{taskId}
    </select>
    
    
    <!-- 根据条件查询订单信息 -->
    <select id="findOrderByMap" resultMap="OrderRM" parameterType="hashmap">
    	<if test="isAPI==0">
			select * from cs_order o
			where o.status not in (1,2) 
			and o.delFlag !=1
			and	o.payFlag = 1
			and o.isAPI = 0
			and o.create_date &gt;='2016-06-28 00:00:00'
			order by create_date desc
		</if>
		<if test="isAPI==2">
			select * from cs_order o
			where o.status in (0) 
			and o.delFlag !=1
			and	o.payFlag = 1
			and o.isAPI = 2
			and o.serviceId = 6
			and DATE_FORMAT(o.begin_date, '%Y-%m-%d') between date_add(CURDATE(),interval -1 day) and CURDATE()
		</if>
		<if test="isAPI==1">
			select * from cs_order o
			where o.status in (0) 
			and o.delFlag !=1
			and	o.payFlag = 1
			and o.isAPI = 1
		</if>
		 <!--<if test="isAPI==0">
		   and o.status not in (1,2) 
           and o.isAPI = 0
		   and o.create_date &gt;='2016-04-17 00:00:00'
        </if>
        <if test="isAPI==2">
           and o.status =0 
           and o.serviceId = 6
           and o.isAPI = 2
           and o.begin_date  between CURDATE() and date_add(CURDATE(),interval 1 day) 
        </if> -->
        
		
    </select>
    
    
    <!-- 根据条件查询订单信息 -->
    <select id="findDelOrderByMap" resultMap="OrderRM" parameterType="hashmap">
		<!-- waf删除 -->
		<if test="isAPI==2 and mark=='del'">
			select * from cs_order o
		        where o.status in (4) 
					and o.delFlag !=1
					and	o.payFlag = 1
					and o.isAPI = 2
					and o.serviceId = 6
	        		and o.end_date &lt; now()
		</if>
		<!-- waf信息通知 -->
		<if test="isAPI==2 and mark=='sendMessage'">
			select * from cs_order o
				where o.status in (4) 
				and o.delFlag !=1
				and	o.payFlag = 1
				and o.isAPI = 2
				and o.serviceId = 6
				and date_add(DATE_FORMAT(CURDATE(), '%Y-%m-%d'),interval #{deadline} day) = DATE_FORMAT(o.end_date, '%Y-%m-%d')
				<!-- and CURDATE() BETWEEN date_add(DATE_FORMAT(o.end_date, '%Y-%m-%d'),interval -#{deadline} day) AND o.end_date -->
			
		</if>
		
    </select>
    
    <!-- 查询联系人 -->
    <select id="findLinkmanById" resultType="com.cn.ctbri.entity.Linkman" parameterType="int">
        select * from cs_linkman l where l.id=#{contactId}
    </select>
    
     <!-- 查询联系人 -->
    <select id="findLinkmanByOrderId" resultType="com.cn.ctbri.entity.Linkman" parameterType="String">
       SELECT * FROM cs_linkman l WHERE l.id =(SELECT o.contactId FROM cs_order o WHERE o.id=#{orderId})
    </select>
    <!-- 修改联系人 -->
    <update id="updateLinkManByOrderId" parameterType="hashmap">
       update cs_linkman set name=#{name},mobile=#{mobile},email=#{email} where id=(SELECT o.contactId FROM cs_order o WHERE o.id=#{orderId})
    
    </update>
    <!-- 修改联系人 -->
    <update id="updateLinkManByAPIId" parameterType="hashmap">
       update cs_linkman set name=#{name},mobile=#{mobile},email=#{email} where id=(SELECT o.contactId FROM cs_order_api o WHERE o.id=#{orderId})
    
    </update>
    
    <!-- 删除联系人 -->
    <delete id="delLinkmanByOrderId" parameterType="hashMap">
      delete FROM cs_linkman  WHERE id =(SELECT o.contactId FROM cs_order o WHERE o.id=#{orderId} and  o.userId = #{userId})
    
    </delete>
	<!-- 根据订单Id查询API记录 -->
    <select id="findAPIInfoByOrderId" resultType="hashmap" parameterType="String">
        select o.id,o.serviceId,o.type,s.name,o.begin_date,o.end_date,o.create_date,o.scan_type,o.status,o.websoc,o.payFlag,o.isAPI,o.userId
        from cs_order o,cs_service_api s
        where o.id = #{orderId} and o.serviceId = s.id
    </select>
		<!-- 根据orderId查询购买api数量 -->
    <select id="findAPICountByParam" resultType="int" parameterType="hashMap">
  		select api.num from cs_order_api api,cs_order order1 where api.id=#{orderId} and order1.payFlag=1 and order1.id=api.id
    </select>
    
    <select id="getServiceUserCount" resultType="hashmap">
    	select t1.type,count(t1.type) as userNums from (
			select type,userId from cs_order 
			where delFlag=0
			and payFlag=1
			and type=1
			group by type,userId
		) as t1
		union 
		select t2.type,count(t2.type) as userNums from (
				select type,userId from cs_order 
							where delFlag=0
							and payFlag=1
							and type=2
							group by type,userId
							having userId not in( 
								select userId from cs_order 
								where delFlag=0
								and payFlag=1
								and type=1
								group by userId
				)
		) as t2
    </select>
    
    <select id="getServiceCount" resultType="hashmap">
    	select t1.type,t2.`name`,count(t1.id) as countNums 
		from cs_order as t1
		inner join cs_service as t2
		on t1.serviceId=t2.id
		and  t1.delFlag=0
		and t1.payFlag=1
		group by t1.type,t1.serviceId
    </select>
    
    
    
</mapper>