<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.ServiceSysMapper">
	<sql id="cols">id,name,factory,module_name,type,status,remarks,ordertype,parentC,websoc
	</sql>
	<resultMap type="com.cn.ctbri.entity.ServiceSys" id="ServiceSysRM">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="factory" column="factory" />
		<result property="module_name" column="module_name" />
		<result property="type" column="type" />
		<result property="status" column="status" />
		<result property="remarks" column="remarks" />
		<result property="orderType" column="ordertype" />
		<result property="parentC" column="parentC" />
		<result property="websoc" column="websoc" />
		<result property="homeIcon" column="home_icon" />
		<result property="categoryIcon" column="category_icon" />
		<result property="detailIcon" column="detail_icon" />
	</resultMap>
	<!-- 查询所有记录 -->
	<select id="list" resultMap="ServiceSysRM">
		select
		<include refid="cols" />
		from cs_service
	</select>

	<select id="findById" resultMap="ServiceSysRM" parameterType="int">
		select * from cs_service
		where id=#{id}
	</select>

	<select id="findSysPriceList" resultType="map">
	    <!-- union前第一个大的select语句筛选service.id=1,2,4,8的 union后的第二个select语句筛选出service.id=7,9的 然后合并在一起
	       用一个select语句筛选出7，8，9 -->
		select * from (
		select * from(
		SELECT service.*,price.scan_type, price.type
		priceType,price.timesG,(price.price*price.scan_type) as price FROM (
		select s.*,detail.servType from cs_service s join cs_service_detail
		detail on detail.serviceId = s.id) service join
		cs_price price
		ON price.serviceId = service.id
		AND
		(service.servType=0 AND price.timesG=1))serr
		group by serr.id
		union
		select * from(
		SELECT service.*,price.scan_type, price.type
		priceType,price.timesG,(price.price*price.scan_type) as price FROM (
		select s.*,detail.servType from cs_service s join cs_service_detail
		detail on detail.serviceId = s.id) service join
		cs_price price
		ON price.serviceId = service.id
		AND
		(service.servType=1 AND (price.timesG=12 or price.timesG=1) ))ser
		group by ser.id
		)serv
		where parentC=3
		order by serv.id
		<!--select * from ( select * from( (SELECT service.*,price.scan_type, price.type 
			priceType,price.timesG,price.price FROM ( select s.*,detail.servType from 
			cs_service s join cs_service_detail detail on detail.serviceId = s.id) service 
			join cs_price price ON price.serviceId = service.id AND (service.servType=0 
			AND price.timesG=1)) order by price.price) serr group by serr.id UNION select 
			* from( SELECT service.*,price.scan_type, price.type priceType,price.timesG,price.price 
			FROM (select s.*,detail.servType from cs_service s join cs_service_detail 
			detail on detail.serviceId = s.id) service join cs_price price ON price.serviceId 
			= service.id AND service.servType=1 order by service.id,price.price) ser 
			group by ser.id ) serv where parentC=3 order by serv.id --> 
			<!-- select * from 
			cs_service service LEFT JOIN cs_price price on price.serviceId = service.id 
			and price.timesG = 0 where service.id = 7 order by service.id -->
	</select>

	<!-- 添加系统安全帮服务 -->
	<insert id="insertServSys" parameterType="com.cn.ctbri.entity.ServiceSys"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		cs_service(id,name,type,parentC,remarks,home_icon,category_icon,detail_icon)
		values(#{id},#{name},#{type},#{parentC},#{remarks},#{homeIcon},#{categoryIcon},#{detailIcon})
	</insert>

	<!-- 修改系统安全帮服务 -->
	<update id="updateById" parameterType="com.cn.ctbri.entity.ServiceSys">
		update cs_service
		<set>
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="type!=null">
				type=#{type},
			</if>
			<if test="remarks!=null">
				remarks=#{remarks},
			</if>
			<if test="parentC!=null">
				parentC=#{parentC},
			</if>
			<if test="homeIcon!=null">
				home_icon=#{homeIcon},
			</if>
			<if test="categoryIcon!=null">
				category_icon=#{categoryIcon},
			</if>
			<if test="detailIcon!=null">
				detail_icon=#{detailIcon},
			</if>
		</set>
		where id=#{id}
	</update>

	<delete id="deleteById" parameterType="int">
		delete from cs_service
		where id=#{id}
	</delete>
</mapper>