<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.AdvertisementMapper">
	<sql id="cols">id,name,image,startDate,endDate,createDate</sql>
	
	<resultMap type="com.cn.ctbri.entity.Advertisement" id="AdRM">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="image" column="image"/>
		<result property="type" column="type"/>
		<result property="orderIndex" column="orderIndex"/>
		<result property="startDate" column="startDate"/>
		<result property="endDate" column="endDate"/>
		<result property="createDate" column="createDate"/>
	</resultMap>
	
	<!-- 根据id查询所有记录 -->
	<select id="findById" resultMap="AdRM" parameterType="com.cn.ctbri.entity.Advertisement">
		select * from cs_advertisement
		where  id=#{id}
	</select>
	
	<!-- 查询所有记录 -->
	<select id="findADbyType" resultMap="AdRM" parameterType="int">
		select * from cs_advertisement
		where 
			type=#{type}
		order by orderIndex desc,createDate desc
	</select>
	
		
	<!-- 插入广告 -->
	<!-- <insert id="insert" parameterType="com.cn.ctbri.entity.Advertisement">
		insert into cs_advertisement 
		(id,name,image,startDate,endDate,createDate) values(#{id} #{name},#{image},#{startDate},#{endDate},#{createDate})
	</insert>-->
	
	<insert id="insert" parameterType="com.cn.ctbri.entity.Advertisement" useGeneratedKeys="true" keyProperty="id">
		insert into cs_advertisement 
		(id,name,image,type,orderIndex,startDate,endDate,createDate) values(#{id}, #{name},#{image},#{type},#{orderIndex},#{startDate},#{endDate},#{createDate})
	</insert>
	
	
	<!-- 删除广告 -->
	<delete id="delete">
		delete from cs_advertisement
		where id=#{id}
	</delete>
	
	<update id="update"  parameterType="com.cn.ctbri.entity.Advertisement">
		update cs_advertisement 
		set
			orderIndex = #{orderIndex}
		where id=#{id}
	</update>
	
</mapper>