<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.ServiceAPIMapper">
	<sql id="cols">id,name,factory,status,remarks</sql>
	<resultMap type="com.cn.ctbri.entity.ServiceAPI" id="ServiceAPIRM">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="factory" column="factory"/>
		<result property="status" column="status"/>
		<result property="remarks" column="remarks"/>
		<result property="parentC" column="parentC"/>
		<result property="type" column="type"/>
		<result property="homeIcon" column="home_icon"/>
		<result property="categoryIcon" column="category_icon"/>
		<result property="detailIcon" column="detail_icon"/>
	</resultMap>
	<!-- 查询所有记录 -->
	<select id="list" resultMap="ServiceAPIRM">
		select<include refid="cols"/>from cs_service_api
	</select>
	
	<select id="findById" resultMap="ServiceAPIRM" parameterType="int">
		select * from cs_service_api
		where id=#{id}
	</select>
	
	<select id="findApiPriceList" resultType="map">
	select * from cs_service_api service LEFT JOIN cs_api_price price  
	on 
		price.serviceId = service.id and 
		price.timesG=0
	order by service.id 
	</select>
	
	<!-- 添加API服务 -->
	<insert id="insertServAPI" parameterType="com.cn.ctbri.entity.ServiceAPI" useGeneratedKeys="true" keyProperty="id">
		insert into cs_service_api(id,name,type,parentC,remarks,home_icon,category_icon,detail_icon)
		values(#{id},#{name},#{type},#{parentC},#{remarks},#{homeIcon},#{categoryIcon},#{detailIcon})
	</insert>
	
	<!-- 修改API服务 -->
	<update id="updateById" parameterType="com.cn.ctbri.entity.ServiceAPI">
		update cs_service_api
		<set>
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="remarks!=null">
				remarks=#{remarks},
			</if>
			<if test="parentC!=null">
				parentC=#{parentC},
			</if>
			<if test="homeIcon!=null">
				home_icon=#{homeIcon},
			</if>
			<if test="categoryIcon!=null">
				category_icon=#{categoryIcon},
			</if>
			<if test="detailIcon!=null">
				detail_icon=#{detailIcon},
			</if>
			<if test="type!=null">
				type=#{type},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<delete id="deleteById" parameterType="int">
		delete from cs_service_api where id=#{apiId}
	</delete>
</mapper>