<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.ServDetailMapper">
	<sql id="cols">id,serviceId,priceTitle,typeTitle,servType,ratesTitle,detailIcon,createTime,parentC,detailFlag</sql>
	<resultMap type="com.cn.ctbri.entity.ServiceDetail" id="ServDetailRM">
		<id property="id" column="id"/>
		<result property="serviceId" column="serviceId"/>
		<result property="priceTitle" column="priceTitle"/>
		<result property="typeTitle" column="typeTitle"/>
		<result property="servType" column="servType"/>
		<result property="ratesTitle" column="ratesTitle"/>
		<result property="detailIcon" column="detailIcon"/>
		<result property="createTime" column="createTime"/>
		<result property="parentC" column="parentC"/>
		<result property="detailFlag" column="detailFlag"/>
	</resultMap>

	<select id="findByServId" resultMap="ServDetailRM" parameterType="int">
		select * from cs_service_detail
		where serviceId=#{serviceId}
	</select>
	
	<delete id="delete"  parameterType="hashmap">
		delete from cs_service_detail 
		where 
			serviceId = #{servId} 
		and 
			parentC = #{parent}
	</delete>
	
	<insert id="insert" parameterType="com.cn.ctbri.entity.ServiceDetail">
		insert into cs_service_detail(serviceId,priceTitle,typeTitle,servType,ratesTitle,detailIcon,createTime,parentC,detailFlag)
		values(#{serviceId},#{priceTitle},#{typeTitle},#{servType},#{ratesTitle},#{detailIcon},#{createTime},#{parentC},#{detailFlag})
	</insert>
	
</mapper>