<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.IPPositionMapper">

	<resultMap type="com.cn.ctbri.entity.IPPosition" id="IPPosition">
		<id property="ip" column="ip"/>
		<result property="longitude" column="longitude"/>
		<result property="latitude" column="latitude"/>
		<result property="countryProvince" column="countryProvince"/>
		<result property="registerTime" column="registerTime"/>
		<result property="sourceStatus" column="sourceStatus"/>
	</resultMap>
	<!-- 插入数据 -->
    <insert id="saveIPPosition">
		insert into cs_ipposition
		values(#{ip},#{longitude},#{latitude},#{countryProvince},#{registerTime},#{sourceStatus})
	</insert>
	<select id="getIPPositionList" resultMap="IPPosition">
		select * from cs_ipposition
    </select>
    <delete id="deleteIP" parameterType="string">  
    	delete from cs_ipposition WHERE 1=1
    	 <if test="_parameter != null">
    	AND ip=#{ip}  
    	</if> ;
    </delete>
</mapper>
