<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.OrderSearchMapper">
	<sql id="cols">id,type,begin_date,end_date,serviceId,create_date,task_date,scan_type,userId,contactId,remarks,status</sql>
	<resultMap type="com.cn.ctbri.entity.Order" id="OrderRM">
		<id property="id" column="id"/>
		<result property="type" column="type"/>
		<result property="begin_date" column="begin_date"/>
		<result property="end_date" column="end_date"/>
		<result property="serviceId" column="serviceId"/>
		<result property="create_date" column="create_date"/>
		<result property="task_date" column="task_date"/>
		<result property="scan_type" column="scan_type"/>
		<result property="userId" column="userId"/>
		<result property="contactId" column="contactId"/>
		<result property="remarks" column="remarks"/>
		<result property="status" column="status"/>
		<result property="tasknum" column="tasknum"/>
	</resultMap>
	
	<select id="findByCombineOrderTrack" resultType="hashmap" parameterType="hashmap">
        select b.* from 
 			(select s.home_icon as homeIcon,o.id,o.type,s.name,o.serviceId,o.begin_date,o.end_date,o.create_date,o.scan_type,o.status,o.websoc,o.payFlag,o.isAPI, 0 as package_type,0 as num,o.delFlag,oa.assetAddr as addr,oa.assetName as addrName,o.price,ifnull(o.orderListId,o.id) as orderListId
	        from cs_order o,cs_service s,cs_order_asset oa
	        where o.userId = #{userId} and o.serviceId = s.id and isAPI in(0,2) 
	            and o.id = oa.orderId
	            and oa.assetAddr is not null
	        union
	        select s.home_icon as homeIcon,o.id,o.type,s.name,o.serviceId,o.begin_date,o.end_date,o.create_date,o.scan_type,o.status,o.websoc,o.payFlag,o.isAPI,oa.package_type,oa.num,o.delFlag,null as addr,null as addrName,o.price,ifnull(o.orderListId,o.id) as orderListId
	        from cs_order o,cs_service_api s,cs_order_api oa
	        where o.userId = #{userId} and o.serviceId = s.id and isAPI = 1 and oa.id = o.id) b
	            where 1=1
            <if test="type!=null and type!=''">
                AND b.type = #{type}
                AND b.isAPI = 0
            </if>  
            <if test="servName!=null and servName!=''"> 
                AND b.serviceId = #{servName} 
                AND b.isAPI = #{isAPI}
            </if> 
            <if test="begin_date!=null and end_date!=null">
                AND b.begin_date &gt;= #{begin_date}
                AND b.begin_date &lt;=#{end_date}            
            </if>    
            <if test="begin_date!=null and end_date==null">
                AND b.begin_date &gt;= #{begin_date}                            
            </if>
            <if test="begin_date==null and end_date!=null">
                AND b.begin_date &lt;= #{end_date}                                             
            </if>
            <if test="state==3"><!-- 已下单 -->
                AND b.begin_date &gt; #{currentDate}
            </if>
            <if test="state==1"><!-- 服务中 -->
                and b.status in (4,5)
                or (end_date &gt;= now() and b.isAPI = 1)
                
            </if>
            <if test="state==2"><!-- 已结束 -->
                <!-- AND c.end_date &lt; #{currentDate} -->
                AND b.status in (1,2)
            </if>
            <if test="search!=null and search!=''">
                and (b.addrName like CONCAT(CONCAT('%', #{search}), '%') or b.addr like CONCAT(CONCAT('%', #{search}), '%'))
            </if>
            and b.delFlag != 1
            and	b.payFlag = 1
            group by b.orderListId
            order by b.create_date desc
    </select>
    
    <select id="findByCombineOrderTrackByPage" resultType="hashmap" parameterType="hashmap">
		SELECT s.home_icon as homeIcon,o.id,o.type,s.id as sid,s.name,o.serviceId,o.scan_type,o.begin_date,o.end_date,o.create_date,o.status
        FROM cs_order o,cs_service s
        WHERE o.userId = #{userId} AND o.serviceId = s.id
            <if test="type!=null and type!=''">
                AND o.type = #{type}
            </if>
            <if test="servName!=null and servName!=''"> 
                AND s.id = #{servName} 
            </if>    
            <if test="begin_date!=null and begin_date!=''">
                AND o.begin_date &gt;= #{begin_date}
            </if>    
            <if test="end_date!=null and end_date!=''">
                AND ((o.end_date &lt;=#{end_date} AND o.type= 1) OR (o.begin_date &lt;=#{end_date} AND type=2))
            </if>
            <if test="state==3"><!-- 已下单 -->
                AND o.begin_date &gt; #{currentDate}
            </if>
            <if test="state==1"><!-- 服务中 -->
                AND o.begin_date &lt;= #{currentDate}
                AND o.status in (0,3)
            </if>
            <if test="state==2"><!-- 已结束 -->
                <!-- AND c.end_date &lt; #{currentDate} -->
                AND o.status in (1,2)
            </if>
            <if test="search!=null and search!=''">
                AND o.id like CONCAT(CONCAT('%', #{search}), '%')
            </if>
            order by o.create_date desc limit #{pageNow},#{pageSize}
    </select>
    
    <select id="findByCombineOrderTrackByPageAsset" resultType="hashmap" parameterType="hashmap">
            select b.* from 
 			(select s.home_icon as homeIcon,o.id,o.type,s.name,o.serviceId,o.begin_date,o.end_date,o.create_date,o.scan_type,o.status,o.websoc,o.payFlag,o.isAPI, 0 as package_type,0 as num,o.delFlag,oa.assetAddr as addr,oa.assetName as addrName,o.price,ifnull(o.orderListId,o.id) as orderListId
	        from cs_order o,cs_service s,cs_order_asset oa
	        where o.userId = #{userId} and o.serviceId = s.id and isAPI in(0,2) 
	            and o.id = oa.orderId
	            and oa.assetAddr is not null
	        union
	        select s.home_icon as homeIcon,o.id,o.type,s.name,o.serviceId,o.begin_date,o.end_date,o.create_date,o.scan_type,o.status,o.websoc,o.payFlag,o.isAPI,oa.package_type,oa.num,o.delFlag,null as addr,null as addrName,o.price,ifnull(o.orderListId,o.id) as orderListId
	        from cs_order o,cs_service_api s,cs_order_api oa
	        where o.userId = #{userId} and o.serviceId = s.id and isAPI = 1 and oa.id = o.id) b
	            where 1=1
            <if test="type!=null and type!=''">
                AND b.type = #{type}
                AND b.isAPI = 0
            </if>
            <if test="servName!=null and servName!=''"> 
                AND b.serviceId = #{servName} 
                AND b.isAPI = #{isAPI}
            </if>    
            <if test="begin_date!=null and end_date!=null">
                AND b.begin_date &gt;= #{begin_date}
                AND b.begin_date &lt;=#{end_date}            
            </if>    
            <if test="begin_date!=null and end_date==null">
                AND b.begin_date &gt;= #{begin_date}                            
            </if>
            <if test="begin_date==null and end_date!=null">
                AND b.begin_date &lt;= #{end_date}                                             
            </if>
            <if test="state==3"><!-- 已下单 -->
                AND b.begin_date &gt; #{currentDate}
            </if>
            <if test="state==1"><!-- 服务中 -->
                and b.status in (4,5)
                or (end_date &gt;= now() and b.isAPI = 1)
                
            </if>
            <if test="state==2"><!-- 已结束 -->
                <!-- AND c.end_date &lt; #{currentDate} -->
                AND b.status in (1,2)
            </if>
            <if test="search!=null and search!=''">
                and (b.addrName like CONCAT(CONCAT('%', #{search}), '%') or b.addr like CONCAT(CONCAT('%', #{search}), '%'))
            </if>
            and b.delFlag != 1
            and	b.payFlag = 1
            group by b.orderListId
            order by b.create_date desc limit #{pageNow},#{pageSize}
      </select>
    
</mapper>