<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.ServMapper">
	<sql id="cols">id,name,factory,module_name,type,status,remarks,ordertype,parentC,websoc</sql>
	<resultMap type="com.cn.ctbri.entity.Serv" id="ServRM">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="factory" column="factory"/>
		<result property="module_name" column="module_name"/>
		<result property="type" column="type"/>
		<result property="status" column="status"/>
		<result property="remarks" column="remarks"/>
		<result property="orderType" column="ordertype"/>
		<result property="parentC" column="parentC"/>
		<result property="websoc" column="websoc"/>
		<result property="homeIcon" column="home_icon"/>
		<result property="categoryIcon" column="category_icon"/>
		<result property="detailIcon" column="detail_icon"/>
	</resultMap>
	<!-- 查询所有记录 -->
	<select id="list" resultType="map">
<!--		select service.id, service.name, service.factory, service.module_name, service.type,
		service.status, service.remarks, service.ordertype, service.parentC, service.websoc, price.price
		from cs_service service,cs_price price where price.serviceId=service.id and 
		
		price.type=0
		-->
		<!-- SELECT * FROM   cs_service service LEFT JOIN cs_price price  ON price.serviceId = service.id AND 
		((service.id IN(1,2,4) AND price.type=0) OR ((service.id=5 AND price.scan_type=1) OR (service.id =3 AND price.scan_type=2)) AND price.type=1 AND price.timesG=1)
		ORDER BY service.id  -->
		select * from 
		(SELECT service.*,price.scan_type, price.type priceType,price.timesG,price.price FROM  (
		       select s.*,detail.servType from cs_service s join cs_service_detail detail on detail.serviceId = s.id) service join
		       cs_price price
		ON price.serviceId = service.id
		AND
		((service.servType=0 OR service.servType=2) AND price.type=0)
		UNION
		select * from(
		SELECT service.*,price.scan_type, price.type priceType,price.timesG,price.price FROM  
		       (select s.*,detail.servType from cs_service s join cs_service_detail detail on detail.serviceId = s.id) service join
		       cs_price price
		ON price.serviceId = service.id
		AND service.servType=1
		order by service.id,price.scan_type, price.type,price.timesG) ser
		group by ser.id
		UNION 
		 select cs_service.*,-1,-1,-1,-1,0.0 from cs_service where cs_service.type=2
		) serv
		where parentC=1
		order by serv.id
	</select>
	<select id="findById" resultMap="ServRM" parameterType="int">
		select * from cs_service
		where id=#{id}
	</select>
	
	<select id="findServiceByParam" resultMap="ServRM" parameterType="com.cn.ctbri.entity.Serv">
        select * from cs_service s
        <where>
            <if test="type!=0">
            and s.type=#{type}
            </if>
            <if test="orderType!=null">
            and s.orderType in(0,#{orderType})
            </if>
            <if test="factory!=null">
            and s.factory=#{factory}
            </if>
            <if test="parentC!=0">
            and s.parentC=#{parentC}
            </if>
            <if test="websoc==1">
            and s.websoc=#{websoc}
            </if>
        </where>
    </select>
	<select id="findAllService" resultMap="ServRM">
		select * from cs_service		
	</select>
	
	<!-- 添加服务 -->
	<insert id="insert" parameterType="com.cn.ctbri.entity.Serv" useGeneratedKeys="true" keyProperty="id">
		insert into cs_service(id,name,type,parentC,remarks,home_icon,category_icon,detail_icon)
		values(#{id},#{name},#{type},#{parentC},#{remarks},#{homeIcon},#{categoryIcon},#{detailIcon})
	</insert>
	
	<!-- 修改普通服务 -->
	<update id="update" parameterType="com.cn.ctbri.entity.Serv">
		update cs_service
		<set>
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="type!=null">
				type=#{type},
			</if>
			<if test="remarks!=null">
				remarks=#{remarks},
			</if>
			<if test="parentC!=null">
				parentC=#{parentC},
			</if>
			<if test="homeIcon!=null">
				home_icon=#{homeIcon},
			</if>
			<if test="categoryIcon!=null">
				category_icon=#{categoryIcon},
			</if>
			<if test="detailIcon!=null">
				detail_icon=#{detailIcon},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<delete id="deleteById" parameterType="int">
		delete from cs_service where id=#{serviceId}
	</delete>
	
	<select id="getServiceByParent"  parameterType="Map" resultMap="ServRM">
		SELECT * FROM cs_service
		where parentC=#{parentC}
		ORDER BY id 
	</select>
</mapper>