@charset "utf-8";
*{
	font-family: "微软雅黑";
}
.safeBox{
	overflow:hidden;
}
.safe01 .head{
	height: 56px;
	background-color: #ffffff;
	padding: 6px 0 0 0;
}
.safe01 .headBox{
	width: 1108px;
	margin: 0 auto;
	height: 100%;
	position:relative;
	z-index:300;
}
/*5.11*/
.safe01 .safem span,.safem .Divlist{
	margin-right: 48px;
	position:relative;
}

.shopping i{
	width:22px;
	height:22px;
	background:url(../images/h-shopping.png) no-repeat center 2px;
	display:inline-block;
	vertical-align:middle;
	margin-right:8px;
	position:relative; 
	top:-4px;
}
.shopping a:hover i{
	background:url(../images/shopping.png) no-repeat center 2px
}
.detalis-head .shopping i{
	/*width:22px;
	height:22px;*/
	background:url(../images/w-shopping.png) no-repeat center 2px;
	/*display:inline-block;
	vertical-align:middle;
	margin-right:8px;
	position:relative; 
	top:-4px;*/
}
.detalis-head .shopping a:hover i{
	background:url(../images/h-shopping.png) no-repeat center 2px
}

.safe01 .safeL{
	 width: 168px;
	 margin-right: 29%;
}
.safe01 .safem span,.safem .Divlist{
	margin-right: 40px;
	position:relative;
}

.ask b{
	width:220px;
	height:220px;
	position:absolute;
	top:45px;
	left:-58px;
	z-index:320;
}

.safe01 .safem{
		/*line-height: 60px;*/
		line-height: 50px;
		height:100%;
}
.safe01 .safem a{
	 font-size:20px;
	 font-family: "微软雅黑";
	 color: #4a4a4a;
}
.safe01 .safem a:hover{
	color: #2499fb;
}
.safe01 .safer{
	/*line-height: 60px;*/
	line-height: 50px;
	margin-left: 50px;
	display: inline;
}
/*5-11*/
.safe01 .safer a{
	font-size:20px;
	 font-family: "微软雅黑";
	 color: #4a4a4a;
}

.headBox .this{
	color: #2499fb !important;
}
.safe01 .safer a:hover{
	color: #2499fb;
}

.safe01 .safer em{
	font-size: 18px;
	color: #c6c6c6;
	margin:0 8px;
}
/*4--8*/
.safe01 .Divlist{
	position: relative;
	/*line-height: 60px;*/
	line-height:53px;
        height: 100%;
	z-index:12;
	top:-1px;
}
.safe01 .Divlist a i{
	margin-left: 8px;
	width: 8px;
	height: 8px;
	display: inline-block;
	background: url(../images/portal/downnew.png) no-repeat;
	*position:relative;
	*top:-5px;
	*left:6px;
}
.safe01 .Divlist a .active{
	/*background: url(../images/portal/upnew.png) no-repeat;*/
	background: url(../images/portal/up.png) no-repeat;
}

.safe01 .Divlist .this i{
	background: url(../images/portal/down.png) no-repeat;
}
.safe01 .Divlist .this:hover i{
	background: url(../images/portal/up.png) no-repeat;
}
.safe01 .Divlist .list{
	background: #ffffff;
	position: absolute;
	/*padding: 0 4px;*/
	left: -16px;
	top:55px;
	width: 128px;
	/*height: 142px;*/
	/*border: #e3e3e3 solid 1px;*/
	border-top:#fbfbfb solid 1px;
	display: none;
	*z-index:300;
}	
.safe01 .Divlist .list > li{
	text-align: center;
	height: 46px;
	border-bottom: #e3e3e3 solid 1px;
	line-height: 46px;
	position: relative;
	margin: 0 4px;
}
.safe01 .Divlist .list > li > ol{
	position: absolute;
	left: 113px;
	top:-1px;
	background-color: #fff;
	width: 216px;
	display: none;
	padding: 0 4px;
	border-top:#fbfbfb solid 1px;
}
.safe01 .Divlist .list > li > ol > li{
	height: 46px;
	border-top: #e3e3e3 solid 1px;
	border-bottom:none;
}
.bannerbtn{
	position:absolute;
	left:48%;
	bottom:5%;
	z-index:100;
	/*width:10%;*/
}
.bannerbtn li{
	width:10px;
	height:10px;
	background-color:#fff;
	border-radius:50%;
	float:left;
	margin-right:10px; 
	cursor:pointer;	
}
.bannerbtn .active{
	border:#eb6100 solid 2px;
	margin-top:-1px;	
}
.Divlist .list li a{
	font-size: 16px;
}

.bannerBox{
	position:relative;
}
.bannerB .bannerHeight{
	width:100%;
	position:relative;
	overflow:hidden;
	height:670px;
	z-index:3;
}

.bannerB .bannerHeight li{
	 width:2642px; /*图片宽度*/
	position:absolute;
	left:50%;
	margin-left:-1328px; /*图片宽度的一半*/
	display: none;
}



.safe02{
	 background-color: #efefef;
	  overflow: hidden;
	  width: 100%;
	  padding-bottom: 70px;
}
.imgBox{
	padding-top: 70px;
	 width: 1110px;
	 margin: 0 auto;
}
.imgBox h2{
	margin-bottom: 34px;
	text-align: center;
	font-size:28px;
}
.imgBox h2 i{
	 width: 6px;
	 height: 6px;
	 display: inline-block;
	 background: url(../images/portal/dot.png) no-repeat left center;
	 margin: 0 12px;
	 vertical-align: middle;
}
.imgBoxList{
	margin-right: -20px;
}
.imgBoxList li{
	float: left;
	width: 262px;
	height: 262px;
	margin:0 20px 20px 0;
	text-align: center;
	background-color: #fff;
	border: #e5e5e5 solid 1px;
}

.imgBoxList li span{
	height: 199px;
	display: block;
}
.imgBoxList li h3{
	height: 60px;
	line-height: 60px;
	border-top: #e5e5e5 solid 1px;
	font-size: 20px;
	color: #343434;
}
.safe03{
	padding-bottom: 120px;
}
.safe03 h3{
	margin-bottom: 18px;
}
.imgist li{
	float: left;
	margin-right: 33px;
	display:inline;
	height:150px;
	width:150px;
}
.imgist li a{
	width:100%;
	height:100%;
	display: block;
}
.imgist li a img{
	width:100%;
	height:100%;
	vertical-align: middle;
}
/*****/
.safe04{
	 background-color: #5f5f5f;
	 height: 178px;
	 padding-top: 40px;	
}
.safe04 .imgBox{
	padding: 0;
}
.safe04 .footL i{
	width: 1px;
	height: 45px;
	background-color: #b3b4b5;
	overflow: hidden;
	display: inline-block;
	margin: 0 16px;
	vertical-align:middle;
	position:relative;
	 top:-18px;
}
/*5-11*/
.safe04 .footr li{
	float: left;
	margin-right:80px;
}
.safe04 .footr li a{
	 	font-family: "微软雅黑";
	 	color: #fff;
	 	font-size: 12px;
	 	display: block;
	 	line-height: 24px;
}
.safe04 .footr dd{
	 	font-family: "微软雅黑";
	 	color: #fff;
	 	font-size: 12px;
	 	display: block;
	 	line-height: 24px;
}
.safe04 .footr li a:hover{
	color: #ffa351;
	
}
.safe04 .footr li em{
	font-family: "微软雅黑";
	 	color: #fff;
	 	font-size: 12px;
	 	display: inline-block;
	 	margin-top: 6px;
}
/*5-11*/
.safe04 .footr{
	position: relative;
	left: 122px;
}
.safe04 .footr li h2{
	margin-bottom:10px;
	color:#fff;
	font-size:16px;
	text-align:left;
}





.friend-Link{
	position:relative;
	width:100%;
	height:162px;
	/*background:url(../images/friend_bg.gif) repeat-x 0 0;*/
	}
	

.left-arrow,.fl-pic,.right-arrow{
	float:left;
	display:inline;
}

.left-arrow,.right-arrow{
	width:32px;
	height:54px;
	position:absolute;	
	top:39%;
	z-index:100;
	display:none;
}

.left-arrow{
	left:0%

}
	
.right-arrow{
	right:0%;
}
.index_child h2{
	margin-bottom: 50px;
}
	
.fl-pic{
	overflow-x:hidden;
	width:934px;
	height:194px;
	white-space:nowrap;
	position:absolute;
	left:11%;
	top:-6%;
	}
	
.fl-pic ul{
	width:3500px;
	position: relative;
    top: 20px;
    height: 172px;
	}
	
.fl-pic ul li{
	float:left;
	display:inline;
	margin-right:42px;
	width:150px;
	height:150px;
	position:relative;
	}

.left-arrow a,.right-arrow a{
	width:32px;
	height:54px;
	display:block;
	vertical-align:middle;
}


/*新主页样式*/
.listBox{
	width:1140px;
	margin:0 auto;
	margin-bottom: 50px;	
}
.listBox .listL{
	width: 262px;
	height: 330px;
	margin-right: 20px;
	background: #fff;
	border-top:2px #2499fb solid; 
}
.listBox .new-title{
	/*padding-bottom: 20px;*/
	height: 50px;
	line-height: 50px;
}
.listBox .new-title h3{
	font-size: 20px;
	color: #393939;
}
.listBox .new-title a{
	font-size: 14px;
	color: #6a6a6a;
	position: relative;
	right: 18px;
}
.listBox .new-title a b{
	margin-left: 10px;
	display: inline-block;
	width: 18px;
	height: 18px;
	background:url(../images/portal/more.png) no-repeat;
	position: relative;
	top:3px;
	*left:4px;
	*top:1px;
}
.listBox .new-title a:hover{
	color: #2499fb;
}
.listBox .new-title a:active{
	color: #2499fb;
}
.listBox .new-title a:hover b{
	background:url(../images/portal/morehover.png) no-repeat;
}
.listBox .newlist li{
	width: 262px;
	height: 282px;
	margin-right: 20px;
	background: #fff;
	position: relative;
	
}
/*修改*/
.showdow{
	box-shadow: 5px 2px 10px #e2e2e2, 5px 2px 10px #e2e2e2, 6px -6px 20px #e2e2e2, 5px 2px 10px #e2e2e2;
}
.listBox .newlist li a{
	width: 100%;
	height: 100%;
	display: inline-block;
	position: relative;
}

.listBox .newlist li i{
	position: absolute;
	width: 52px;
	height: 52px;
	top:0;
	left: 0px;
}
.listBox .newlist li h4{
	position: absolute;
	top:180px;
	left: 0px;
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #4a4a4a;
}
.listBox .newlist li h5{
	position: absolute;
	top:224px;
	left: 0px;
	width: 100%;
	text-align: center;
	font-size: 20px;
	color: #d00000;
	font-family: Arial Regular;
}
.safe05 .imgBox{
	height:560px;
}



/*****/
.special{	
	height:558px;
	width:100%;
	background:url(../images/portal/special.png) no-repeat center;
	 /*background-size:100% 100%;*/ 
}
/***/


.specialblock{
	width: 1108px;
	margin: 0 auto;
}
.specialblock h3{
	text-align: center;
	font-size: 28px;
	height: 160px;
	line-height: 170px;
	color: #fff;
}
.specialblock dd{
	width: 474px;
	height: 200px;
	margin-right: 20px;
	padding-top:80px;
	padding-left: 70px;
	
}
.specialblock .frn{
background:url(../images/portal/safebj.png) no-repeat #fff;
}
.specialblock .frn2{
background:url(../images/portal/Xzq.png) no-repeat #fff;
}
.specialblock dd .introduce{
		width: 160px;
}
.specialblock dd .introduce h4{
	font-size: 22px;
	color: #000;
	padding-bottom:26px; 
}
.specialblock dd .introduce p{
	color: #6a6a6a;
	font-size: 14px;
	line-height: 24px;
}

.specialblock dd{ 
	position:relative; 
	top:0px;
}
.specialblock a{
	display:block;	
}






/*新样*/
.listBox .purchase{
	position: absolute;
	top:223px;
	left: 59px;

}

.listBox .purchase em{
	color: #6e6e6e;
    font-family: Arial Regular;
}









.listBox .purchase span:first-child {
    font-size: 20px;
    color: #D00000;
    margin-right: 16px;
	font-family:Arial Regular;
	font-weight: bold;
}
.listBox .purchase span:nth-last-child(1) {
    font-size: 16px;
    text-decoration: line-through;
    color: #6e6e6e;
	font-family:Arial Regular;
}


.listBox .purchase .oldprice{
	text-decoration:line-through;
	text-decoration-color:#D00000;
	color: #6e6e6e;
	font-size: 16px;
}
/*新样式结束*/













/*二级页*/
.index_child h2{
	font-size: 28px;
}
.listBox .child-newlist li{
	width: 344px;
	height: 476px;
	margin-right: 38px;
	margin-bottom: 38px;
}
.listBox .child-newlist li h4{
	top:269px;
	padding-left: 30px;
	font-size: 24px;
	color: #000;
	text-align: left;
	width: 90%;
}
.listBox .child-newlist li span{
	position: absolute;
	top:309px;
	left: 30px;
	line-height: 24px;
	font-size: 14px;
	color: #6e6e6e;
	right: 30px;
}
.listBox .child-newlist .purchase{
	position: absolute;
	top:404px;
	left: 30px;
}

.listBox .child-newlist .purchase strong:first-child{
	font-size: 30px;
	color: #D00000;
	margin-right: 16px;
	font-family:Arial Regular;
}
.listBox .child-newlist .purchase strong:nth-last-child(2){
	font-size: 22px;
	text-decoration:line-through;
	color: #d00000;
	font-family:Arial Regular;
}
.listBox .child-newlist .purchase em{
	font-size: 18px;
	color: #6e6e6e;
}
.listBox .child-newlist .purchase .btn{
	 width: 82px;
	 height: 40px;
	 border: #2499FB solid 1px;
	 border-radius:4px;
	 text-align: center;
	 display: inline-block;
	 color: #2499FB;
	 font-size: 20px;
	 line-height: 40px;
	 display:relative;
	 left: 90px;
}
.listBox .child-newlist .purchase .btn:hover{
	background-color: #2499fb;
	color: #fff;
}
/*详情*/
.detalis-head .head{
	background-color: #2499fb;
	border-bottom:#e2e2e2 solid 1px;
}
/*4-8*/
.detalis-head .safem, .detalis-head .Divlist , .detalis-head .safer{
	line-height: 53px;
}

.detalis-head .safem a{
	font-size: 20px;
	color: #fff;
}
.detalis-head .safem a:hover{
	color:#dadada;
}
.detalis-head .safer a{
	font-size: 20px;
	color: #fff;
}
.detalis-head .safer a:hover{
	color:#dadada;
}
.detalis-head .headBox .this{
	color:#dadada !important;
}
.detalis-head .headBox .this i{
	background:url(../images/portal/cdow.png) no-repeat;	
}

.detalis-head .Divlist .this:hover .active{
	background: url(../images/portal/cdown.png) no-repeat;
}

.detalis-head .headBox .this .active{
	background:url(../images/portal/cdown.png) no-repeat;	
}

.detalis-head .Divlist a i{
	background:url(../images/portal/downc.png) no-repeat;	
}
.detalis-head .Divlist a .active{
	background:url(../images/portal/ups.png) no-repeat;	
}
.detalis-head .Divlist .list{ 
	background-color:#2499fb;
	border-top:none;
	top:56px;
}
.detalis-head .Divlist .list li{
	border-bottom-style:solid;
  border-bottom-color:rgba(255,255,255,.5);
  border-bottom-width:1px;
  background-color:#2499fb;
  border-top:none;
}
/*商品分类 二级分类*/
#buydiv .buy {
	position:static;
	float: right;
    margin-left: 100px;
    margin-top: -30px;
    margin-right: 30px;
}
#buydiv .buydiv {
	left: 0px;
}
#buydiv .buystrong {
	margin-left: 30px;
    float: left;
}
.detalis-head .Divlist .list li ol{ 
	background-color:#2499fb;
	border-top:none;
}

.detalis-head .Divlist .list li ol li{ 
	background-color:#2499fb;
	border-top: #e3e3e3 solid 1px;
	/*border-top:none;
	border-top-color:rgba(255,255,255,.5);
    border-top-width:1px;*/
	border-bottom:none;
}

.dataCent{
	width: 1114px;
	margin:0 auto;
}
.data-crumbs{
	height: 68px;
	line-height: 70px;
}
.data-crumbs a{
	color: #343434;	
	font-size: 14px;
}

.data-crumbs i{
	margin: 0 5px;
}
.dataBox{
	padding-bottom: 30px;
	position:relative;
}
.dataBox .dataImg{
	width: 420px;
	height: 420px;

}
.dataBox .dataImg img{
	border: #E5E5E5 solid 1px;
}

.dataBox .dataR{
	width: 632px;
	padding-left:50px; 
	position: relative;

}
.dataBox .dataR h2{
	font-size: 24px;
	color: #000;
	margin-bottom: 30px;
}


.dataBox .dataR ul li label{
	width: 58px; 
	margin-right: 20px;
	font-size: 14px;
	color: #4e4e4e;
	vertical-align:middle;
	position: relative;
	top:10px;
}
.detailsAPI .dataR ul li label{
	width: 70px; 
	margin-right: 20px;
	font-size: 14px;
	color: #4e4e4e;
	vertical-align:middle;
	position: relative;
	top:10px;
}
.dataR ul li{
	height: 57px;
	
}
.dataR ul li div{
	position:relative;
	color: #4e4e4e;
	
}
.dataR ul li div p{
	line-height: 22px;
	position: relative;
	top:4px;
}

.dataR ul li button{
	width: 74px;
	height: 38px;
	line-height: 30px;
	font-size: 16px;
	border: none;
	color: #4e4e4e;
	background: #fff;
	border: #e5e5e5 solid 1px;
	margin-right:16px;
	border-radius:2px; 
	position: relative;
	font-family:"微软雅黑";
	overflow: hidden;
}

.dataR ul li strong{
font-size: 26px;
color: #d00000;
position: relative;
top:10px;
left:-2px;
font-family:Arial Regular;
font-weight:normal;
}
.dataR ul li strong:nth-last-child(1){
	text-decoration: line-through;
    color: #d00000;
	

}
.dataR ul li strong em{
	font-size: 18px;
    color: #6e6e6e;
    padding-left:10px; 
}
.dataR ul li .click{
	background: #2499fb;
	border: #2499fb solid 1px;
	color: #fff;
}
.dataR ul li .clickTime{
	background: #2499fb;
	border: #2499fb solid 1px;
	color: #fff;
}
.dataR ul li span{
	color: #4e4e4e;
	font-size: 14px;
	margin-right:30px; 
	vertical-align: middle;
	position: relative;
}
/****/
.dataR ul li .text{
	width: 145px;
	height: 36px;
	border: #e5e5e5 solid 1px;
	border-radius:2px; 
	padding-left:10px; 
	margin-left:20px;
}


.btnBox{
	margin-top:55px; 

}
.buttoncar{
	width: 152px;
	height: 40px;
	background: #f4f4f4;
	border: #E5E5E5 solid 1px;
	position: absolute;
	top:0px;
	right: -10px;
	line-height: 40px;
	text-align: center;
}
.buttoncar i{
	width: 24px;
	height: 24px;
	background:url(../images/portal/car.png) no-repeat;
	display:inline-block;
	vertical-align:bottom;
	margin-right:10px; 
	
}
.btnBox button{
	font-size: 18px;
	height: 52px;
	border: none;
	background: #fff;
	margin-right: 30px;
	color: #fff;
	line-height: 52px;
	text-align: center;
	font-family:"微软雅黑";
}
.commodity .imgBox{
	padding: 0px;
	padding-bottom:72px; 
}
.commodity .imgBox h4{
	height: 50px;
	background: #f4f4f4;
	padding-left:24px;
	font-size: 18px;
	color: #000;
	line-height: 50px; 
	width: 1084px;
	margin-bottom:20px; 
}
.commoditys{
	margin-bottom:20px; 
}
/*插件样式*/
.form-control{
	position: relative;
}
.btnNew{
		background: none;
		border: none;
		width: 100%;
	}

	/*4.8*/
	.select .dropdown-menu{
		width: 262px;
		display: none;
		position:absolute;
		left: 0px;
		top:35px;
		background: #fff;
		border: #e5e5e5 solid 1px;
		border-top:none;
		 padding-bottom:10px;
		 overflow: hidden;
	}


	.select .dropdown-menu li{
		line-height: 24px;
		height: 24px;

	}
	.select .dropdown-menu li label{
		top:0;
		left: 10%;
	}
	
.dataBox .dataR .select .dropdown-menu li label{
		width: 88%;
		top:0;
		left: 10%;
	}



	.btnNew em{ width:90%; height:30px; display:block;}

/*4.8*/
	.btnNew .caret{ position:absolute; right:-20px; top:50%}
	.select .dropdown-menu label{ width:100%; display:block}
	.dropdown-menu .active{
		background-color:#4AAFD1;
	}
	.btnNew .caret{
		display: inline-block;
		width: 0;
		height: 0;
		margin-left: 2px;
		vertical-align: middle;
		border-top: 4px dashed;
		border-top: 4px solid\9;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
		
	}
	
	
	
/*结算页面*/	
	.seetlentBox{
		padding-top: 50px;
	}
	.seetlentBox .seetT{
		padding-bottom:20px; 
		position: relative;
	}
	.seetlentBox .seetT h2{
		font-size: 22px;
		color: #343434;
	}
	/*结算-步骤*/
	/****/
	.step{
		position: absolute;
		width: 420px;
		left: 65%;
		top:-25px;
	}
	.step_top .sl{
		width: 172px;
		display:inline-block;
		border-top:1px solid #95cfff; 
	}
	
	
	
	
	
	
	
	.step_top .sl i{
		height: 10px;
		width: 10px;
		overflow: hidden;
		background: #95cfff;
		position: absolute;
		top:12px;
		left: 0px;
		border-radius:50%; 
	}
	
	
	/***/
	.step_top .sr{
		width: 172px;
		display:inline-block;
		border-top:1px solid #929292; 
	}
	.step_top .sr i{
		height: 10px;
		width: 10px;
		overflow: hidden;
		background: #2499fb;
		position: absolute;
		top:12px;
		left: 172px;
		border-radius:50%; 
	}
	
	
	
	/**/
	.step_top .sr .r1{
		left: 347px;
		background: #929292;
	}
	
	
	.step_bottom{
		position: relative;
	}
	.step_bottom em{
		font-size: 14px;
		position: absolute;
		
		top:6px;
	}
	.step_bottom .sone{
		color: #95cfff;
		left: -24px;
	}

	.step_bottom .stwo{
		color: #2499fb;
		left: 126px;
	}
	/***/
	.step_bottom .sthree{
		color: #929292;
		left: 300px;
	}

.settlement-content{
	 border: #f3f3f3 solid 1px;
	 padding: 20px 20px;
}
.settlement-content li h3{
	font-size: 18px;
	color: #000;
}
.settlement-content .tabox{
	width: 968px;
	background: #e4f3ff;
	margin-left: 50px;
	margin-top: 10px;
	padding: 30px 0;
}

.settlement-content .listone .test-table{
	width: 100%
}
.settlement-content .listone .test-table a{
	font-size: 14px;
	color: #000;
}
/****/
.settlement-content .listone .test-table td{
	text-align: center;
	font-size:16px;
	color:#343434;
}
.settlement-content .listone .test-table span{
	font-size: 14px;
	color: #2499fb;
}
.settlement-content .listone .test-table b{
	width: 20px;
		height: 20px;
		display: inline-block;
		background:url(../images/portal/update.png) no-repeat;
		vertical-align: middle;
		margin-right: 10px;

}
.clickBox button{
	    width: 98px;
	    height: 38px;
	    line-height: 30px;
	    font-size: 16px;
	    border: none;
	    color: #4e4e4e;
	    background: #fff;
	    border: #e5e5e5 solid 1px;
	    margin-right: 20px;
	    border-radius: 2px;
	    position: relative;
}
.clickBox .click{
	background: #2499fb;
    border: #2499fb solid 1px;
    color: #fff;
}

.invoicehide label{
	 margin-right:20px;
	 font-size: 14px; 
	 color: #000;
}
/****/
.invoiclist{
	margin-bottom: 6px;
	margin-top: 17px;
	margin-left: 51px;
}
.invoiclist .text{
	height: 36px;
	width: 280px;
	font-size: 14px;
	line-height: 38px;
	border: #e5e5e5 solid 1px;
}
.invoiclist select{
	border: #e5e5e5 solid 1px;
	height: 38px;
}
/****/
.btnBox{
	margin:32px 0px; 
	margin-left:51px; 
}
.btnBox .btn{
	 background: #929292;
	 padding: 0 12px;
	 height: 38px;
	 line-height: 38px;
	 font-size: 16px;
}


.Coupon{
	padding-left:35px; 
}
.Coupon label{
	font-size: 14px;
	color: #2499fb;
}

.Coupon select{
	width: 198px;
	height: 36px;
	border: #e5e5e5 solid 1px;
	margin-left:20px; 
}
.Price{
	height: 112px;
	text-align:right;
	padding-top:20px;  
}
.Price li{
	font-size: 14px;
	line-height: 30px;
	padding-right: 30px; 
}
.Price li i{
	
	color: #d00000;
}
.Price li span{
	padding-left:70px; 
}
.hr{
	height: 1px;
	overflow: hidden;
	background: #f3f3f3;
	margin: 30px 0 20px 0;
}
.SubmitBox{
	height: 90px;
	background: #f3f3f3;
	margin-top:0px;
	margin-bottom: 110px;
	text-align: right;
}
.SubmitBox p{
font-size: 16px;
color: #000;
padding: 20px 30px 0px 0px;
}
/***/
.SubmitBox span{
	font-size: 26px;
	color:#d00000;
	padding-right: 20px; 
	vertical-align: middle;
	/*font-family:Arial Regular;*/
	
}
.SubmitBox .submit{
	width: 120px;
	height: 50px;
	line-height: 50px;
	border: none;
	background: #d00000;
	color: #fff;
	font-size: 18px;

}
/*购物车订单*/
/****/
.order{
	padding-top: 30px;	
}



.order .settlement-content{
	border: none;
}
.order .settlement-content li h3{
	font-size: 22px;
	color: #343434;
}
.order .settlement-content .tabox{
	background: none;
}
.order .ordertab{
	width: 100%;
	height: 50px;
	background-color: #f3f3f3;
	margin-bottom:20px; 
}
.order .settlement-content .listone .test-table td,.order .ordertab td{
	text-align: left;
	font-size: 16px;
	color: #343434;
	vertical-align:middle;
}
.order .settlement-content .test-table td i,.order .ordertab td i{
	width: 16px;
	height: 16px;
	background:url(../images/portal/click1.png) no-repeat;
	vertical-align:middle;
	display: inline-block;
	cursor:pointer;
	position: relative;
	top:-2px;
	margin:0px 10px 0px 20px;
}
.order .settlement-content .test-table td .this,.order .ordertab td .this{
	background:url(../images/portal/click-this.png) no-repeat;
}
.order .settlement-content .listone .test-table{
	height: 102px;
	background-color: #e4f3ff;
	margin-top:10px; 
}

.order .settlement-content .listone .mrn i{ 
	width:auto; 
	height:auto; 
	background:none;
	
}
.settle{
	height: 50px;
	border: #f3f3f3 solid 1px;
	text-align: right;
	line-height: 50px;
	margin-top: 20px;
}
.settle span{
	font-size: 16px;
	color: #000;
	margin:0 20px;
}
.settle b{
	color: #d00000;
	font-size: 16px;
	
}
.settle em{
	color: #d00000;
	font-size: 16px;
	font-family: Arial Regular;
	vertical-align: middle;

}
.settle button{
	width: 120px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 18px;
	background: #2499FB;
}
.desk{
	padding:0px;
	margin-bottom: 200px;
}
.deskh{
	padding:0px 30px;
	height: 60px;
	line-height: 60px;
	background: #f4f4f4;
	width: 1052px;
}
.deskh h2,.deskh p{
	color: #000;
	font-size: 16px;
}
/****/
.deskh p strong{
	font-size: 26px;
	color: #d00000;
	vertical-align: middle;
	display: inline-block;
	padding-left:10px; 
	font-family: Arial Regular;
	font-weight:normal;
}
/**/






.deskpay{
	padding: 30px 70px;


}




/*****/
.deskpay .paysy{
	height: 70px;
}
/*****/







.deskpay .paysy span{
	height: 86px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
}
.payTab{
	border: #e4f3ff solid 1px;
	padding-bottom:30px; 
}
.payTab .tablist{
	height: 60px;
	line-height: 60px;
	background: #e4f3ff;
	padding: 0px 30px 0px 30px;
}
.payTab .tablist li{
	width: 120px;
	text-align: center;
	color: #000;
	font-size: 16px;
	position: relative;
	top:10px;
	cursor:pointer;
}
.payTab .tablist .active{
	background: #fff;
	height: 50px;

}
.pab{
	padding-top:40px;

}
.pab ul{
	padding:0px 30px; 
}
.pab ul li{
	width: 174px;
	height: 40px;
	border: #e4f3ff solid 1px;
	text-align: center;
	line-height: 40px;
	margin-right:10px; 
	margin-bottom:20px; 
	position: relative;

}
.pab ul li i{
	width: 18px;
	height: 18px;
	position: absolute;
	right:-2px;
	top:0px;
	background:url(../images/portal/Duigou.png) no-repeat;
	
}
.pab ul .activer{
	border: #d00000 solid 1px;
}
.pab ul li img{
	vertical-align: middle;
}
.btnBox{
	text-align: right;
}
.btnBox a{
	width: 178px;
	height: 50px;
	color: #fff;
	font-size: 18px;
	line-height: 50px;
	background: #d00000;
	text-align: center;
	display: inline-block;
}
.btnBox a i{
	background:url(../images/portal/qw.png) no-repeat;
	height: 18px;
	width: 18px;
	display: inline-block;
	vertical-align: middle;
	margin-left:10px; 
}



.service{
	/*height: 590px;*/
	background: #e5e5e5;
	padding-bottom: 0px;
}
.service .index_child{
	width: 1108px;
}
.service .listBox .child-newlist li{
	width: 536px;
	height: 302px;
	overflow: hidden;
}
.service .listBox .child-newlist p{
	width: 268px;
}
.service .listBox .child-newlist h4,
.service .listBox .child-newlist span,
.service .listBox .child-newlist .purchase{
	width: 222px;
	position:static;
}
.servicelistR{
	padding-top:50px; 
}
.service .listBox .child-newlist h4{
	padding: 0;
	margin-bottom: 20px;
}
.service .listBox .child-newlist .purchase{
	padding-top: 30px;
}
.service .listBox .child-newlist .purchase strong:first-child{
	text-decoration: line-through;
	margin-bottom: 20px;
}
.service .listBox .child-newlist .purchase strong:nth-last-child(2){
	text-decoration:none;
	position: relative;
	left: -20px;
	font-family:Arial Regular;
}
.service .listBox .child-newlist .purchase .btn{
	top:-40px;
	left:142px;
}
.detailsAPI .dataBox{
	margin-bottom:30px;
}
.detailsAPI .buttoncar b{
	position: absolute;
	width: 14px;
	height: 14px;
	line-height: 14px;
	background: url(../images/portal/pop.png) no-repeat;
	right:99px;
	top:-7px; 
	font-size: 11px;
	color:#fff;
	z-index: 100;
}
.detailsAPI .dataBox .dataR h2{
	margin-bottom: 24px;
	font-weight:bold;
}
.detailsAPI .dataBox .dataR{
	width: 640px;
}
.detailsAPI .dataR ul li button{
	width: 168px;
	font-size: 14px;
}
.detailsAPI .dataR ul li{
	*height: auto;
	*margin-top: 20px;
}
.detailsAPI .dataR ul li div p{
	padding-bottom: 30px;
	font-size:14px;
}
.detailsAPI .btnBoxs{
	width: 64px;
	/*width:74px;*/
	height: 36px;
	border: #e5e5e5 solid 1px;
	overflow:hidden;
}
.detailsAPI .btnBoxs .text{
	height: 36px;
	width: 46px;
	line-height:36px;
	border: none;
	padding: 0;
	text-align: center;
	margin:0;
	
	
}
.detailsAPI .btnBoxs span{
	height: 100%;
	width: 18px;
	margin-right:0px; 
	background: #f4f4f4;
	text-align: center;
}
.detailsAPI .btnBoxs span em{
	display: block;
	cursor:pointer;
	height: 16px;
	line-height: 17px;
	*line-height: 16px;
}
.detailsAPI .btnBox button{
	border-radius: 2px;
}

.apicent .apiL{
	width: 250px;
	border: #e5e5e5 solid 1px;
	margin-right: 50px;
}
.apicent .apiL dt{
	height: 50px;
	background: #f4f4f4;
	line-height: 50px;
	color: #2499FB;
	font-size: 18px;
	padding-left:20px; 
}
.apicent .apiL dd{
	height: 60px;
	line-height: 60px;
	background: #fff;
	font-size: 16px;
	color: #343434;
	border-bottom: #e5e5e5 solid 1px;
	padding-left:20px;
	cursor:pointer;
}
.apicent .apiL dd:nth-last-child(1){
	border-bottom: none;
}
.apicent .apiL .active{
	background: #2499FB;
	color: #fff;
}
.listtab{ display:none;}
.apicent .apiR ul li{
	margin-bottom: 12px;
}
.apicent .apiR ul li label{
	color: #000;
	font-size: 14px;
	padding-right: 14px;
	width: 70px;
}
.apicent .apiR ul li .centapi{
	float: left;
}
.apicent .apiR ul li .centapi p{
	font-size: 14px;
	color: #4e4e4e;
}
.tableapi{
	border: #e5e5e5 solid 1px;
}
.tableapi thead tr{
 height: 42px;
 line-height: 42px;
 background: #f4f4f4;
 text-align: left;
 border-right: #e5e5e5 solid 1px;

}
.tableapi thead tr th{
	border-right: #e5e5e5 solid 1px;
	color: #000;
	font-size: 14px;
	text-align:center;
}

.tableapi tbody tr{
 height: 36px;
 line-height: 36px;
 text-align: center;

}
.tableapi tbody tr td{
	border: #e5e5e5 solid 1px;
	color: #4e4e4e;
	font-size: 14px;
	 text-align: left;
	 padding-left:50px;
}
.tableapi tbody tr .aw{
	text-align: left;
	padding-left:34px;
}
.cent-div{
	padding: 40px 50px;
	background: #f4f4f4;
	width: 618px;
	line-height: 24px;
	margin-bottom: 8px;
}
.capi{
	/*border: none;*/
	border-top:none; 
}
.capi thead tr th{
	padding-left: 50px;
}
.capi tbody tr td{
	padding-left: 50px;
}
.detailsAPI .buttoncar{
	font-size: 14px;
	color: #5e5e5e;
}
.detailsAPI .buttoncar i{
	position: relative;
	top:-8px;
	left: 2px;
	*top:0px;
}
.mask{ 
		width:100%; 
		height:100%; 
		background:rgba(255,255,255,.8); 
		position:absolute; 
		left:0px; 
		top:100%; 
		z-index:10; 
		line-height:302px;
}
.mask h6{ 
		text-align:center; 
		font-size:20px;
		color: rgb(0, 0, 255);
}

/*修改二级首页*/
.chlid-index .bannerB .bannerHeight{
	height: 400px;
}
.chlid-index .bannerB .bannerHeight li{
	width: 2002px;
    position: absolute;
    left: 50%;
    margin-left: -1001px;
    display: none;
}
.chlid-index .bannerbtn{
	left: 46%;

}
.chlid-index .vb{
	position: relative;
}

.chlid-index .vb .lb_font {
    position: absolute;
    font-size: 14px;
    text-align: center;
    color: #fff;
    z-index: 200;
   
}

.chlid-index .vb .lb_font strong{
	font-size: 21px;
	color: #fbf809;
	/*color: #e7f50a;*/
	padding:0 6px;
}
.chlid-index .data{
	position: relative;
}
.chlid-index .data span{
	font-size:16px;
	font-family:"兰亭黑-简中黑";
	position:absolute;
	z-index:189;
	left:1000px;
	top:20px;
	font-weight:bold;
	color:#fff;
}
.chlid-index .data .lt{
	top: 55px;
    left: 1049px;	
}
.chlid-index .data .rt{
	top: 46px;
    left: 1307px;
}
.chlid-index .data .rm{
	top: 318px;
    left: 1320px;
}
.chlid-index .data .lm{
	top: 282px;
    left: 999px;
}
.chlid-index .data em{
	font-size:28px;
	font-family:"Calibri ltalic";
	color:#fcef62;
	font-style:italic;
	padding:0 10px;
	position:relative;
	top:2px;
}
.foot{
	padding-top: 20px;
	height: 60px;
	background-color: #323232;
}
/******/
.foot p{
	 text-align: center;
	  font-size: 12px;
	  color: #d8d8d8;
	  line-height:24px;
}

/*修改详情页购物车*/
.detailsR .buttoncar{
	font-size: 14px;
    color: #5e5e5e;
}
.detailsR .buttoncar b {
    position: absolute;
    height: 14px;
    line-height: 14px;
  	background: url(../images/portal/pop.png) no-repeat right ;
  	background-size:cover;
    right: 99px;
    top: -7px;
    font-size: 11px;
    color: #fff;
    z-index: 100;
    min-width: 14px;
}
.detailsR .buttoncar i{
	position:relative; 
	top:-8px;
	left:2px;
}


/*订单详情*/
.detaails .user_right{
	margin:0 auto;
    width: 1004px;
    min-height: 500px;
}
.detaails .user_right .gj_top {
    margin: 20px 20px 24px 20px;
    border-bottom: 1px solid #e0e0e0;
    width: 950px;
    font-size: 14px;
    padding-bottom: 18px;
    color: #999;
}
.detaails .user_right .aelse {
    color: #999;
}
.detaails .user_right .acur {
    color: rgb(69, 147, 253);
}
.Ordernumber{
	margin: 20px 20px 24px 20px;
}

.Ordernumber > p{
	font-size: 14px;
	
}
.Ordernumber > p > span{
	color: #000;
	font-size: 16px;
}
.user_right .coupontab{
	margin: 20px 20px 24px 20px;
	width: 950px;
}


/*头部修改样式*/
.safe01 .safeL>.dividing-line{
	width: 1px;
    height: 28px;
    position: relative;
    top: -3px;
    background-color: rgba(255,255,255,.7);
    display: inline-block;
    margin: 0 16px;
}
.safe01 .safeL strong{
	font-size:22px; 
	color:#fff;
	position:relative; 
	top:-10px; 
	font-weight:normal;
	font-family:"方正兰亭黑-GBK Regular";
}
/*购物车为空样式*/
.emptyBox{width:400px; height:300px; margin:0 auto; margin-top:100px;}
.emptyBox p{font-size:16px; padding-left:20px; position:relative; top:15px;}

/*头部 登录用户名 缩写样式*/
.safer .loginname{
	width:130px; 
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis; 
	font-size:20px;
	text-align:right;
}

/*waf商品详情页*/
.dataR .waf_ip_list li > .text{
	margin-left: 0;
}
.dataR .waf_ip_list{
	height: auto;
}
.dataR .waf_ip_list li{
	position: relative;
	left: 76px;
	top:-38px;
	height: 36px;
	margin-bottom: 10px;
}
.dataR .waf_ip_list li i{
	position: relative;
	top:5px;
	margin-left: 30px;
	margin-right: 4px;
	cursor: pointer;
}
.dataR .waf_ip_list li span{
	font-size: 14px;
	color: #4e4e4e;
}
.dataR .waf_ip_list li span em{
	color: #929292;
}
/*waf商品详情页*/
.waf-datails .httpBox li{
	padding:8px;
	border-radius: 1px;
	border:#e5e5e5 solid 1px;
	margin:0 20px 10px 0;
	height:auto;
}
/*页面监测*/
.waf-datails .httpBox li em{
	font-size: 14px;
	color: #4e4e4e;
	padding-right: 10px;
}
.httpBox li i{
	width:20px;
	height:20px;
	background:url(../images/newdel.png) no-repeat left center;
	display:inline-block;
	vertical-align:middle;
	cursor: pointer;
}

/*设置域名名字*/
.name_domain .coupontab ul li{
	float: left;
	font-size: 14px;
	height: 42px;
	line-height: 42px;
	color: #343434;

}
.name_domain .coupontab ul .explain{
	color: #838383;
}
.name_domain .coupontab ul .explain .btn{
	margin-left: 20px;
	width: 180px;
	height: 42px;
	line-height:42px;
	background-color: #2499fb;
	display: inline-block;
}
.name_domain .coupontab dl {
	background-color: #f6f6f6;
	height: 150px;
	width: 828px;
	margin-top: 20px;
	padding: 40px 20px;
	color: #777;
	font-size: 14px;
	line-height: 30px;
}
.name_domain .coupontab dl dt{
	color: #777;
}
.name_domain h2{
 margin-bottom: 10px;
 font-size: 18px;
}
.name_domain .coupontab .bz{
	padding-left: 20px;
}
.name_domain .coupontab .bz li{
	color: #777777;
	line-height: 30px;
	height: auto;
	width: 98%;
}
.name_domain .coupontab h3{
	color: #b4b4b4;
	margin: 20px 0;
}
.open_up{
	border: #e5e5e5 solid 1px;
}

/*新增联系人*/
.listone_box{ background-color: #e4f3ff;  padding: 40px 40px 30px 30px; margin-top: 30px; display: none; clear:both; overflow: hidden;}
.show_name {
    font-family: "Microsoft YaHei", "微软雅黑", helvetica, arial, verdana, tahoma, sans-serif;
    
    height: 38px;
    color: #000;
    font-size: 14px;
    line-height: 38px;
    margin-bottom: 15px;
    
}
.n_txt1{display: inline-block; width: 60px; float:left;}
.c_input{ display: inline-block; width: 300px; float: left;}
.c_input input {
    width: 280px;
    height: 38px;
    padding-left: 5px;
    color: #000;
    background: #fff;
    line-height: 38px;
    border: 1px solid #a2d5ff;
   
}
.list_wrong{ width:300px; display: inline-block; color: #6a6a6a; float: left; margin-top: 12px;}
.list_wrong b{ width: 16px; float: left; height: 16px; background: url(../images/portal/notice.png) no-repeat; display: inline-block; margin-right: 10px;}
.list_wrong p{ float: left; line-height: 16px; font-size: 14px;}

.name_wrong{ width:300px;  color: #6a6a6a; display: none; float:left;  margin-top: 12px;}
.name_wrong b{ width: 16px; float: left; height: 16px; background: url(../images/portal/wrong.png) no-repeat; display: inline-block; margin-right: 10px;}
.name_wrong p{ float: left; line-height: 16px; font-size: 14px;}

.phone_wrong{ width:300px; color: #6a6a6a; display: none; float:left;   margin-top: 12px;}
.phone_wrong b{ width: 16px; float: left; height: 16px; background: url(../images/portal/wrong.png) no-repeat; display: inline-block; margin-right: 10px;}
.phone_wrong p{ float: left; line-height: 16px; font-size: 14px;}

.add_wrong{ width:300px;  color: #6a6a6a; display: none; float:left;   margin-top: 12px;}
.add_wrong b{ width: 16px; float: left; height: 16px; background: url(../images/portal/wrong.png) no-repeat; display: inline-block; margin-right: 10px;}
.add_wrong p{ float: left; line-height: 16px; font-size: 14px;}

.ad-tj{ width: 112px; height: 38px; background: #2499fb; color:#fff; font-size: 16px; margin-top: 30px; line-height: 38px;text-align: center; float: left; margin-right: 20px; }
.ad-tj a{ color: #fff;display:block;}

.cd-tj{width: 112px; height: 38px; background: #2499fb; color:#fff; font-size: 16px; margin-top: 30px; line-height: 38px;text-align: center; float: left; }
.cd-tj a{ color: #fff;display:block;}

.order .settlement-content li .listone_add{ float: right;  height:20px; line-height: 20px; color: #2499fb; cursor: pointer;}
.order .settlement-content li .listone_add b{
        width: 20px;
        height: 20px;
        display: inline-block;
        background:url(../images/portal/update.png) no-repeat;
        margin-right: 10px;
        float: left;

}
.order .settlement-content li .listone_add span{ display: block; width:110px;  }

/*waf商品详情页*/
.dataR .waf-datails .href_btn:hover{
	text-decoration:underline;
}

/*页面监测*/
.waf-datails .httpBox li{
	padding:8px;
	border-radius: 1px;
	border:#e5e5e5 solid 1px;
	margin:0 20px 10px 0;
	height:auto;
}
.waf-datails .httpBox li em{
	font-size: 14px;
	color: #4e4e4e;
	padding-right: 10px;
}
