<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.entity.AlarmMapper">
	<!-- 列集合 -->
	<sql id="cols">id,name,alarm_time,level,advice,alarm_content,url,taskId,alarm_type</sql>
	<!-- 结果对象 -->
	<resultMap type="com.cn.ctbri.entity.Alarm" id="Alarm">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="alarm_time" column="alarm_time"/>
		<result property="score" column="score"/>
		<result property="level" column="level"/>
		<result property="advice" column="advice"/>
		<result property="alarm_content" column="alarm_content"/>
		<result property="url" column="url"/>
		<result property="keyword" column="keyword"/>
		<result property="taskId" column="taskId"/>
		<result property="alarm_type" column="alarm_type"/>
		<result property="serviceId" column="serviceId"/>
		<result property="districtId" column="districtId"/>
	</resultMap>
	
	<!-- 插入报警信息 -->
	<insert id="insert" parameterType="com.cn.ctbri.entity.Alarm" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO cs_alarm 
		(name,alarm_time,score,level,advice,alarm_content,url,keyword,taskId,alarm_type,group_id,serviceId,districtId) 
		VALUES(#{name},#{alarm_time},#{score},#{level},#{advice},#{alarm_content},#{url},#{keyword},#{taskId},#{alarm_type},#{group_id},#{serviceId},#{districtId})
	</insert>
	
	<!-- 查询报警信息  -->
	<select id="findAlarm" parameterType="map" resultMap="Alarm">
		select * from cs_alarm
		WHERE 1 = 1
		<if test="name != null">
			AND name like #{name}
		</if>
		<if test="taskId != null">
			AND taskId=#{taskId}
		</if>
		<if test="alarm_type != null">
			AND alarm_type=#{alarm_type}
		</if>
		<if test="level != null">
			AND level=#{level}
		</if>
	</select>
	
	<!-- 根据orderid查询告警信息 -->
    <select id="findAlarmByOrderId" parameterType="String" resultMap="Alarm">
        <if test="websoc!=1">
	        SELECT a.*
	        FROM cs_order_asset oa ,cs_task t,cs_alarm a
	        WHERE oa.orderId=#{orderId} AND oa.id=t.order_asset_Id AND t.taskId=a.taskId
        </if>
        <if test="websoc==1">
	        SELECT a.*
	        FROM cs_order_asset oa ,cs_task t,cs_alarm a
	        WHERE oa.orderId=#{orderId} AND oa.id in(t.order_asset_Id) AND t.group_id=a.group_id
	    </if>
    </select>
    
    <!-- 查询本次告警信息 -->
    <select id="findAlarmBygroupId" parameterType="String" resultMap="Alarm">
	        select * from cs_alarm a where a.group_id = #{group_id}
    </select>
    
    <select id="findAlarmByTaskId" parameterType="Integer" resultMap="Alarm">
	        select * from cs_alarm a where a.taskId = #{taskId}
    </select>
    
    <!-- 更新地域告警数 -->
	<update id="updateDistrict"  parameterType="java.util.HashMap">
		update cs_district 
		<set>
			count#{serviceId}=#{count} + count#{serviceId}
		</set>
		where id = #{id}
	</update>
	
</mapper>