<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ctbri.dao.CntByTypeMapper">
  <resultMap id="BaseResultMap" type="com.cn.ctbri.model.CntByType">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="num" jdbcType="BIGINT" property="num" />
    <result column="day" jdbcType="DATE" property="day" />
    <result column="dst_ip" jdbcType="VARCHAR" property="dstIp" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, num, day, dst_ip, domain
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cntByType
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cntByType
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cn.ctbri.model.CntByType">
    insert into cntByType (id, type, num, 
      day, dst_ip, domain)
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{num,jdbcType=BIGINT}, 
      #{day,jdbcType=DATE}, #{dstIp,jdbcType=VARCHAR}, #{domain,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.ctbri.model.CntByType">
    insert into cntByType
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="day != null">
        day,
      </if>
      <if test="dstIp != null">
        dst_ip,
      </if>
      <if test="domain != null">
        domain,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=BIGINT},
      </if>
      <if test="day != null">
        #{day,jdbcType=DATE},
      </if>
      <if test="dstIp != null">
        #{dstIp,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        #{domain,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.ctbri.model.CntByType">
    update cntByType
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=BIGINT},
      </if>
      <if test="day != null">
        day = #{day,jdbcType=DATE},
      </if>
      <if test="dstIp != null">
        dst_ip = #{dstIp,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        domain = #{domain,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.ctbri.model.CntByType">
    update cntByType
    set type = #{type,jdbcType=VARCHAR},
      num = #{num,jdbcType=BIGINT},
      day = #{day,jdbcType=DATE},
      dst_ip = #{dstIp,jdbcType=VARCHAR},
      domain = #{domain,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectMaxDay"  resultType="java.util.Date">
  	select max(day) from cntByType
  </select>
  <select id="selectCntByType" resultMap="BaseResultMap" parameterType="map">
  		<![CDATA[ 	 select count(1) as num,dst_ip,domain,event_type as type ,date_format(stat_time,'%Y-%m-%d') as day
		from
		(SELECT  * from t_waf_log_websec  where 
		ip_latlong_valid=1 and src_ip<>'192.168.0.1']]>
		<if test="maxDate != null">
			 and date_format(stat_time,'%Y-%m-%d')>#{maxDate,jdbcType=DATE}
		</if>
			
		) t 
		group by dst_ip,domain,event_type,date_format(stat_time,'%Y-%m-%d')
	
  </select>
  <insert id="batchInsert" parameterType="map">
  		insert into cntByType (type,num,day,dst_ip,domain) 
  		  		VALUES  
    <foreach collection="list" item="member" index="index"  separator=",">  
        (#{member.type,jdbcType=VARCHAR}, #{member.num,jdbcType=BIGINT}, #{member.day,jdbcType=DATE}, #{member.dstIp,jdbcType=VARCHAR}, #{member.domain,jdbcType=VARCHAR})  
    </foreach> 
  </insert>
</mapper>